[2018-10-18 03:30] #1616 closed

[2018-10-18 03:52] nadavrot commented on #1884
@artemrakhov Can we come up with a way to reduce the number of operators by sharing some of the underlying elements (primitive nodes)?

[2018-10-18 05:13] #1570 closed

[2018-10-18 19:20] bertmaher opened #1886 "ConvBench should use libjit_convolution_D8KKC8"
It's using our fallback convolution now, which isn't important for performance.  Might need to fix the filter depth also so the output channels are reasonable.

[2018-10-18 19:21] bertmaher opened #1887 "ConvBench should use the layers of ResNet"
A parameter sweep is an OK starting point, but since we really care a lot about ResNet, we should test its perf explicitly.  I don't care too much whether it's done in addition to or in place of what's there (actually, maybe a slight preference to replace).

[2018-10-19 03:09] artemrakhov commented on #1884
Not sure how can we do it with this node. SparseLengthsSum does implicit in-memory gather, it accumulates elements right away. LengthsSum takes what needs to be accumulated as an input (e.g. from GatherNode or some other node), and does same accumulation.

[2018-10-19 17:50] qcolombet commented on #1837
That's the thing, when you start to reassociate things around, merge operators and so on, all bets are off. I believe we could only define such threshold if we were to account for all the precision changes induced by all optimizations, including the ones in the backend.

The bottom line is when using "fast-math" the only thing that you can test is that it looks reasonable :(.

[2018-10-19 19:42] bertmaher opened #1895 "Add Int32ITy to the type system"
We'd like to have a 32-bit integer index type.  Currently our only index type is 64 bits (`Int64ITy`), and our 32-bit integer type is for quantized values (`Int32QTy`).  We can use this new type in places where Caffe2/ONNX specify 32-bit integer input tensors.

[2018-10-22 16:59] #1885 closed

[2018-10-22 17:32] gcatron opened #1904 "Pass Context at runtime not compile time"
In order to facilitate multi-threaded execution context passing needs to be moved from compile time to runtime.  **This will break the current API!**

At compile time, constant weight allocation will remain unchanged, however Placeholder memory will no longer be allocated at runtime. The expected sizes will be calculated from the the Placeholder types.

At runtime (ExecutionEngine::run) the contex

[2018-10-22 17:40] nadavrot commented on #1904
@gcatron Thanks for doing this work. I have a question about the migration plan. Maybe I missed somethings. Would it make sense to start the process by adding the ctx parameter to run? I think that if you start by moving the ctx parameter to run you won't need to add the new executeCtx and compileCtx APIs.

[2018-10-22 17:50] gcatron commented on #1904
We probably could get away without compileCtx for sure. My reasoning for adding executeCtx was to maintain an unbroken execution flow. I think the runtime allocation logic will need to reside in the execute method implementations as opposed to run. (would be happy to be wrong on that point)

[2018-10-22 18:07] bertmaher commented on #1904
I think the end state is the right one.  But I'd second @nadavrot on avoiding adding the *Ctx versions if it's possible.  Since there are a ton of tests to port anyways, I worry that you'll find yourself spending a ton of time swizzling names :-p.  (Sometimes you can do these migrations quickly with `sed` but if not it's a lot of manual pain).

[2018-10-22 18:16] gcatron commented on #1904
Perhaps an optional parameter passed to execute? Then when we're ready we just remove the optional part? This way there's only runctx added.

[2018-10-23 03:42] SplitInfinity opened #1909 "[Importers] Move "run and compare" tests from importer tests to operator tests"
In light of @artemrakhov 's [comment](https://github.com/pytorch/glow/pull/1897#discussion_r227127804) on #1897, I propose moving all of the "run and compare output" tests out of the Caffe2 and ONNX importer tests and into the operator test. The importer tests should only check that graph structure is as expected.

[2018-10-23 04:13] #1702 closed

[2018-10-23 15:12] #1704 closed

[2018-10-23 18:38] qcolombet opened #1914 "Is writePngImage broken?"
I wrote a simple test in #1913 that reads an image in a tensor, writes the tensor in a new image, and reads the new image in another tensor.
I was expecting the tensors from both read to have the same values, but that's not the case.
Moreover, the file written with writePngImage is black and its size is strange.

Am I using writePngImage incorrectly (e.g., the range parameter) or is there a bug?

[2018-10-23 21:49] yinghai opened #1916 "Support multiple inputs on `Sum` op"
`Sum` currently supports 1 or 2 inputs. In some use cases, we have more than that. We need to support those too. Example:
[code]

[2018-10-23 22:09] bertmaher commented on #1916
What do you think about loading this as a tree of binary `Sum`s?

[2018-10-23 22:09] yinghai commented on #1916
Yeah, normally how do we name those internal nodes?

[2018-10-23 22:10] nadavrot commented on #1916
Another possibility is to represent this as concat + batched add.

[2018-10-23 22:10] yinghai commented on #1916
Do we have batched add?

[2018-10-23 22:13] SplitInfinity commented on #1916
@yinghai

Yes, we do:

[code]

[2018-10-23 22:14] SplitInfinity commented on #1916
Actually wait, maybe @nadavrot meant to say `BatchedReduceAdd`?

[2018-10-23 22:19] bertmaher commented on #1916
Concat often doesn't take any extra memory, because we just direct its inputs to be written consecutively in memory.  If that's the case, concat+batched reduce add is probably the way to go.  (Boo, I thought I had it right for once :-p ).

[2018-10-24 00:28] SplitInfinity commented on #1884
@rdzhabarov

Do we need ONNX support for this as well? If so, I can do both in one PR this time.

[2018-10-24 01:28] yinghai commented on #1916
Thanks, folks. I just added a PR for that. Getting into it. :)

[2018-10-24 10:55] tlepley-cadence opened #1921 "Failure when building tests (gmock)"
I'm having issues compiling tests. It started few weeks ago.
I tried to do a clean rebuild from scratch, and I get the same result.

Any idea what's wrong ?

**Compiler(s)**:
It failed with both gcc 8.1 and gcc 8.2. I tried with clang 7.0 and it fails somewhere else.
gcc 8.2 is: gcc version 8.2.1 20181011 (Red Hat 8.2.1-4) (GCC)

**CMake command**:
``
cmake       -G Ninja       -DCMAKE_PREFIX_PATH

[2018-10-24 13:58] #1916 closed

[2018-10-24 16:00] qcolombet commented on #1921
Hmm, that's strange, this specific construction is supposed to be defined in gtest/internal/gtest-port.h, which is included in gmock/internal/gmock-port.h, which is itself include in gmock/gmock-matchers.h. Therefore this file should have no issue with that specific definition.

I guess you've already tried, but if not, could you remove the googletest directory and "git submodule update" it again?

[2018-10-24 17:30] rdzhabarov commented on #1704
As discussed offline, that's our custom extension.

[2018-10-24 17:31] rdzhabarov commented on #1884
@SplitInfinity

Yes, ONNX + CPU support will be needed.
Also, make sure that onnxifiGlow could support this operator as well.

[2018-10-24 18:37] rdzhabarov commented on #1697
Going to add this operator for ONNX/ONNXIFI support.

[2018-10-25 03:17] bertmaher commented on #1921
Wouldn't surprise me if our submodule bump of googletest landed on a revision that's broken for your compiler.  You could try pulling latest master to see if that works: `(cd tests/googletest/ && git fetch && git checkout origin/master)`

[2018-10-25 03:19] bertmaher commented on #1836
Closing since we're on CircleCI now!  Thanks @zrphercule!

[2018-10-25 03:19] #1836 closed

[2018-10-25 03:35] bertmaher commented on #1750
This has been fixed, should be good to go.

[2018-10-25 03:35] #1750 closed

[2018-10-25 15:12] tlepley-cadence commented on #1921
I think I figured out the problem. I had gmock and gtest includes installed in my system.
By using `-DCMAKE_PREFIX_PATH=/home/tlepley/pub` in the cmake command line, I get `-isystem /home/tlepley/pub/include` in the g++ command line before the gtest related `-I` options and the system headers get included before the glow headers, what created the inconsistency.

It think it would make sense to ens

[2018-10-25 16:20] qcolombet commented on #1921
Have you checked that fixes the problem?

I indeed would have hoped that given the includes are made with "" (instead of <>) gcc would look in user defined directories before looking in the system ones.

Checking the standard, the search order is implementation defined anyway, so all bets are off :(.

[2018-10-25 17:05] tlepley-cadence commented on #1921
@qcolombet for now, I simply moves the 'system' header files and checked that it compiles. I'm now going to experiment changes in the cmake files to put system includes later in the g++ command line. If it's succesful, I'll propose a PR.

[2018-10-25 20:33] #1873 closed

[2018-10-26 21:15] #1884 closed

[2018-10-29 22:45] rdzhabarov commented on #1697
closing this as the change was merged.

[2018-10-29 22:45] #1697 closed

[2018-10-29 22:53] rdzhabarov commented on #1436
Also, it needs to be implemented for ONNX loader for ONNXIFI.

[2018-10-29 22:56] rdzhabarov commented on #1436
@jackm321 one more warmup task

[2018-10-29 22:57] rdzhabarov commented on #1755
@jackm321 another option, feel free to ping me offline for any details.

[2018-10-30 22:22] rdzhabarov commented on #1914
Fixed by the PR above.

[2018-10-30 22:22] #1914 closed

[2018-10-30 22:23] rdzhabarov commented on #1837
@jfix71 @beicy could you update this issue whenever you have a time with the latest that was discussed.

[2018-10-30 22:56] rdzhabarov commented on #1640
@jackm321, this would be also interesting, you'll get a sense of how high-level graph optimizations are implemented in Glow and implement one more. You'd also touch model loader part as well as some debugging instrumentation as to how to dump graphs etc.

Let me know if you'd like to tackle this one.

[2018-10-31 04:16] beicy commented on #1837
Based the discussion with Summer:  For correctness: always compare the top-1 and top-5 accuracy of quantized model and the original fp32 model, and if the diff is less than 0.5%, it is accepted. That it, instead of comparing the quantization results between CPU and Interpreter backends, we should compare the top-1 and top-5 accuracy between quantized and original-fp32 model for each backend separa

[2018-10-31 12:20] sebap123 opened #1944 "Unclear explanation of dumpGraph"
I am trying to understand what is the output of -dumpGraph option and what is it's relation to -dump-ir option. Unfortunately, I couldn't find a lot explanation in documentation regarding that.

Doing some basic testing I see that for the same model (in my case resnet50) running using image-classifier I see different number nodes and different nodes all together (for both -dumpGraph and -dump-ir).

[2018-10-31 14:35] tlepley-cadence opened #1945 "About default compilation flags : -Wnon-virtual-dtor -fno-exceptions -fno-rtti"
We tried to compiled with Glow some code that was developed outside of Glow.

We've got compilation errors due to some of the default C++ compilation flags defined in `glow/cmake/modules/GlowDefaults.cmake`:
[code]
Is there a deep reason in Glow to disable exceptions and to have non virtual destructor ?

For instance, exceptions are usually very convenient for error management, and they could allo

[2018-10-31 15:38] compnerd commented on #1945
`-fno-rtti` and `-fno-exceptions` are relatively important.  They require that LLVM be built in the same manner.  Furthermore, they add a non-trivial amount of data to the binary which is also a problem.  I think that having an option to enable exceptions and RTTI (both need to be enabled or both disabled) would be reasonable.  We could introduce a top level option `GLOW_ENABLE_EXCEPTIONS` and def

[2018-10-31 16:25] jfix71 commented on #1837
We discussed modifying the Interpreter's kernels. One consideration here was to make their quantization schemes configurable so that the backend that being tested can tune it to use the same quantization implementation details. Another consideration was to always stay in integer (instead of moving to float for internal calculations) to increase its numerical stability. This would more closely mirr

[2018-10-31 16:39] jfix71 commented on #1944
Hi @sebap123, you are correct -- both `-dumpGraph` and `-dump-ir` operate after lowering, and also optimizations, are finished.

The difference is that `-dumpGraph` option simply dumps each layer of the graph at the Node level, including the type (element type and shape) of its inputs and outputs, its name (not necessarily matching the name of the nodes in the input graph as many were likely optim

[2018-10-31 17:31] rdzhabarov commented on #1945
This should be always legit. What it would do is to produce an error if you have a virtual method in a class but do not specify virtual destructor. And you'd almost always want to have virtual dtor in that case.

[2018-10-31 17:39] rdzhabarov commented on #1945
We had a long discussion about error handling, see [here](https://github.com/pytorch/glow/issues/1517) and ended up to rely on LLVM standard of handling those situations.

+1 to @compnerd suggestion, happy to review :-)

[2018-10-31 18:00] jfix71 opened #1947 "[ImageClassifier] Add option to calculate softmax from the output of the model"
Inference models may skip the final softmax op of the network. This means the probabilities printed by the ImageClassifier are incorrect, as it expects softmax to be the final op. We could calculate the softmax in the ImageClassifier itself. This would allow the user to see the probabilities even if the network is missing it. This would likely make sense as a command line option.

[2018-10-31 18:02] rdzhabarov commented on #1947
For testing purposes, you could use an existing model from Glow model zoo: densenet121

[2018-10-31 20:41] opti-mix opened #1948 "Make the execution of the Glow compiler more deterministic between multiple runs"
There are certain parts of the compiler that expose some levels of non-determinism. And I don't mean by this that numeric results of running an NN model are non-deterministic.

Instead, I mean that some observable (via logs, traces, debug prints) decisions made by the compiler internally may be non-deterministic.

For example, many backends statically assign memory addresses to weights and activat

[2018-10-31 20:43] sebap123 commented on #1944
@jfix71 thanks for clarification.

Yes, it would be helpful to have explanation in doc/help expanded by this. I'll do some PR shortly, that's a good suggestion.

[2018-10-31 20:50] sebap123 opened #1949 "Improvement to graph dumping"
Discussion on #1944 made me think about some extra improvement for information dump and I'd like to get your opinion on this.

How about dumps before lowering, that is on each of the stages (input graph, high-level, low-level)? Have you considered that? I think this would also be helpful to have it I couldn't find anything in sources. In long run it could even be expanded to LLVM/GCC level, where

[2018-10-31 21:19] rdzhabarov commented on #1949
@sebap123 one of the thing, you could simply instrument code manually, compile and run.

The matter of dumping something at any point is a one-line change. Adding more options might make loader options messy, but no strong opinion on this.

[2018-10-31 21:50] sebap123 commented on #1949
@rdzhabarov yes, I agree that code change can be done at any point. I'm not claiming it is ground breaking change :) But this will just make things so much easier, without the need for recompiling code.

This can be especially helpful for any problem reports. I'd find it much easier to just create a dump for my use case rather than need to made hand changes in code and recompile it.

As for making

[2018-10-31 22:59] nadavrot commented on #1949
@sebap123 I think that this is something to consider. Can you implement this feature in a clean/readable way? Let's take a look at the implementation and see what's possible.

[2018-10-31 23:50] rdzhabarov opened #1950 "[ONNXIFI] Identify incompatibility of ONNX operators in a more reliable way"
Currently, Glow implements full [ONNXIFI interface](https://github.com/onnx/onnx/blob/master/onnx/onnxifi.h) with some relaxed checks in several places.

More specifically [onnxBackendCompatibility](https://github.com/pytorch/glow/blob/master/lib/Onnxifi/onnxifiGlow.cpp#L160) does not really parse ONNX operator nor it checks input/output dimensions.
Instead, the method has a mapping between ONNX o

[2018-10-31 23:51] rdzhabarov commented on #1950
@jackm321 this could be a larger task to tackle.

[2018-11-01 16:29] gcatron opened #1951 "[Runtime] Factor runtime logic out of CompiledFunction"
With the work on #1904  CompiledFunction and it's inherited forms contain the runtime execution logic. It would be better to keep the function as a container that is acted upon. This would keep logic and storage separate.
Design a runtime API and migrate runtime functionality from CompiledFunction to new API.

[2018-11-01 18:29] qcolombet commented on #1921
May we close this?

[2018-11-01 20:12] sebap123 commented on #1949
@qcolombet yes, I agree with you. I was't aware of this PR. Having it merged it would be much easier to extend the whole thing with optimization info dumping.

[2018-11-01 23:35] #1947 closed

[2018-11-02 17:21] gcatron opened #1953 "[runtime] Pass Input Output Placeholder labels"
From the Context it's not easy to efficiently identify whether a placeholder is an input or output. This means all placeholders may be copied to and from the device. It would be good to pass this information to runtime to make device loading/unloading more efficient.

[2018-11-06 19:41] #1921 closed

[2018-11-07 00:13] qcolombet commented on #1517
Working on moving the verifier from assert-based to return-boolean, as discussed in https://github.com/pytorch/glow/issues/1517#issuecomment-415549954.

[2018-11-07 01:22] gcatron opened #1962 "Refactor CPU backend to use BackendUtils"
BackendUtils was introduced to contain common functionality across backends. Currently CPU Backend has it's own implementation of collectConstants. Refactor CPU Backend to use the BackendUtils version.

[2018-11-07 02:45] beicy commented on #1402
@rdzhabarov Our profiling doesn't support it yet. Will add it.

[2018-11-07 02:48] beicy commented on #1402
@rdzhabarov Our quantization procedure doesn't support it yet -- just do the regular FC quantization. We should enable rowwise quantization under some flag's control.

[2018-11-07 05:40] bertmaher opened #1965 "[wishlist] Pick a consistent option style for the model loader"
I just ran model-runner with the following parameters (image-classifier and text-translator share an  argument parse, so they probably have this problem too):
[code]
Can we please choose one among hyphen-style, underscore_style, and lowerCamelStyle?  I like hyphen-style the best, so if you choose that one you win brownie points from me ;-) ;-)

[2018-11-07 17:48] #1436 closed

[2018-11-07 19:52] gcatron commented on #1904
Documenting a conversation @opti-mix and I just had. A candidate API exposed by the backend,
Similar to JUnit beforeClass afterClass before after:
setupRuns x1
beforeRun, afterRun xN
tearDownRuns x1

[2018-11-07 19:59] gcatron opened #1967 "Convert RuntimeBundle to object."
RuntimeBundle is currently a struct which contains the information passed forward from compile time to runtime. It contains max allocations, constants, and symbol information. This is a general backend tool so it should be moved to BackendUtils. It should also be made into a class so accessors like getSymbolOffset can be called. The backends will need to be updated as well.

[2018-11-07 20:00] bertmaher opened #1968 "Make dumpImpl(Tensor*) take a const Tensor*"
Printing a Tensor shouldn't change its contents.  I think it currently takes a mutable pointer because it creates a Handle, and historically we couldn't handle const Handles.  I suspect the situation is better now so let's try to const-ify dumpImpl.

[2018-11-07 20:01] bertmaher commented on #1968
Yeah, #1722 made `getHandle` on a const Tensor possible, so let's do this.

[2018-11-07 20:22] yinghai opened #1970 "Need to support `BatchMatMul` and `ExpandDims` in ONNXIFI loader"
Glow already supports those ops. We just need to update the ONNXIFI loader to do it.

[2018-11-07 22:15] rdzhabarov commented on #1970
I'll check the expand dims really quick, should be trivial (i hope :D)

[2018-11-07 22:17] jackm321 opened #1973 "ModelRunner failing assertion"
example:
`$ ./bin/model-runner -model=shufflenet/model.onnx -dumpGraphDAG=shufflenetDAG.dot
Assertion failed: (tensors_.count(name) && "There is no tensor registered with this name."), function getTensorByName, file /Users/.../ProtobufLoader.cpp, line 33.
Abort trap: 6`

[2018-11-07 22:20] yinghai commented on #1970
`ExpandDims` is very trivial, just move it to loadCommonOperator.

[2018-11-07 22:37] rdzhabarov commented on #1970
Right on!

[2018-11-07 23:08] jackm321 commented on #1640
[shufflenetDAG.pdf](https://github.com/pytorch/glow/files/2559607/shufflenetDAG.pdf)
From looking at the whole graph this seems to happen a lot (16 times I think) so fixing this should remove 32 transposes

[2018-11-07 23:11] jfix71 commented on #1973
I'm guessing this is because when we run shufflenet with the `image-classifier` it takes the `-model_input_name` on the command line which is used to create a placeholder for the external input (image) Tensor.

@jackm321 Why were you trying to run it with the `model-runner`? I think as is, the `model-runner` is only useful for models that have all Constant inputs and a single output.

[2018-11-07 23:48] bertmaher opened #1976 "Build tools for "cosimulation" of networks"
This task is mostly for my own benefit ;-)

I've found it pretty useful to check intermediate results of networks against various backends to understand where things might be going off the rails.  There are a few things that I've built in a hacky local branch that I want to land in the main repo:
- A utility for converting png format images to raw binary Tensors.
- A utility for dumping Tensors to

[2018-11-08 00:06] opti-mix commented on #1976
Looking forward to see this functionality in action!

Two comments/suggestions:

We probably need to take care that these tensors are always written using the same byte-order, i.e. little-endian or big-endian, so that they can be read across different processors/HW accelerators.

It could be also useful to be able to cut a Graph at an arbitrary kind of node (e.g. at any Conv node), so as to easily

[2018-11-08 00:33] #1968 closed

[2018-11-08 00:34] bertmaher commented on #1976
Just as you wrote this I was writing a comment about how the I/O functions I've created don't handle endianness.  */me looks sheepish*

[2018-11-08 00:37] bertmaher opened #1979 "[wishlist] Migrate bundle building from make to cmake"
We have makefiles for the bundle examples, but there's no reason (as far as I can see) we couldn't create real cmake targets for them, which would make the workflow way more accessible.  I've automated some slightly different workflows this way, so happy to give advice to anyone who wants to try this.

[2018-11-08 01:17] nadavrot commented on #1979
The intent was to give people a small example that they can copy into their own programs. I think that @opti-mix first implemented this in a small shell script.

[2018-11-08 05:04] rdzhabarov opened #1982 "[quantization] Clean up temporary files used for serialization in tests"
There are some temporary files created for serialization of tensor node quantization info.
Temporary files which are created during the tests need to be removed.
Please, see `quantizationTest` `testSerialization` method.

[2018-11-08 17:01] jackm321 opened #1985 "Type error with Node and UseDef"
`Node` inherits from `UseDef<Node, NodeUse>` https://github.com/pytorch/glow/blob/master/include/glow/Graph/Node.h#L45.
`NodeUse::hasUser()` calls `.get()` on all stored instances of the second type parameter (`NodeUse` in this case) and compares against a given pointer to an instance of the first type parameter (`Node` in this case) https://github.com/pytorch/glow/blob/master/include/glow/Graph/U

[2018-11-08 18:38] jackm321 commented on #1973
I was trying to generate one of the .dot graphs and this looked like the most simple binary that ran ModelLoader but I ended up just using `image-classifier` which worked like you mentioned. @jfix71 thanks for the explanation. So this isn't really an issue then I guess?

[2018-11-08 19:20] jfix71 commented on #1973
@jackm321 Yeah, I think shufflenet only makes sense to run with `image-classifier` where you specify the Placeholder nodes. Otherwise you can't even build the graph to generate the dot file, as nodes are missing from the graph.

[2018-11-08 19:42] #1982 closed

[2018-11-08 19:51] qcolombet commented on #1985
Nice catch!
Should we just remove it or do you foresee a use case for this?

[2018-11-08 20:52] jackm321 commented on #1985
@qcolombet this method is actually used by `Instruction` https://github.com/pytorch/glow/blob/c4cd0a817de9b63948c8ce29aa5bb80b62208385/lib/IR/IR.cpp#L112 so we can't just remove it but given that this method is only used once there and doesn't seem like it actually generalized super well (due to the `.get()` call) maybe we should just move it to there. Any thoughts on this?

[2018-11-08 21:11] qcolombet commented on #1985
Removing this method is one option, though it seems generally useful (surprised we don't use it :P).
I am guessing `::get` is used in other instances so we cannot change its semantic.

Instead maybe we can introduce another getter that does what we want (e.g., `getParent()`).

What do you think?

[2018-11-08 21:22] gcatron opened #1988 "Move generateRuntimeBundle to BackendUtils."
GenerateRuntimeBundle has sufficient overlap between backends that it should be generalized and moved to BackendUtils. Generalize generateRuntimeBundles, and update Interpreter, CPU, and OpenCL backends to use new library function.

[2018-11-08 21:45] jfix71 opened #1989 "[TextTranslator] Quantized text translation is broken"
Looks like a FunctionConverter refactor broke quantized text translation.

Before (https://github.com/pytorch/glow/commit/96377be74fde8678a50ebf43e5b6f1bc62b40a9a):
[code]

After (https://github.com/pytorch/glow/commit/2a8f7d52246fe1014d0b95e11ce2effa0968139b):
[code]

[2018-11-08 22:57] jackm321 commented on #1985
@qcolombet `NodeUse` does have a `getUser()` method https://github.com/pytorch/glow/blob/6be3e3f00b9b0068b6e85e0c6af741ea4fb76329/include/glow/Graph/NodeValue.h#L216 which I think does what you're describing but then we'd have to make sure that `UseDef::hasUser()` calls this method instead of `.get()` for the `UseDef<..., NodeUse>` case but I'm not sure if there's a clean way of doing that. In my

[2018-11-08 23:03] qcolombet commented on #1985
Agree.

What I am suggesting is very pragmatic: use `getUser` (or whatever name makes sense) in `hasUser` and add a `getUser` in the instruction counter part of the UseDef NodeHandle (`Value` IIRC). If that seems too clunky (in particular I don't remember if it makes sense for `Value` to have such getter), let us just remove `hasUser` and expand in the assert like you were suggesting in the first

[2018-11-08 23:45] qcolombet opened #1992 "[ImageClassifier] Broken `-convert-inout-to-fp16` due to recent refactoring"
TL;DR We need to do the conversion from fp32 to fp16 of the data tensor (load image) after we compile not before.

When we landed #1910 we missed a subtle difference in the order we do things that leads to broken graphs when using `-convert-inout-to-fp16` alone for the image-classifier.

Basically, `-convert-inout-to-fp16` is responsible for changing the input and output placeholder from float32 t

[2018-11-08 23:46] qcolombet commented on #1992
Hey @jfix71!

Do you want to take a shot or should I?

[2018-11-09 00:04] jackm321 commented on #1985
@qcolombet yeah that sounds pretty practical, I'll do that, thanks

[2018-11-09 00:39] jfix71 commented on #1992
Whoops, good catch! I'll fix it.

[2018-11-09 00:58] qcolombet commented on #1992
Well I missed it during the review too :P.

[2018-11-09 03:10] qcolombet commented on #1517
First step in #1993.

[2018-11-09 16:54] jfix71 commented on #1989
@qcolombet Do you have any initial feeling/guess as to why this broke? The commit that appears to have broken it was intended to be NFC.

[2018-11-09 16:55] qcolombet commented on #1989
No idea, I'll take a look.

[2018-11-09 16:56] qcolombet commented on #1989
Oh, the one thing that could happen is the profile needs to be regenerated.

[2018-11-09 17:02] qcolombet commented on #1181
+1 on enabling opencl testing in our CI.
It bit us again in #1959

[2018-11-09 17:08] jfix71 commented on #1989
I regenerated it and unfortunately it's still broken 😕

[2018-11-09 17:10] #1992 closed

[2018-11-09 17:50] qcolombet commented on #1989
Thanks for double checking. Looking!

[2018-11-09 17:51] #1970 closed

[2018-11-09 18:50] qcolombet commented on #1989
For me 96377be is already acting strange (though not as strange as 2a8f7d5):
[code]

Anyway, investigating.

[2018-11-09 19:29] jackm321 commented on #1640
To summarize a discussion with @jfix71, @rdzhabarov, and I, this seems to be a little bit difficult to make a general solution to. It would be nice if we could see a transpose in the graph and walk upwards through a series of single-output nodes in the graph or even a dag to look for the opposite transpose (as in the first and last transposes in the picture above) and then remove them and transfor

[2018-11-09 20:01] qcolombet commented on #1989
I think I found the bug. I believe this is another instance of #1832 where essentially we decide new quantization parameters for the result of an operation and apply them, whereas the execution expects the output parameters to be the same as the input parameters. This instance of the bug is particularly nasty because usually the operators that have such constraints check it in the verifier, wherea

[2018-11-09 20:05] opti-mix commented on #1181
It seems like if pocl is installed on the system (by means of apt-get or any other package manager), we would need to add something like `GLOW_WITH_POCL` option to cmake and then in the CMake file in the OpenCL backend we'd need to replace this:

[code]

by something like:
[code]

This would prefer pocl to the native OpenCL libraries if GLOW_WITH_POCL was configured.

[2018-11-09 20:38] jfix71 commented on #1989
@qcolombet Thanks for investigating this!

I'm now also wondering why your output using https://github.com/pytorch/glow/commit/96377be74fde8678a50ebf43e5b6f1bc62b40a9a is different than mine...

[2018-11-09 22:36] qcolombet commented on #1989
Yeah, that part was weird. Also I tried to run a debug version of the text-translator and I ended up with complete garbage. It smells like uninitialized memory of some sort, but it could simply by my build being in a weird shape!

[2018-11-10 01:00] ayermolo opened #1998 "Update fp16 library"
There was a fix on their master branch for building with Visual Studio.

[2018-11-10 01:06] qcolombet commented on #1989
After looking closer, we have theoretically the same bug for transpose and reshape. It wouldn't manifest though because right now our quantization profiler won't use different a scale and offset for them. If you apply a profile manually baked, you can expose the bug though.

Fix is in #1999.

[2018-11-10 01:09] qcolombet commented on #1989
Hey @jfix71! I didn't mark #1999 as fixing this issue, because I still get the garbage output after the correct translation is printed, thus, consistent with what I saw with 96377be.
If you can try #1999 on your side and see if you still have an issue that would at least means that I am looking at something different :).

[2018-11-10 03:58] jfix71 commented on #1989
@qcolombet It's working for me with https://github.com/pytorch/glow/pull/1999, thanks!! Now we should investigate why we're seeing different output...

[2018-11-10 04:00] qcolombet commented on #1989
Essentially I think the eos token doesn’t go through. Why I don’t know, but that’s work for another day :).

[2018-11-10 05:11] lygstate commented on #1998
I've update locally, waiting for cmake to merge:)

[2018-11-12 19:08] ayermolo commented on #1998
@lygstate Are you referring to #1851? I think there was a request for change.

[2018-11-12 19:32] yinghai opened #2003 "[wishlist] Use Jemalloc in one of the CI tests"
Facebook uses Jemalloc for allocation. It seems to have different behavior regarding allocation 0 bytes. We can try to use jemalloc in CI to flush the problem in OSS CI earlier.

[2018-11-12 20:07] rdzhabarov commented on #2003
The right solution would probably be to have bidirectional sync between fbcode and github on a per commit bases.

[2018-11-12 20:10] yinghai commented on #2003
Bidirectional sync is very dangerous...

[2018-11-12 20:31] rdzhabarov commented on #2003
By this I mean to use standard set of tools like ShipIt and ImportIt.

[2018-11-12 20:39] jfix71 commented on #1640
@jackm321 Thanks for the analysis! Overall I think it makes sense to pattern match this reshape-transpose-reshape pattern and sink the transpose below it.

However just to note, one alternative here could be to add a node for `ChannelShuffle` so that `sinkCode()` better understands what's happening -- it would see `TransposeNHWC2NCHW-ChannelShuffle-TransposeNCHW2NHWC` and more easily understand ho

[2018-11-12 22:57] jackm321 commented on #1640
@jfix71 I this is a good point, I thought about this approach as well (adding a `ChannelShuffleNode`). I feel like I don't have enough context yet to know which solution will be better overall. I think this specific GraphOptimization might be cleaner with a new node but as you said it may add more complexity in other places. I currently have a working solution to this specific issue that doesn't i

[2018-11-12 23:03] jfix71 commented on #1640
@jackm321 In this case I think it makes sense to not add a new node because we can somewhat easily determine what the `ChannelShuffle's` parameters were from the `Reshape-Transpose-Reshape`.

[2018-11-13 04:59] rdzhabarov commented on #1953
it's not fixed

[2018-11-13 19:08] jackm321 opened #2013 "[GraphOptimizer] graph optimizer doesn't optimize away non-inverses consecutive Tranposes"
Two tranposes next to each other in the graph could be collapsed into a single tranpose but this isn't done by the GraphOptimizer. I haven't seen this in any network and maybe it's not a situation that is likely to arise from any real network.

[2018-11-13 19:43] #1904 closed

[2018-11-13 20:05] jfix71 commented on #1469
Related -- once we have constant folding implemented, it would be great to extend the optimizer to recognize commutative patterns like this (seen in en2gr) which could also use constant folding:

<img width="424" alt="screen shot 2018-11-13 at 12 04 10 pm" src="https://user-images.githubusercontent.com/1198212/48439884-48309e80-e73c-11e8-9bb9-a174b26b5a19.png">

[2018-11-13 21:30] SplitInfinity commented on #1979
I decided to do this since I need learn cmake anyway for one of my other big tasks. I can't figure out how to get `add_executable` to pick up and link against an object file built using `add_custom_command` (i.e. the bundle) and well as dynamically link against `libpng`. Once I have have that, I will be able to post a PR.

cc: `cmake` master @compnerd

[2018-11-13 22:18] #1989 closed

[2018-11-14 00:16] jackm321 commented on #1688
This can be closed right?

[2018-11-14 00:20] SplitInfinity commented on #1979
Never mind, figured everything out and posted a PR!

[2018-11-14 00:42] qcolombet commented on #1989
All right, found that was the issue for my gibberish outputs.
I was running a buggy profile that was performing a rescale with a very small scale that ended up clipping EOS on something else x).

[2018-11-14 00:46] jfix71 commented on #1989
Huh, as in you were using a profile that was dumped with a different version of the `text-translator`? Not something we need a bug fix for?

[2018-11-14 00:48] aturetsk commented on #1688
@jackm321, I don't think this has been fixed. Optimizations keep replacing node uses with newly created nodes w/o removing old nodes.

[2018-11-14 01:02] qcolombet commented on #1989
A buggy text-translator version, yes :).

We may have something to fix, but I don't know how to reproduce the problem :S.

To be honest, I don't even know how I ended up with a broken version of the profile. I know I was running a broken compiler (the quantization bug fixed with #1999), but I don't see how this version of text-translator would have produced a buggy-profile given the float version

[2018-11-14 01:06] qcolombet commented on #1989
Bottom line is the only thing we could fix is how to quit the text-translator :).

[2018-11-14 01:07] jfix71 commented on #1989
Yeah, and that's already been fixed -- so I guess we just hope it was due to Ctrl-C and move on 😅

[2018-11-14 01:08] opti-mix commented on #1989
@qcolombet @jfix71 To avoid such profile vs NN model mismatches in the future, could we compute and store some kind of a hash (over the graph) in the profile and then, when we try to load a profile, we would compare the stored hash with a hash of the current graph to see if they match?

[2018-11-14 01:13] jfix71 commented on #1989
@opti-mix Not sure it would have caught this problem, but I like that. It could ensure that there are no issues regardless of why the graph changed -- e.g. because a different model was loaded, or because a graph optimization changed, etc.

[2018-11-14 05:01] bertmaher commented on #1979
@nadavrot I was thinking about your comment on this issue, and I think it might be valuable to have a Makefile example bundle and a CMake example.  The CMake stuff in particular is non-trivial, and since CMake is pretty popular I could see people appreciating having an example of how to seamlessly integrate Glow.

[2018-11-14 05:35] nadavrot commented on #1979
@bertmaher @SplitInfinity I see the value of having tests that actually verify that a feature that we care about (AOT compilation) works. In that case, we absolutely need CMake file support.

[2018-11-14 21:03] bertmaher opened #2022 "Debug mode interpreter is really slow"
I don't know what we could do about this, but running resnet50 in Debug mode with the interpreter is just way too slow.  We could just say "don't do that", but since Debug mode is extremely useful for development I keep wishing it were faster.  I assume the problem is all the range checks on `.at()` during the convolutions but I don't know how to sidestep it while still providing some safety.

[2018-11-14 21:31] rdzhabarov opened #2023 "[Quantization] Make Int8 MaxPool and AvgPool handle different input/output fp32 dynamic ranges"
Currently both operations expect Scales and Offsets for inputs/outputs to be the same.
In reality, most common case would be a different quantization parameters for inputs/outputs.
There is a high chance that Max pool for example would increase the lower bound of possible values and hence output needs to have a smaller fp32 dynamic range.

There are several places which needs to be fixed:
* Implem

[2018-11-14 21:55] rdzhabarov commented on #2023
apparently avg pool already supports this. For max pool it'd make sense from the efficiency stand point to keep the same params as inputs.

[2018-11-14 21:55] #2023 closed

[2018-11-15 00:24] jackm321 opened #2026 "[ONNXIFI] onnxifi interface implementation can't identify invalid IDs"
The onnxifi interface implementation in its current form cannot distinguish between valid and invalid `onnxBackendID`s, `onnxBackend`s, `onnxEvent`s, `onnxGraph`s, etc. To do this it will need to actually track and update the set of IDs it has created and released.

[2018-11-15 17:54] nadavrot commented on #2022
How do you feel about the idea to add the method unsafe_at() and use it in the convolution unit tests?

Also, we could remove the second assert inside at() because the first one does this check internally.

[2018-11-15 21:49] yinghai opened #2033 "Indices input of BatchOneHot should be int32 instead of int64"
This is a left-over of https://github.com/pytorch/glow/pull/1987. Can be done similarly.

[2018-11-15 22:18] #1181 closed

[2018-11-15 23:05] tlepley-cadence opened #2037 "Issue with padding ?"
I've got an ONNX model with standalone Pad operations. I'm currently adding the support in Glow, including an optimization to merge this standalone Pad with Convolution.

Reading at ONNX and looking at the Glow code, I think that the Glow convolution doesn't correctly support ONNX padding (I didn't look yet at the Caffe2 padding).

In particular, the Glow code assumes that padding in the model is

[2018-11-16 00:38] tlepley-cadence commented on #2037
I just looked at different models:
- ONNX models from Glow
- ONNX model generated my ft2onnx (one of the converters from the pytorch project)

Actually, while the description of the padding attribute in the ONNX documentation looks similar for the various operators, I get a padding vector of a different size depending on the situation for 4D tensors. There is IMO a problem and I think that we shou

[2018-11-16 02:02] zakk0610 opened #2039 "[wishlist] support insert point in IRBuilder"
Hi glow team.
Currently the IRBuilder can not specify insertion point,
For example, there is no easy way to expand one LIR to many LIRs,

I think this is very important feature in Builder.

Thanks!

[2018-11-16 15:45] nadavrot commented on #2037
CC @beicy

[2018-11-16 16:52] gcatron opened #2040 "Change generateRuntimeBundle to only allocate values used by function."
GenerateruntimeBundle currently assumes all placeholders and constants in the module belong to the current function. Values should be filtered to only use values used by the current function. Sibling to #1599

[2018-11-16 18:37] qcolombet opened #2041 "Some checks are duplicated between the verifier and the Function::createXXX method"
In #2034 we realized that we were doing checks in the Function::createXXX method that are actually already performed by the verify method of the related nodes.

Instead of duplicating the logic, I would recommend to double check that all the checks in Function::createXXX are covered by ::verify checks and call ::verify on all nodes that we add to the function.

[2018-11-16 18:52] #1988 closed

[2018-11-16 19:07] beicy commented on #2037
@tlepley-cadence Thanks for posting this issue.

 So far, Glow only supports 2D convolutions.  For 2D convolution, the pads is for W*H, which is 4 numbers (the pads is based on the kernel dims). I think ONNX spec also means that if we take a look at their example: https://github.com/onnx/onnx/blob/master/docs/Operators.md#Conv
In addition,  the 2D conv ops in the ONNX models we are working on are

[2018-11-16 23:53] stoklund commented on #1766
@SplitInfinity Are you still working on this?

[2018-11-17 00:10] qcolombet opened #2045 "[Glow Runtime] Top Level Task"
This is the top level issue to track all the work we plan to do to make the glow runtime supports concurrent execution, pipelining, batching and so on.

At a high level, the idea for the runtime is to be able to:
- Enqueue inputs: Run input0, then run input1 as soon as the previous run is done, etc.
- Slice the inputs into batch size and transparently run them: Take N input and sequentially run th

[2018-11-17 00:13] #1998 closed

[2018-11-19 18:43] stoklund opened #2053 "Support enum members on nodes"
Currently, nodes defined by ClassGen can only have members that are scalars or vectors of scalars. When defining backend-specific nodes, it would be really helpful if we could add node members with `enum` type. At the moment, we do this by adding an `MemberType::Unsigned` member and casting to and from the real `enum` type. This is inviting type errors.

I suggest an interface like this:

[code]

[2018-11-19 18:59] stoklund commented on #2022
Assertions do slow you down, but even slower is not optimizing. The lack of inlining and register allocation at -O0 makes modern C++ seriously slow. When dealing with code that actually computes stuff, such as our interpreter, I will usually build with -O1 -g and rely on printf debugging as much as possible.

[2018-11-19 19:43] bertmaher commented on #1979
Probably want to update docs/AOT.md as well.

[2018-11-19 19:51] bertmaher commented on #2022
I had thought cmake's `RelWithDebInfo` would be this, but no, it just adds `-g` (and maybe drops from `-O3` to `-O2`).  I'm going to see about a custom mode that's Release without `-DNDEBUG`, and see how that fares.

[2018-11-19 19:58] SplitInfinity commented on #1766
@stoklund

No, I'll put it back up for grabs.

[2018-11-19 20:08] SplitInfinity commented on #1979
I'll send another PR to update the AOT docs, but let's also use this issue instead of the PR to discuss what to do with the other bundles and Makefiles.

I think we should add cmake support for all of the bundles and get rid of any that don't add additional value. If I understood @bertmaher 's comments on the PR correctly, the resnet50 bundle is sufficiently recent and complex to serve as a good e

[2018-11-19 20:38] stoklund commented on #2022
FWIW, I don't think there is much of a difference between -O1 and -O2 with clang. They might actually be identical. -O3 does more aggressive inlining.

[2018-11-19 20:41] bertmaher commented on #1979
I'm in favor of that approach (convert lenet_mnist to cmake and delete vgg19/zfnet512).

The more I've thought about it the less I like having a split between CMake and Make, and if I had to pick one for an example I'd choose CMake.  (My reasoning: getting this working in make is pretty easy, because make is very simple.  CMake is harder, so if someone's going to run into a wall with glow it'll be

[2018-11-19 20:49] ayermolo opened #2056 "[Feature request] Additional debug output"
Hi

Is there interest for patch, below, to be propagated in to glow? It dumps graphs before/after each optimization, and before/after lower.
https://github.com/pytorch/glow/commit/9c31ac96ef6f097adcf206e7ac30137891a994dc

[2018-11-19 21:30] bertmaher commented on #2056
Hmm... I like having additional additional observability, but I also kind of feel like this is really heavyweight.  If I turn on this option I'm going to get a metric ton of dot files, which gives me a lot to look at to find the one I'm interested in.  I might prefer just editing the code to add a dumpDAG when I need it.

Do you envision end-users wanting this, or just Glow developers?

I'm curiou

[2018-11-19 22:01] ayermolo commented on #2056
This is primarily for developers to see how each optimization affects the graph. It's similar to the -print-before-all and -print-after-all in llvm, but combines them in to one.

One potential improvement can be ability to specify specific optimization, like DCE, or ALL to dump out all?

[2018-11-19 22:41] nadavrot commented on #2056
When I debug graph transformations I usually add calls to dump() by changing the source code in GraphOptimizer.cpp. It's really easy to insert a call to dumpDAG or even call dumpDAG in the debugger. The problem with dump-before and dump-after is that I am flooded with information that I can't process.

[2018-11-19 22:45] nadavrot commented on #2053
We had this feature in ClassGen but we removed it last year. We had an arithmetic node that had an enum that specified if the node was Add, Sub, Mul, etc. It could be useful to search git log for the implementation.

[2018-11-19 23:01] jfix71 commented on #2053
@nadavrot We still have it ([see here](https://github.com/pytorch/glow/blob/master/tools/ClassGen/NodeBuilder.h#L102)), though it's currently unused. I believe it's only useful for adding a single enum with many different cases to a single node, e.g. as you mentioned for an Arithmetic node with Add, Sub, etc. modes, where those modes are enumerated in the node definition.

What @stoklund is sugges

[2018-11-19 23:05] jfix71 commented on #2056
I appreciate the idea. However one of my issues with it is that it will be hard to determine where each graph comes from during the optimization pipeline. Perhaps it could be nicer if a string name is given to each graph optimization that could be used in the name of the dot file. Or such a name could be used to specify what optimizations to write the dot files for before/after, instead of an all-

[2018-11-19 23:05] stoklund commented on #2053
I'm pretty sure we would need both of these features.

[2018-11-19 23:18] ayermolo commented on #2056
Hmm? It won't. There is monotonically increasing counter that is used and is appended to output name.
Convetion counter_optimizationName_{before,after}.dot

Not sure I follow the first part. Right now when outputDAG is involved a string is passed in. For my initial/internal implementation I just put the optimization name.

As I mentioned earlier, and you alluded to, this can be improved so that in

[2018-11-19 23:19] ayermolo commented on #2056
So is it something that has potential, and just needs refinement. Like controlling which optimization is dumped, or completely useless?

[2018-11-19 23:47] jfix71 commented on #2056
@ayermolo Sorry, I edited my comment right after I posted it 😄-- agreed it wouldn't be overwritten, but it would still be a little annoying to dump upwards of ~80 dot files and then determine where each comes from and where/when.

If you added a command line option to specify which optimizations to dump before/after it would be better. But it's also something relatively easy to just add into the c

[2018-11-19 23:49] opti-mix commented on #2056
This issue seems to be related to #1659, that was never finished.

IMHO, finishing the re-factoring along the lines of #1659 could be a good next step and could be used to define optimization pipelines and to implement  a fine-grained control over each optimization. This could include dumping graphs before/after all optimizations or only specific optimizations, skipping certain optimizations, stop

[2018-11-20 00:59] qcolombet commented on #2056
+1 on that @opti-mix said.
I thought we had an issue about that, but I can't find it.

[2018-11-20 01:48] ayermolo commented on #2056
Ah! yeah refactoring would be a way better way of doing this.  Feel free to close this one.

[2018-11-20 03:28] yinghai opened #2059 "[Bug] Overflow in FunctionSpecializer"
I encountered this piece of code:
https://github.com/pytorch/glow/blob/fc98cd34b8e7374e4494ef0db82623725b86b826/lib/Backends/CPU/FunctionSpecializer.cpp#L362-L364

This is not safe as the number of operands of the function (`e`) can exceed `63` and this will induce overflow/undefined behavior at
https://github.com/pytorch/glow/blob/fc98cd34b8e7374e4494ef0db82623725b86b826/lib/Backends/CPU/Function

[2018-11-20 03:36] yinghai commented on #2059
I wonder if we can just truncate and use the first 64 arguments by replace
https://github.com/pytorch/glow/blob/fc98cd34b8e7374e4494ef0db82623725b86b826/lib/Backends/CPU/FunctionSpecializer.cpp#L81
with
[code]

[2018-11-20 03:36] yinghai commented on #2059
@bertmaher @opti-mix

[2018-11-20 03:37] opti-mix commented on #2059
@yinghai Good catch! I agree that this will induce overflow/undefined if the number of operands of the function would exceed 63.

But I don't think it is very likely that we ever get a function with >63 operands. Thus, as a simplest solution I'd suggest adding an `assert` checking that the number of operands is <=63.

A more future proof solution would be to use e.g. a dynamic `bitset` (or any oth

[2018-11-20 03:39] opti-mix commented on #2059
Yes, seems like this could work. And as I described above, it is very unlikely that we ever hit the case `argIdx > 63`.

[2018-11-20 03:40] yinghai commented on #2059
It's very likely when we have a lot of parallel embedding looks as inputs. :)

[2018-11-20 03:44] opti-mix commented on #2059
You mean we would pass those inputs not as a tensors of size > 63, but as separate arguments of a function? Hmm. I haven't thought about this use-case ;-)

BTW, does it even make sense to specialize for embedding table look-ups? Because if we don't expect any speed-ups from the specialization, there is probably no reason to specialize in these cases. It will just bloat the code size.

[2018-11-20 03:45] yinghai commented on #2059
I don't think it makes sense for now. But it goes into this code path anyway and I have no idea why. :) This is flushed out by the real case BTW.

[2018-11-20 18:47] opti-mix commented on #2059
The actual reason for having LLVM functions with so many arguments turned out to be due the auto-generation of stacked kernels by `emitDataParallelKernel`. This function introduces a new function argument for each unique buffer used by the kernel. And apparently there are some use-cases with more than 64 unique buffers being used by a single kernel.

Since such situations are pretty rare and most

[2018-11-20 19:49] #1967 closed

[2018-11-20 22:26] #1640 closed, assigned to jackm321

[2018-11-20 22:59] jnorwood commented on #1727
The tflite app includes several pretrained quantized models.  They are uint8 for kernel weights and volume data, and signed int32 for bias.  It would probably be good to try to translate some of those models.  They do use the zero offset and scale values.  The zero offset is a uint8.  The scale is a float.  There are float scale values for input, output and kernel.  During the execution, the downs

[2018-11-20 23:22] #2059 closed, assigned to nobody

[2018-11-20 23:47] qcolombet commented on #1517
Forgot to post an update here.
As of #2027, the module, function and node verifiers do not use any assert.
We can use that method in the loader to report error now.

[2018-11-21 01:19] SplitInfinity commented on #1675
I want to comment for posterity. To fix this problem, configure LLVM with `cmake <other flags> -DLLVM_INCLUDE_TESTS=OFF`.

[2018-11-21 18:53] nadavrot commented on #1329
Can close this issue?

[2018-11-21 18:55] nadavrot commented on #1402
Can we close this issue?

[2018-11-21 19:00] qcolombet commented on #1329
We are indeed done for FP16, but the issue also mentioned BFloat.
Don't know if we want to close that one and file a new one for Bfloat or just keep this one around.

[2018-11-21 19:08] rdzhabarov opened #2069 "[ONNXIFI] Top level task for complete ONNXIFI support"
## Introduction
There are two ways to execute neural nets through the Glow compiler:
* Use Glow as a stand alone compiler and load Caffe2/ONNX models, see, [ImageClassifier](https://github.com/pytorch/glow/blob/master/tools/loader/ImageClassifier.cpp) for example
* Make Glow embedded into Pytorch/Caffe2 via [ONNXIFI](https://github.com/onnx/onnx/blob/master/onnx/onnxifi.h) interface

The purpose o

[2018-11-21 22:29] nadavrot commented on #1329
I think that we can file a new task for BFloat when the time is right. BFloat will deserve a clean task where we can discuss the design and argue over the implementation.  ;)

[2018-11-21 22:32] qcolombet commented on #1329
Hehe :).
Sounds good to me!

[2018-11-21 22:32] #1329 closed

[2018-11-22 00:31] yinghai opened #2071 "ONNXIFI BackendIDs and Backends"
This topic is related to supporting of concurrent evaluation of the same model. In offline discussion, we agreed that we should have one copy of backendIDs while creating as many backends as we want as a view into the backends. But this creates several problems due to the fact that we one have one `ExecutionEngine` in the backend:
1. Thread safety when accessing anything about `ExecutionEngine`
2.

[2018-11-22 00:40] yinghai commented on #2071
@gcatron on runtime design.

[2018-11-22 01:00] yinghai commented on #2071
Hmm, round robin might be good for model sharding. We may let the backend have view into all the ExecutionEngines and let it pick which one to use depending on the model string when doing onnxGraphInitIO.

[2018-11-22 01:04] yinghai commented on #2069
More issue to consider: https://github.com/pytorch/glow/issues/2071

[2018-11-23 20:32] tlepley-cadence opened #2073 "Issue using -ffast-math with NaN"
With clang, libjit is compiled with the `-ffast-math` option, but it should be avoided in case of usage of NaN. For instance, in gcc, the `-ffast-math` flag activates the `-ffinite-math-only` flag that disables the NaN functionality.

With the `ReplaceNaN` operator, Glow makes use of NaN in libjit.

It turns out that in my Linux environment, `libjit_element_is_nan_kernel_f` doesn't work properly.

[2018-11-25 23:08] SplitInfinity commented on #2073
I remember seeing this on Travis CI ASAN runs shortly before we switched to Circle CI but I was never able to figure out why. I remember testing with ASAN locally (but on Darwin with clang) and not seeing any problems. Thanks for solving this mystery!

[2018-11-26 05:07] nadavrot commented on #2073
I suspect that disabling -ffast-math would also disable vectorization. How do we verify that vectorization still runs?

[2018-11-26 09:54] tlepley-cadence commented on #2073
Maybe an option can be to replace `-ffast-math` with a set of lower level math optim flags flags that don't disable NaN while keeping other math optims (for best vectorization).

For instance, for gcc, this is what the documentation tells:

What we only need for now is to have support for NaN, so -ffinite-math-only has to be avoided. But maybe, all other math optim flags are fine.

[2018-11-26 18:01] tlepley-cadence commented on #2037
For the converter, I used TF2ONNX : https://github.com/onnx/tensorflow-onnx
For the model, I can't share.

IMO, the main issue is that the ONNX specification doesn't explicitly tell that only the padding for spatial dimensions should be specified for operations like convolution. I then think that this is more a question for ONNX than for Glow. I'm going to file an issue to ONNX.

For now, it seems

[2018-11-26 18:01] #2037 closed

[2018-11-26 19:39] nadavrot commented on #2073
I am not sure what the problem is. How is the generated assembly code changes and how it affects nans?

[2018-11-26 20:52] jfix71 opened #2080 "[RFC] Specialized precision specification"
Some models may need a specialized precision specification. For example, right now we have very coarse grained options to quantize all of a model/convert all of a model to fp16 (modulo node kinds specified as "keep original precision"). However, some models may require nodes of the same kind to have different precision (e.g. some Add nodes should use fp16, others int8).

It seems the best way to s

[2018-11-26 21:19] bertmaher commented on #2073
It looks like with -Ofast the compiler simply assumes NaNs don't happen, so `std::isnan` simply returns false: https://gcc.godbolt.org/z/--VZW7 (this is LLVM 7).

I fiddled a bit with -ffast-math this morning, and have a few thoughts:
- elementwise operations look OK.  I only tested elementwise add but the code is identical.
- dot product is terrible, since it depends on associative reordering.  B

[2018-11-27 00:19] rdzhabarov opened #2082 "[Quantization/Tensor] 0 should be represented as an offset for quantized numbers"
[zero](https://github.com/pytorch/glow/blob/master/include/glow/Base/Tensor.h#L95) and [isZero](https://github.com/pytorch/glow/blob/master/include/glow/Base/Tensor.h#L628) are not properly handled for quantized types.

Taking quantized int8 for example with {Scale, Offset} parameters.
Given that dequantization is calculated as Scale * (x_quantized - Offset), actual zero value should be represente

[2018-11-27 07:19] idreamboat opened #2083 "ninja: build stopped: subcommand failed."
my macOS is Mojave 10.14
I try to install in my mac follow the step:
1. git clone https://github.com/pytorch/glow
2. cd glow
3. git submodule update --init --recursive
4. brew install cmake graphviz libpng ninja protobuf wget
5. brew install --with-toolchain llvm@6
  prmkdir build_Debug
cd build_Debugevious step is all ok , but in the **Configure and build**
  due to my llvm and cmake are in other

[2018-11-27 15:58] jojivk73 commented on #1436
I am new to this operator. Can anyone point me to an example that uses SparseLengthsSum for sparse data?
Thanks

[2018-11-27 17:38] nadavrot commented on #1436
CC @artemrakhov @beicy @rdzhabarov

[2018-11-27 17:41] nadavrot commented on #2083
The error message is strange:

ld: warning: ignoring file /Library/Frameworks//libpng.framework/libpng, missing required architecture x86_64 in file /Library/Frameworks//libpng.framework/libpng

It looks like we are trying to link the libpng framework but for some reason this file does not have the x86_64 slice (or does not exist!)

I don't have this file on my system. My build does not use the li

[2018-11-27 18:20] bertmaher commented on #2083
Could remove your build directory, run cmake again, and send the complete log?  I'm particularly interested in the line of output where it locates `libpng`.  For me this looks like:
[code]

[2018-11-27 18:38] bertmaher commented on #2083
Something that might work to give Homebrew's libpng precedence in your build is to explicitly export CMAKE_PREFIX_PATH into your environment before running CMake.
[code]

CMake checks the environment-specified prefix-path before anything specified on the command line.

[2018-11-27 19:01] rdzhabarov commented on #1436
@jojivk73 you can check Caffe2 docs for the operator specifics: https://caffe2.ai/docs/operators-catalogue.html#sparselengthssum

IIRC, we do not have publicly available models which uses this op.

[2018-11-27 23:12] artemrakhov commented on #1436
You can look at a unit test to learn the semantics:
https://github.com/pytorch/glow/blob/c34d59929c00d287ba441a7a332a480550047a41/tests/unittests/OperatorTest.cpp#L3753

[2018-11-27 23:21] beicy opened #2088 "[Quantization] Leave the decision of forcing the output scale/offset to be the same as the input to backends."
In our previous quantization procedure, we forced the following type of quantized node output have the same quantization param as the input:
[code]
However, as @tlepley-cadence suggested,  since it is generally an accuracy vs speed tradeoff that  should be left to the backend designer. We would like to evaluate those ops, and leave some or all of the decision to backends.

[2018-11-28 00:15] #2082 closed

[2018-11-28 00:16] #1965 closed

[2018-11-28 01:16] SplitInfinity commented on #2053
I posted a WIP pull request for this. I have a few questions:
- do we have tests for `ClassGen`?
- do we need to support custom values? e.g.
[code]
- do we need to support customization of the underlying type of the enum? e.g.
[code]

[2018-11-28 01:20] jojivk73 commented on #1436
Thanks! I will check it out!

[2018-11-28 01:38] opti-mix commented on #2053
I'm pretty sure this would be useful.

I'd say it is nice to have, but not strictly needed.

[2018-11-28 01:39] opti-mix commented on #2053
I also commented on your PR about some further features. Here is a copy of my comment:

I've got a couple of requests.

The easy ones:

- Could you allow for setting doc-strings for enumerators as well?
    May be using an API like addCase(std::string enumeratorName, std::string enumeratorDoc = ""), so that the doc-string is optional.

- Could you allow for specifying a numeric value for the enume

[2018-11-28 02:46] idreamboat commented on #2083
[code]

[2018-11-28 02:51] idreamboat commented on #2083
[code]
there are more than one version of cmake in my mac, so i need specify the right version of cmake

[2018-11-28 03:01] idreamboat commented on #2083
and CMakeOutput.log and  CMakeError.log as follow
[CMakeError.log](https://github.com/pytorch/glow/files/2622648/CMakeError.log)
[CMakeOutput.log](https://github.com/pytorch/glow/files/2622649/CMakeOutput.log)

[2018-11-28 04:31] bertmaher commented on #2083
Anyways, it seems like you have a libpng installed in /Library/Frameworks, and that cmake is picking it up first.  I think this is not an uncommon problem, since googling the framework name turns up things like: https://github.com/torch/image/issues/137.  You could try moving the framework away, configuring glow, and then moving it back.

[2018-11-28 06:33] idreamboat commented on #2083
i rename /Library/Frameworks/libpng.framework as libpng_bkup.framework
but

'ChangdeMacBook-Pro:build_Debug iDreamboat$ ninja all
ninja: error: '/Library/Frameworks/libpng.framework', needed by 'lib/Onnxifi/libonnxifi-glow.dylib', missing and no known rule to make it'

[2018-11-28 15:52] #366 closed

[2018-11-28 16:35] #1979 closed

[2018-11-28 16:45] tlepley-cadence commented on #2088
With the current approach of forcing at quantization time having the same scale/offset for both input & output, we have seen sometimes that this rule could be broken by later optimizations.

[2018-11-28 17:35] nadavrot commented on #2088
@tlepley-cadence @beicy I think that it would be a good idea to write a short proposal for the desired semantics. We need to decide on a set of rules and make sure that the optimizer and backends conform to these rules. Thierry mentioned that it would be a good idea to allow nodes to have different input and output types in the early stages of the pipeline and let the backends force equal quantiza

[2018-11-28 17:49] beicy commented on #2088
@nadavrot Agree. I haven't checked all the nodes which now we force the input and output have the same quantization type so far. But we did some discussion on avgpool and maxpool before and think it is reasonable to  let maxpool have the same type while avgpool may have different type. I will investigate the rest of nodes and come up with a proposal.

[2018-11-28 18:47] SplitInfinity commented on #2053
I've updated the pull request to allow docstrings on individual enumerators and to allow specification of the numeric value attached to an enumerator. As for your more complex questions:

**Does [forward declaration] need to be done using `NodeGen` APIs? Or do you need to write (or include) a usual C++ forward declaration?**

`NodeGen` automatically generates forward declarations for any enum adde

[2018-11-28 23:59] ayermolo commented on #1402
I was looking at implementation of this. For weights scale/offset are computed per filter/channel, but for bias only one is computed for entire vector/all channels. Is there a reason scale/offset wasn't computed per channel for biases? Not worth it in terms of improved accuracy, design decision limiting memory usage for constant tensor?
In this paper, https://arxiv.org/pdf/1806.08342.pdf, it menti

[2018-11-29 00:17] csummersea commented on #1402
Bias will be one vector for one batch. If we have per filter/channel quantization for bias, we will end up with each bias parameter associated with one scale/offset parameters, which don't make much sense. As we will do int32 accumulation, we can increase the precision for the accumulation with bias also if the quantized bias are not accurate enough.

[2018-11-29 01:07] jspark1105 commented on #1402
@ayermolo in addition to the overhead explained by Summer, per channel quantization for bias also doesn't help accuracy much because bias is usually quantized in int32 (it's small so it's ok to store them in 32-bit). I believe this is also the case in Glow.

[2018-11-29 02:35] beicy commented on #1402
Yes, in Glow, the bias is quantized in int32.

[2018-11-29 04:40] QiJune opened #2098 "How to load low-level IR from a text file"
LLVM provides a method `ParseIRFile` to load LLVM bitcode from a file.
If I write a text file of Glow low-level IR, how can I load it to Glow Compiler? This feature is very useful for debuging if I want to add some new instructions. I can try and verify it quickly.
Is there any suggestion? Thanks!

[2018-11-29 06:08] bertmaher commented on #2083
Yeah, if you just re-run ninja you're still using cached cmake variables.  You need to delete your build directory, re-create it, re-run cmake, and then re-run ninja.

[2018-11-29 07:42] idreamboat commented on #2083
yes, i follow your step,
![image](https://user-images.githubusercontent.com/14039458/49206412-f1d68780-f3ec-11e8-8180-b51ca08688ea.png)

![image](https://user-images.githubusercontent.com/14039458/49206495-382be680-f3ed-11e8-9408-7f9723e2d93e.png)
but this error message seems need this **libpng.framework**
`ninja: error: '/Library/Frameworks/libpng.framework', needed by 'lib/Onnxifi/libonnxifi-glo

[2018-11-29 16:34] qcolombet commented on #2088
Right now the constraints basically match whatever the interpreter does.
Going in the direction of more flexibility on that front probably mean we probably need a legalization step to tweak these constraints to match the actual backend we are targeting.

[2018-11-29 16:38] qcolombet commented on #2098
We don't have anything like that yet.
@opti-mix made some prototyping as part of #1652, which was for the graph IR, not the low level IR, but we could use something similar for that.
@QiJune would you like to develop this feature?

[2018-11-29 18:20] jackm321 commented on #1469
This looks interesting to work on. I'm curious if anybody has a sense for what the prioritization is for this? Is it more of a wishlist item for now or would it be worth while to look into doing it?

[2018-11-30 01:38] ayermolo commented on #1402
Ah yeah makes sense, and in retrospect quite obvious. Thanks.

[2018-11-30 03:14] jfix71 commented on #1469
@jackm321 I'd lean a bit more towards wishlist for now. I think it will be important for models which are exported via ONNX, as the exporter is sometimes somewhat naive and outputs patterns like the one I posted above from en2gr. We do care about seq2seq networks like en2gr, and it would be helpful for other models exported from ONNX, but as far as I've seen it isn't prevalent  in other networks g

[2018-11-30 17:37] marijnfs opened #2104 "[GLOW] Memory leaking in opencl and build issues"
I’m having memory issues running the mnist and cifar10 examples, and I had problems compiling which might be related.

The memory issue is that when I run e.g. the cifar10 training example with -opencl, the GPU memory usage grows at a rate of 200MB per second (looking at nvidia-smi) until the lack of memory crashes the program.

I tried updating my nvidia libraries and opencl libraries but the beh

[2018-11-30 17:45] opti-mix commented on #2104
@gcatron You recently touched the related memory allocation code in the OpenCL backend. Could you have a look?

[2018-11-30 19:11] marijnfs commented on #2104
I'll try it on another system with different gpu cards to see if it's related to that. For now I tried it on a GTX1080 with recent drivers (on a Debian system).

[2018-11-30 22:37] marijnfs commented on #2104
When running on my laptop with opencl, I also get growing memory usage in my regular memory.
OpenCL seems to use the Intel HD graphics as the compute units which from what I can tell uses global memory. It does run much faster than the CPU backend and leads to the correct result.

So this doesn't seem to be a problem related to a specific driver or device.

[2018-11-30 22:44] gcatron commented on #2104
Sounds like it's something I may have introduced. Can you provide the commands you are running to replicate it? I'll take a look and see if I can find the leak.

[2018-11-30 22:58] marijnfs commented on #2104
Ok it seems to be the OpenCLFunction::setupRuns() function. It is the only function that calls the allocdevicebuffer function that in turn is the only one that makes clbuffers.

The function allocates a new buffer every time it is called, which is only free'd in the destructor of that class. Although setupRuns sounds like it shouldn't be called much it seems it is, and it might make sense to setup

[2018-11-30 23:30] gcatron commented on #2104
That makes sense, when I did the port I should have freed the buffer in tearDownRuns. I'll put up a PR shortly. Basically, setupRuns and tearDownRuns are really only meant to be run once per set of executions but that logic isn't in the execution engine yet.

[2018-12-01 00:06] nadavrot commented on #2104
@marijnfs Thank you for debugging and finding the issue. Feel free to submit a PR that fixes the problem. We would love to work with you on this and other issues/features/topics.

[2018-12-01 01:16] gcatron commented on #2104
Logic added! @marijnfs could you take a look at #2107 and let me know if that works for you?
I'm not as sure about the build issues but this should fix the memory leak.

[2018-12-01 09:35] marijnfs commented on #2104
Awesome, I'll try it out!

[2018-12-01 10:07] marijnfs commented on #2104
Ok it works for me!
On another note, what I really need are **3D convolutions** (I work in medical), is there an issue for that? Would it be hard to implement? I'm not sure how strong the assumption of 2D data is present in the code. I would be happy to contribute to this.

[2018-12-01 15:53] zakk0610 opened #2108 "How to solve address space issue"
Hi glow team,

Currently the Glow does not aware the CopyInstr is working on same address space or not in the backend,
so the IR Optimizer will eliminates different address space CopyInstr if the backend enables `shouldShareBuffers`.

My question is : What's designed purpose of `shouldShareBuffers` parameter? Disable `shouldShareBuffers` can work around this issue but it's not look like a good sol

[2018-12-01 21:03] nadavrot commented on #2108
@zakk0610 @opti-mix I agree with opti-mix's comment. I'd like to add that you could add a new kind of copy instruction (like copyToSRAM), and like opti-mix said, the optimizer won't touch these instructions. I wonder if we have good examples of where we perform low-level IR-level optimizations.

[2018-12-02 15:32] marijnfs opened #2111 "Cifar10 Training Diverging"
When I run the Cifar10 training example, it initially seems to be learning, getting more of the training examples right, but after a few epochs it diverges. It ends up guessing 'airplane' for all examples. I have tried reducing learning speed, turning off momentum and removing the weight decay, but it doesn't seem to help. I wonder if there is something deeper that is wrong, like gradients being a

[2018-12-03 04:14] zakk0610 commented on #2108
@opti-mix @nadavrot
This is one backend scenario which has three types of [memory space](https://sophon-edge.gitbook.io/project/getting-started/bmnnsdk-framework#bmmemory). Compiler and runtime are responsible for global/local memory allocation/management.
In this backend HIR, the SaveNode has a semantic of copy result from Local memory to global placeholder

It's look like to adding custom transl

[2018-12-03 04:36] nadavrot commented on #2104
@marijnfs Thank you for working with us. Yes, we should add support for 3D convolutions. Could you please open a new 'issue' where we can discuss the design? It would be great working with you on this.

And thank you @gcatron for fixing the current issue.

[2018-12-03 21:55] #2033 closed

[2018-12-03 22:52] #2053 closed

[2018-12-03 23:06] SplitInfinity commented on #2013
I doubt someone would intentionally write a network like this, but could this sequence appear as a by-product of existing optimisations?

[2018-12-04 00:30] jackm321 commented on #2013
@SplitInfinity one of the things that GraphOptimizer does is try to sink transposes below other nodes so that those transposes are more likely end up next to each other in the graph so that they can be eliminated. So two transposes that may not have initially been next to one another often end up next to each other after some graph optimization passes.

[2018-12-04 00:52] jackm321 opened #2115 "Manage tensors in model loaders as unique_ptrs instead of raw pointers"
Now that the model loaders have error handling, memory that they allocate must be handled with care and cleaned up when an error occurs or there could be a leak (there was already one). To make managing the memory allocated for tensors more robust in the face of errors, we should use `llvm::StringMap<std::unique_ptr<Tensor>> tensors_` instead of `llvm::StringMap<Tensor *> tensors_` in `ProtobufLoa

[2018-12-04 01:08] yinghai commented on #2071
This will be submerged in the Glow Runtime design.

[2018-12-04 01:08] #2071 closed

[2018-12-04 07:03] beicy commented on #2088
Checked the list of nodes. For the nodes in this list:
[code]
The output range is included into the input range. Therefore, I don't think there is accuracy loss if we force the output have the same quantization params as the input. On the other hand, I don't think using different params would help us gain some accuracy or performance.

Therefore, for the nodes in the list , I think it is OK to lea

[2018-12-04 13:38] tlepley-cadence commented on #2073
My proposal is to add `-fno-finite-math-only` that disables from -`ffast-math` only what we need to get a correct `NaN` behaviour, while still benefiting from math optims. WIth this, the NaN related glow test stop failing in our environment.

[2018-12-04 19:13] #2073 closed

[2018-12-04 21:45] #1976 closed

[2018-12-05 02:34] jackm321 commented on #1334
It looks like there are still some graph api methods that use context and probably shouldn't https://github.com/pytorch/glow/blob/master/include/glow/Graph/Graph.h#L664-L670. Is there a task to clean those up?

[2018-12-05 05:49] bertmaher opened #2121 "Mismatch between CMake required version and Ubuntu 16.04 LTS"
The README claims Glow works with Ubuntu 16.04, but I just tried it and it complains that my CMake is too old -- and indeed, 16.04's cmake package is 3.5.1, and we require 3.7.

Is there any reason to require 3.7?  Can we drop back to something suitable for Ubuntu 16.04?

cc @hegemanjwh2 since I think you did a bunch of the Ubuntu testing.

[2018-12-05 16:47] #2104 closed

[2018-12-05 17:39] rdzhabarov commented on #2121
cc: @compnerd

[2018-12-05 18:01] tlepley-cadence opened #2123 "Error in LLVM GDBRegistrationListener.cpp: "Second attempt to perform debug registration.""
Some time ago, we've got some issues running Glow unit tests (operatorTest for instance) with the CPU backend and with LLVM 6 under Linux (Redhat 6): `"Second attempt to perform debug registration."`.  By switching to LLVM 7, this error disappeared. But recently, it reappeared, with LLVM 7.

Observations:
- When Running `tests/operatorTest` multiple times, the error is triggered but for different

[2018-12-05 18:38] tlepley-cadence commented on #2123
Note that under Redhat 6, LLVM 7 is compiled in mode `RelWithDebInfo`. In Fedora, LLVM 7 is compiled in mode `Release`. I assume assert disappear in `Release` mode and it could explain why no issue is detected.

[2018-12-05 19:04] beicy commented on #2088
According to my previous comment, I think it is OK to close this issue. Please let me know if you have any suggestion! Thanks! @tlepley-cadence @nadavrot @qcolombet @rdzhabarov

[2018-12-05 19:04] #1402 closed

[2018-12-05 21:14] gcatron commented on #1962
Work was done in #2024. This can be closed.

[2018-12-05 21:14] #1962 closed

[2018-12-05 23:11] gcatron commented on #2045
Adding #2125 to the list. Work is being done on the HostManager. This is part of the new runtime design. The design has five major components: HostManager, Partitioner, Provisioner, DeviceManager, and Executor.
Partitioner:
This component is responsible for breaking up the provided network into subnetworks that can be run on multiple devices. It does its partitioning based on hardware constraints

[2018-12-06 00:41] #2026 closed

[2018-12-06 10:52] hegemanjwh2 commented on #2121
Gah...  I will look at what I have set up on my machine...

[2018-12-06 11:32] tlepley-cadence commented on #1948
Unordered data structures may actually be deterministic. It depends how they are implemented. Even (pseudo) random generators may be deterministic (for instance, same seed may result in the same list of random numbers). What is non deterministic is for instance to initialize a random number generator by reading an uninitialized memory location. What creates non determinism is often a bug (data rac

[2018-12-06 14:49] bertmaher commented on #1948
I think it’s not necessarily the unordered-ness that causes problems, but the use of pointers as keys.

[2018-12-06 17:08] tlepley-cadence opened #2131 "Which clang-format configuration ?"
Recently, I started to have more issues with the clang-format formatting. Typically, it seems that my clang-format configuration wants comment a bit shorter than what is sometimes in source files (this is not a general problem, it happens some time to time).

My IDE is configured to run clang-format with the 'LLVM predifined style' (I don't know the exact command).

For instance, today, clang-form

[2018-12-06 17:31] nadavrot commented on #2131
Clang format changes slightly between versions. To handle the small differences between the versions we've expanded the predefined style into a list of rules that are stored in the .clang-format file at the root of the project. The format scripts use this file when formatting the project. If the IDE does not agree with the formatting scripts then please prefer the formatting scripts.

[2018-12-06 17:52] bertmaher commented on #2131
In CI we install clang-format-6.0: https://github.com/pytorch/glow/blob/master/.travis.yml#L53, so give that a try if you're seeing version-related differences.

[2018-12-06 18:05] #2115 closed

[2018-12-06 21:10] MatzeB commented on #2111
Hi, I am trying to reproduce this (on 018a598ff0a233f6e541918a5ce987325a516921). How long did you run the example for? (Even with a release glow build and the `-cpu` commandline it looks like the example will be running for days until it reaches the 100000 iterations.
Simply running it for 1-2 hours I cannot see it getting stuck at all "airplaine"...

[2018-12-07 01:20] qcolombet opened #2135 "text-translator is broken after #2122"
After #2122 landed, text-translator (and maybe other loaders) fails with a segmentation fault.

To reproduce download the caffe2 models `utils/download_caffe2_models.sh`
Build text-translator (in release mode otherwise that's super slow)
Run:
text-translator -m <pathToDownloadModels>/en2gr -cpu <<< "I love music ."

Noticed because the lit tests are failing in #2097, i.e., the new testing infrastr

[2018-12-07 10:12] tlepley-cadence commented on #2135
I didn't manage to assign this issue to myself (I guess I'm not allowed to by github), but I reproduced and fixed the issue in #2139 .

[2018-12-07 17:40] #2135 closed

[2018-12-07 19:21] bertmaher opened #2145 "Can we stop lowering FC to Matmul+BatchedAdd?"
GEMM is almost always implemented as Y = AX+b, so we actually end up doing something less efficient by separating these into two nodes.  It's pretty universal on HW backends, too.  We could write new optimizations to re-fuse them, but why?

[2018-12-07 19:22] bertmaher commented on #2131
If there's nothing else to be done here, I'm going to go ahead and close the issue.

[2018-12-07 19:22] #2131 closed

[2018-12-07 23:06] jackm321 commented on #2145
@bertmaher should we disable this per-backend with `Backend::shouldLower()` or do you think we should just get rid of it altogether?

[2018-12-07 23:34] bertmaher commented on #2145
@jackm321 the unfortunate thing about disabling it with `shouldLower` is that IRGen doesn't know what to do with `FullyConnected`, so it aborts.  So instead you have to create a new backend-specific node and transform to that.  I'd be OK with selectively disabling via shouldLower, as long as we had a generic FullyConnectedInst to make IRGen happy.

(Btw, this issue is more for discussion -- I want

[2018-12-08 00:08] nadavrot commented on #2145
@bertmaher  +1
I think that this suggestion makes sense. We'll need to update our optimizations that deal with matrix multiplications (merge horizontally).

Our convolutions could also be split to [Conv + BatchedAdd] but we've decided to keep them fused. We can apply the same logic here and decide that FCs should also stay fused.

[2018-12-10 06:02] nadavrot commented on #2111
The problem with this test is that the neural network architecture is too small. If you increase the size of the network (by adding more conv nodes with more channels) then the network will converge (but will take longer to run). Try to replace the current network with something that looks like VGG and you will see that the problem goes away.

[2018-12-10 09:00] kibeenJung opened #2147 "[Quantization]Why quantization is slower?"
I tried to qunatize my model. But the inference time of quantized model is about 5 times slower than that of original model.

I used softmax for multiclass classification. I refered to the following examples when writing quantization code.

- fr2en.cpp : https://github.com/pytorch/glow/blob/master/examples/fr2en.cpp
- Loader.cpp : https://github.com/pytorch/glow/blob/master/tools/loader/Loader.cpp

[2018-12-10 13:56] georgeokelly opened #2148 "ninja test failed"
Ubuntu 16.04
The test step failed.
[code]
I follow the steps:

1. `git clone https://github.com/pytorch/glow; cd glow/`
2. `git submodule update --init --recursive`
3. `sudo apt-get install clang clang-6.0 cmake graphviz libpng-dev \
    libprotobuf-dev llvm-6.0 ninja-build protobuf-compiler wget`
4. `mkdir glow_build_Debug`
`cd glow_build_Debug`
5. `cmake -G Ninja ../glow -DCMAKE_BUILD_TYPE=Debug

[2018-12-10 15:31] nadavrot commented on #2147
We did not optimize the quantized cpu matmul and convolutions at all. Take a look at their implementation in "libjit_matmul.c"

[2018-12-10 18:57] rdzhabarov commented on #2148
I suspect the problem is that you do not have proper support for OpenCL (see `GLOW_WITH_OPENCL=1` CMake flag).

To add to what @nadavrot said, the actual error should be in `Testing/Temporary/LastTest.log`. Can you dump the content of the file?

[2018-12-10 19:18] MatzeB commented on #2111
Apart from this test having a hard time converging in general, I think there is also a problem with `-opencl`:
I tried `-opencl` now (I was using `-cpu` before because that was the fastest backend for me) and the training seems to converge a lot slower or not at all. In fact if I print the maximum value picked out at the last layer it becomes NaN after a couple iteration so I suspect there is a pr

[2018-12-10 21:31] codezero759 commented on #2147
Thanks for your reply. How can I optimize the quantized cpu matmul (I never used convolution layers). In the example I mentioned earlier, there was no code for matmul.

[2018-12-11 00:48] codezero759 commented on #2147
Thanks for your reply. How can I optimize the quantized cpu matmul (I never used convolution layers). In the example I mentioned earlier, there was no code for matmul.

[2018-12-11 01:07] nadavrot commented on #2147
This was not a priority for us, but if you want to optimize quantized matrix multiplication you will need to look at the code in libjit_matmul.c and figure out how to optimize the quantized implementation for x86. You will need to map the operations into low-level x86 vector instructions, similar to how we've optimized the float32 implementation.

[2018-12-12 10:02] tlepley-cadence opened #2165 "Delay the 'Quantize(Constant)->Constant' optim until after post-lowering."
Currently, Constant are statically quantized early in the compilation flow. Basically the `Quantize(Constant)->Constant)` optim happens in the `glow::optimize()` function.

There are multiple issues with this, potentially resulting into accuracy loss because the scale/offset of `Constant` may still have to change during the Glow compilation flow. By keeping `Quantize` nodes longer in the IR, scale

[2018-12-12 20:59] opti-mix opened #2168 "Perform slice(constant1) -> constant2 transformation at compile time"
I've discovered a pattern `slice(constant)` in the AlexNet.

In principle, we could implement `slice(constant1)->constant2` as a compile-time transformation in the GraphOptimizer, to save computations at run-time.

My only concern here is that it may potentially increase the amount of memory required for constants.

Opinions?

[2018-12-12 21:51] beicy commented on #2165
If we delay this "Quantize(Constant)->Constant" utile after post-lowering, some backend may be affected. For example, after double checked with @opti-mix , we found one of the backends requires the weights/bias of a conv node should be constant. But if we leave this "Quantize(Constant)->Constant" opt after that, the weights/bias would be "QuantizeNode" which would cause verification issue later.

[2018-12-12 23:58] jfix71 commented on #2165
The source of the issue is that when we quantize a float Constant, we quantize the underlying data immediately and also change the output type to the Quantize node we are mering in.

I wonder if we could instead keep the underlying data as float, and just change the output type. Then at the end of compilation we would have a pass across the constants to quantize the underlying data using the final

[2018-12-13 00:42] jfix71 commented on #2168
Seems like a good idea.

Yeah, this is another one that might be dependent on the backend's preferences, so would be great to have it be controlled by the backend (https://github.com/pytorch/glow/issues/1641).

This is also is related to constant propagation (https://github.com/pytorch/glow/issues/1469) -- I wonder if we could design this in a generic way, e.g. generate the Tensor to back the new

[2018-12-13 10:06] tlepley-cadence commented on #2168
I also think it makes sense to have it backend controlled as it is a tradeoff between performance and memory with a decision that can vary across targets. Also even a single target could have different memory configuration depending on the customer. In this case, the decision will depend on the memory constraints.

[2018-12-13 11:00] tlepley-cadence commented on #2165
@beicy I don't think this would work. First of all, the quantization process creates numerous `Quantize`/`Dequantize` nodes (basically one `Quantize` per node input and one `Dequantize` per node output). I also creates some `RescaleQuantized` nodes to accommodate extra node constraints. I think it's important to call `glow::optimize()`immediately after quantization, because the IR is not in a conv

[2018-12-13 14:18] tlepley-cadence commented on #2165
@jfix71 I like the idea in principle, but in term of implementation, I have the feeling that it could open a can of worms. As I see it, the idea would be to keep the payload of a `Constant` as _float_ while its type would be a quantized type. Accessing the constant payload would require the glow infrastructure to quantize (when reading) and dequantize (when writing) on the fly.

I see some complex

[2018-12-13 20:00] jfix71 commented on #2165
@tlepley Yeah changing the Tensor is definitely not ideal. I was thinking of something like a ConstantHandle subclass of Handle, which would compare the ElemTys of the backing Tensor and the ConstantHandle and do a conversion (e.g. `float->quantized`) only if necessary (so pre-quantized Constants wouldn't need to be converted to float). Though this approach could be a bit error prone as you mentio

[2018-12-13 20:50] beicy commented on #2165
@tlepley-cadence
"This is the reason why in PR #2166, I've kept the Quantize nodes of Constant until after post-lowering "
-- But as I mentioned, for some vendor, the weights/bias must be constant before post-lowering, otherwise, there will be asset error.  The propose's idea is to make sure the (Quantize(constant)->constant) happens before post-lowering.

[2018-12-14 00:43] ayermolo commented on #2165
Isn't it kind of dangerous assumption? It relies on a fact that a specific optimization is ran. Omitting an optimization pass shouldn't result in incorrect behavior or asserts.

[2018-12-14 00:48] beicy commented on #2165
But this optimization is under control.  And backend can gain benefit from it.

[2018-12-14 00:51] ayermolo commented on #2165
Not sure what you mean by under control. Of course backends will benefit from it, but they shouldn't break, assert error, if it's omitted.

[2018-12-14 01:03] beicy commented on #2165
In general, the optimizations should be independent. However, due to the performance and some other restrictions, we need to make some assumptions.

[2018-12-14 10:59] marijnfs commented on #2111
Thanks I'll try it out!

[2018-12-14 10:59] #2111 closed

[2018-12-14 14:35] mratsim commented on #1749
There are L1, L2, L3 cache considerations for parallelism and also solving false sharing, especially for operations that involve a reduction like matrix multiplication and convolution.

You cannot just parallelize the outer loop and hope to get a good result.

If we take the matmul implemented in libjit and apply the analysis from [Anatomy of High-Performance Many-Threaded Matrix Multiplication](h

[2018-12-14 17:51] nadavrot commented on #1749
@mratsim Thank you for this amazing analysis. Do you have performance numbers for the Glow implementation? Also, what matrix sizes are tested?

At the moment @gcatron and @beicy are working on implementing a different dimension of parallelism. They are partitioning the whole neural network across multiple cores and implement data-flow parallelism. This has the advantage that the weights of some ne

[2018-12-14 17:54] nadavrot commented on #2168
I agree that in theory there could be a tradeoff here. But I am not sure if the pattern that exposes this tradeoff between memory and compute is a common pattern. What do you say that we start with a simple peephole optimization (instead of target-specific hook) instead?

[2018-12-14 18:50] bertmaher opened #2169 "Calling Instruction::getType yields a nullptr"
I just stumbled across this landmine, and I wonder if we could do some redesign of the types involved to avoid it: `Instruction` is a `Value`, and `Value` is a `Typed`, but if you actually call `getType` on an instruction, it's a nullptr.  Something seems broken in this model.  Maybe there are some `Instructions` that really are `Typed` but it doesn't seem like it holds generally.

[2018-12-14 19:22] bertmaher opened #2170 "Improve backend parameterization in OperatorTest"
The parameterization of tests by backend in OperatorTest is kind of confusing.  To add a new backend (which of course passes only a subset of tests) I had to think really hard about how to create a new test subset.  Is there something better we could do here?

[2018-12-14 20:21] nhynes commented on #1749
Fantastic benchamrks, for sure! @mratsim would you mind running one additional benchmark using TVM? The code and lowered schedule can be found here: https://docs.tvm.ai/tutorials/optimize/opt_gemm.html#parallel

[2018-12-14 23:45] jfix71 commented on #2169
Basically just memory-related Instructions have types (Alloc/Dealloc/TensorView/Copy). If `setType()` isn't set on the Instruction in InstrGen then it will return a nullptr.

It's definitely misleading/scary to have a nullptr returned otherwise; I think part of the issue here is Instructions can have multiple outputs, so calling just `getType()` on an Instruction which may have multi-outputs isn't

[2018-12-15 00:37] mratsim commented on #1749
Ah sorry I didn't mention the size, it was M=N=K=1920, probably a bit big for NN matrices, but I wanted the general case done before tackling small matrices.

I will try to run the bench from [Nim, the language](https://nim-lang.org/) I'm using if I manage to wrap them (Nim can compile and call C++).

[2018-12-17 08:45] jsubag opened #2179 "Non unique naming for instructions"
@jfix71
The code in https://github.com/pytorch/glow/blob/ad7c0f8821e15ffb23e9dd33c40253237cf81f1b/tools/ClassGen/InstrBuilder.cpp#L384-L385 creates an instruction then renames according the Node name without checking for uniqueness.
I've found a case where this caused two instructions to have the same name.
One way to fix it would be by replacing it with:
[code]
And remove https://github.com/pytor

[2018-12-17 10:50] djordje-dj-s opened #2181 "Emit-bundle creates softfp object code despite triple set to arm-linux-gnueabihf"
I successfully compiled GLOW (commit-id: 5bb41e17d0188017698147707b952e3af00503dd) using default triple settings (i.e. x86_64).
AOT compilation for sample example (mnist) finished properly, emitting mnix.onnx.o. I used command:
/../bin/image-classifier  ../tests/images/mnist/2_1065.png -model ../../models/mnist.onnx -image-mode=0to255 -model-input-name=data_0 -cpu -target arm-linux-gnueabihf   -em

[2018-12-17 18:09] bertmaher commented on #1189
This task is done, at least internally to FB.  Since I suspect OSS users are happy with cmake/ninja, I'm going to go ahead and close this out.  If any external users want Buck support please re-open and I'll be happy to port the internal stuff.

[2018-12-17 18:09] #1189 closed

[2018-12-17 18:11] bertmaher commented on #1227
Is this completed?  Are we leaving it for the larger runtime project?

[2018-12-17 18:12] bertmaher commented on #1257
Seems like the LIT stuff has solved this!

[2018-12-17 18:12] #1257 closed

[2018-12-17 18:12] bertmaher commented on #1268
Superseded by new partitioning work.

[2018-12-17 18:12] #1268 closed

[2018-12-17 21:42] jackm321 commented on #1755
After #2143, the latest list of ONNXIFI node tests that are either failing or crashing can be found below. An important next step here is to dig into what is causing these tests to crash/fail and determine what can be done to prevent this in the loader or fix any underlying bugs in glow.

**failing:**
* test_gemm_broadcast
* test_averagepool_2d_pads
* test_gemm_nobroadcast
* test_averagepool_2d_pr

[2018-12-17 21:59] jackm321 opened #2184 "[ONNXIFI] Add a doc for ONNXIFI glow integration"
Add a document to /docs with details about
* Overview of glow's ONNXIFI code
* Which ONNX nodes glow currently supports
* How to run ONNXIFI node tests

[2018-12-17 22:10] jackm321 opened #2185 "[ONNXIFI] Add more detailed llvm::Errors"
Add more detailed llvm::Error types so that `ONNXIFIModelLoader::parse()` can respond with the appropriate ONNXIFI error code in the event of a failure.

[2018-12-17 22:11] jackm321 opened #2186 "[ONNXIFI] Create a standalone script to run ONNXIFI node tests in glow"
Right now these tests are run from circleci but it would be convenient to have a script to run these on demand.

[2018-12-17 23:27] jackm321 opened #2187 "[ONNXIFI][GraphAPI] Add "orErr" methods for graph creation api"
Add additional graph creation methods that will return a llvm::Expected<Node *> and return an error instead of `assert`ing if a precondition is not met. These new methods should be called by the model loading layer only. Ideally any errors that arise during loading should be caught by check within the loaders themselves and these new graph creation methods are intended as a last line of defense be

[2018-12-17 23:35] jackm321 opened #2188 "[ONNXIFI] Add additional precondition checks to model loaders"
Model loaders should verify preconditions for the nodes they are loading (ONNX or Caffe2) before invoking the glow graph creation api methods. To make a concrete example, `ONNXModelLoader::loadConv()` should check the dimensions of the filterValue to ensure that they are valid instead of relying on the graph creation API's `assertConvDims` called from `Function::createConv()` to find errors.

[2018-12-17 23:39] stoklund commented on #1227
I think the remaining refactoring can be part of the runtime project. They'll understand the requirements better.

[2018-12-17 23:55] jackm321 opened #2189 "[ONNXIFI]"
Create an out of memory error and return this error from `HostManager::addNetwork` in the event that enough memory could not be allocated to initialize the network. This error should be handled by glow's ONNXIFI interface and a `ONNXIFI_STATUS_NO_SYSTEM_MEMORY` status should be returned.

[2018-12-17 23:56] jackm321 commented on #2189
@gcatron does this seem like a good idea from the HostManager/runtime perspective?

[2018-12-18 00:02] gcatron commented on #2189
I think it works well from the HostManager perspective. What do you think about more granularity? We can be OOM on a host and fail or we could have enough memory available on an aggregate host level but no individual device has enough capacity for the network. These are both OOM errors.

[2018-12-18 00:02] gcatron commented on #2189
We can leave it as one code for now and add later too.

[2018-12-18 00:08] jackm321 commented on #2189
@gcatron That level of granularity will not be able to be communicated across onnxifi today but we can add that in glow and if we need to add it to the onnxifi interface later we can

[2018-12-18 00:18] jackm321 opened #2190 "[ONNXIFI] Various fixes for onnxGetBackendCompatibility"
* onnxGetBackendCompatibility calls `glow::lower()` to lower graph nodes to what the backends would expect to see but doesn't delete the original nodes so DCE should be run.
* `verify()` should be run on the graphs created by `onnxGetBackendCompatibility` in order to check that they are indeed valid graphs
* `Backend::transformPreLowering()` should be called on the loaded graphs before lowering

[2018-12-18 00:50] bertmaher commented on #2189
In this issue, are you all concerned about host (x86) memory allocation failing, or that we don't have enough memory on device to support an allocation?

[2018-12-18 00:59] jackm321 commented on #2189
@bertmaher the concern is that `onnxInitGraph` will request glow to load and store a graph and there won't be enough memory in the glow system (devices + host) to do so. But the issue should not be memory allocation failure, glow runtime should check whether enough room exists in the system before attempting the allocations and return an error if there isn't enough room. I believe that both host a

[2018-12-18 01:11] jackm321 opened #2191 "[ONNXIFI][Top Level Task] Export per-operator stats"
Export per-operator statistics for profiling operators. This data will need to be collected from the Glow runtime (DeviceManagers specifically) and exported across the ONNXIFI interface (which doesn't yet support the collection of this information). The first thing to do here is to collect a list of useful statistics to be exported.

[2018-12-18 01:20] jackm321 opened #2192 "[ONNXIFI] Support quantized int8/int16 and fp16 models on the ONNXIFI interface"
General support for quantized and fp16 models is required.
`onnxGetBackendCompatibility` should check the specific type of each operator with the backend instead of assuming FloatTy.

[2018-12-18 04:46] georgeokelly commented on #2148
@rdzhabarov @nadavrot
Thanks, I disable the `GLOW_WITH_OPENCL` and it works.

[2018-12-18 04:46] #2148 closed

[2018-12-18 13:49] jfix71 opened #2194 "[RFC] isOpSupported() redesign?"
I'm not sure the `isOpSupported()` API makes sense as currently specified -- I think backends need to decide if an op is supported based on the expected precision of all inputs and outputs. Perhaps the API should take in the Node itself and not the Kind+ElemKind. That way the backend can look at all of the node's inputs/outputs.

Additionally, for backends that use the Instruction-level IR, I thin

[2018-12-18 16:02] rosierm opened #2195 "[ONNX] Assertion `TR->size() == input.getType()->size() && "Reshape to a different size"' failed."
I'm running into the following assertion when trying to generate a quantization profile for Resnet50 imported from the ONNX zoo:
glow/lib/Graph/Graph.cpp:649: glow::ReshapeNode *glow::Function::createReshape(llvm::StringRef, glow::NodeValue, llvm::ArrayRef<size_t>): Assertion `TR->size() == input.getType()->size() && "Reshape to a different size"' failed.

Assuming assertion are enabled the comman

[2018-12-18 18:57] bertmaher commented on #1688
This issue is pretty interesting.  I don't think it's correct to say that RAUW "corrupts" the graph, because the graph is still valid after RAUW, it just contains obvious dead code (i.e. the thing that was replaced) that might prevent other optimizations from kicking in.

1. We could try to make RAUW erase the replaced node from the graph.  But this approach is very dangerous, because you're usual

[2018-12-18 18:59] bertmaher commented on #1652
This issue and #2098 are the same.  This one has better discussion but that one has a PR, so I'm closing this one (with a ref here from the other).

[2018-12-18 18:59] #1652 closed

[2018-12-18 19:02] bertmaher commented on #2083
I'm 98% sure this issue is due to local configuration issues rather than anything specific to Glow.  I'm sorry we weren't able to find a resolution, but this is life for C++ developers -- building C++ is hard :-(.  You might try using Docker to build; a contributor recently added `utils/docker/Dockerfile` that works well for me.

[2018-12-18 19:02] #2083 closed

[2018-12-18 19:04] bertmaher commented on #2121
I changed our requirements to 3.5 and have heard no complaints, so I'm going to assume everything is resolved here :-)

[2018-12-18 19:04] #2121 closed

[2018-12-18 19:07] bertmaher commented on #1953
Oh hey this is interesting and I hadn't noticed that it was referenced on my PR #2160.  I don't think that PR was the right solution though.  From the perspective of the runtime, I think we probably care about WeightVars more than Placeholders (does that seem correct?)

[2018-12-18 19:18] rosierm commented on #2195
Per https://github.com/onnx/models/issues/114, I believe you're correct, Bert.

One more question:  Given the limitation of this model is there another way to generate a quantization profile using multiple inputs?  For example, can we update a profile when provided new training inputs?  E.g., create a profile using the cat input, update using the dog input, and then update again using the zebra in

[2018-12-18 19:45] bertmaher commented on #2195
I can't remember if our quantization profiling allows the model to be run multiple times to accumulate the profile histograms.  If it does, then we should be able to use that approach with image-classifier.  @rdzhabarov do you know off the top of your head?

[2018-12-18 20:07] jfix71 commented on #2195
You can do this using streaming mode in the ImageClassifier (i.e. pass `-` instead of filenames). I used the script at `utils/imagenet_topk_accuracy_driver.py` to generate a profile on a subset of ImageNet in this way.

[2018-12-18 20:14] jackm321 commented on #2194
Definitely agree with the first point, the current API doesn't fully make sense to me because I doubt that op compatibility can be decided from a single ElemKind in all cases. The ONNXIFI interface currently just passes `FloatTy` to `isOpSupported()` instead of inspecting each ElemKind which isn't great. Like you said, maybe the op should be passed, maybe just a set of all `ElemKind`s in the op co

[2018-12-18 21:11] bertmaher commented on #2195
Thanks @jfix71!  Looks like this is resolved, then -- I'll close it out but please reopen if that approach isn't working out for you.

[2018-12-18 21:11] #2195 closed

[2018-12-18 21:12] rosierm commented on #2195
Thanks, Bert/Jordan!

[2018-12-18 22:21] jackm321 opened #2199 "[ONNXIFI] Check correct operator ElemKind in onnxGetBackendCompatibility"
Right now `onnxGetBackendCompatibility` assumes that all nodes have only `FloatTy` ElemKinds when calling `isOpSupported()`which is clearly not necessarily accurate. However the current `isOpSupported()` doesn't allow for checking multiple `ElemKind`s which isn't sufficient for checking all inputs and outputs of an op. #2194 proposes addressing this shortcoming. Once `isOpSupported()` can handle t

[2018-12-19 17:56] bertmaher commented on #2194
An additional wrinkle here is that we also use this API to determine if a node can be quantized on this backend, so we might not have a physical node to pass in.  Maybe we actually need two distinct APIs here; and `isOpSupported`, and a `canBeQuantized`.  Of course that doesn't necessarily cover the (pretty common) case of a node that _must_ be quantized, like GEMMs compiled for an int8 matrix mul

[2018-12-19 19:17] rdzhabarov commented on #2194
Totally, original idea of `isOpSupported` was to invoke that during the quantization phase and make that slightly more generic rather than just canBeQuantized.
But it seems that it's not generic enough to cover all use cases, including `compatibility` mode for ONNXIFI.

I agree we should introduce `isOpSupported` with the node passed in which will be used in the ONNXIFI code path and `canBeQuantiz

[2018-12-19 19:19] rdzhabarov commented on #2190
@jackm321 can you link all those ONNXIFI issues to https://github.com/pytorch/glow/issues/2069 for better tracking.

[2018-12-19 19:57] rdzhabarov commented on #2194
In this case, if something is not supported on the hardware directly but we know compiler will make sure this op will be transformed in such a way it could be supported by HW we should just flag op as supported. The idea of the API is to let know if we'll be able to execute given op with given input/output types on hardware, whether it's directly or through some compiler transformation it's not im

[2018-12-19 20:18] jackm321 commented on #2184
@rdzhabarov that's true, maybe we can start with documenting the onnxifi code, I'm not sure exactly what the best way to autogenerate the list of nodes supported is to populate the node documentation yet.

[2018-12-19 20:45] rdzhabarov commented on #2148
@georgeokelly if you'd like to build with opencl you can take a look here:
https://github.com/pytorch/glow/blob/master/docs/Building.md#opencl-on-ubuntu

[2018-12-20 01:07] #2186 closed

[2018-12-20 07:58] #2179 closed

[2018-12-20 10:18] jfix71 commented on #2194
For `canBeConverted()`, there are also cases where we need to know the different ElemKind for each input. For example, we currently only support `Int32QTy` for the bias in the Interpreter's Conv kernel, while the other operands must be `Int8QTy`. And `BatchedAdd` supports both `Int8QTy` and `Int32QTy` for slice, while other operands must be `Int8QTy`. Etc.

So to me it seems the only difference be

[2018-12-20 14:01] jfix71 commented on #2194
One downside with the above proposed API that only uses `ElemKinds` is that you have to know the index of the input/output you'd like to check in `inElemKinds/outElemKinds`. E.g. to check if a Conv's bias is some supported `ElemKind` you need to know which idx it is in the ConvNode to get the right `ElemKind` from `inElemKinds`. We have a few places where we do hardcode these input/output indices,

[2018-12-20 21:17] rdzhabarov opened #2206 "[Quantization] Tensor equality check for quantized types needs to be fixed"
Currently we do not take scale and offset into consideration when comparing two tensors of quantized types.
See [here](https://github.com/pytorch/glow/pull/2205/files#diff-a6feb9bc1ff6b819986dd21842ef5bf4R291).

We need to make sure that actual comparison takes scale and offset into consideration during the comparison.

[2018-12-20 21:53] nadavrot commented on #2206
oops!

[2018-12-20 22:16] bertmaher opened #2208 "Codegen of FullyConnected (via ONNXIFI) is really suboptimal"
Right now using ONNXIFI to hand a Caffe2 FC to Glow ends up generating something like
Add(MatMul(X, Transpose(Weights)), Tile(Reshape(Bias)))
Which is kind of unfortunate (particularly the Bias->Reshape->Tile->Add part).

I'm debating whether to just special case this in the ONNX Gemm loader or write a GraphOptimizer pattern for it.  The latter is probably cleaner (loading Gemm is already complica

[2018-12-20 23:52] artemrakhov opened #2210 "[New operator] GatherRanges"
We need to support `GatherRanges` operator from Caffe2. Spec can be found here:
https://caffe2.ai/docs/operators-catalogue.html#gatherranges

It is not possible to lower this operation. It needs to be implemented for every backend. See `Gather` for guidance on how to implement, it is very similar op.

[2018-12-21 00:47] qcolombet commented on #2194
I believe we would want to go actually further in the redesign.
1. Instead of returning a boolean, I think it would be interesting to return a cost, where UINT_MAX (or whatever) would mean not supported
2. Instead of just an enum, I believe we want the actual glow type, so that we get the shape of the different operands as well.

The benefit of going all the way down to those details is that this

[2018-12-21 01:46] champyen opened #2211 "Customized Node to Instruction Convertion"
Currently backend implementation has to provide one-to-one target-specific Node and Inst.

And the conversion from Node to Inst is fully under glow's control. Is it possible to design & create an interface for backend to convert specific Node to Inst?

It will be helpful for DLA which will be better or need to get some Inst sequences for some Node of operations.

[2018-12-21 03:53] rdzhabarov opened #2212 "[model zoo] Load more quantized models"
There are some more quantized models available from C2 model zoo which we should be able to load in Glow:
* [MobileNet quantized](https://github.com/caffe2/models/tree/master/mobilenet_v2_quantized)
* [Mask RCNN](https://github.com/caffe2/models/tree/master/mask_rcnn_2go/model/int8)

[2018-12-21 06:02] bertmaher commented on #2194
Yet one more weird wrinkle here, which @jackm321 and I were discussing earlier today: we could have a situation where an op is unsupported, but is frequently optimized away, so we maybe don't want onnxifi to give up on it (I hit this with batchnorm, although there's no reason I _couldn't_ implement batchnorm, so maybe it's not a fundamental problem.)

[2018-12-21 14:20] jfix71 commented on #2194
@bertmaher Don't we [lower the graph here](https://github.com/pytorch/glow/blob/master/lib/Onnxifi/Base.cpp#L49) before checking if it's supported? I wouldn't expect you to need to support batchnorm since it's lowered by default, unless you don't support some of its lowered nodes.

But yeah there is a potential issue with the optimizations. Perhaps we should call `ExecutionEngine::optimizeFunction

[2018-12-21 14:40] jfix71 commented on #2194
@qcolombet Good idea! I think we should also have a cost function for a subgraph, since e.g. we could we could see a Conv followed by a ReLU, and they have some cost individually, but some architectures could fuse the ReLU into the Conv at no cost. Though if we call `ExecutionEngine::optimizeFunction()` prior to checking this function then perhaps it would be fused anyway. But still, perhaps the s

[2018-12-22 20:03] #1766 closed

[2018-12-22 21:43] SplitInfinity commented on #2210
I'd like to work on this. But doesn't this require dynamic shapes? The type of `lengths` can be inferred from the types of the inputs but isn't the shape of `output` dynamic?

[2018-12-25 12:32] mratsim commented on #1749
I've done the benchmark for libjit, it reaches 85% of OpenBLAS single-threaded, not bad!

Changes for review https://github.com/numforge/laser/commit/2c9c8f10bda552468c6673b1234cb629f9a2bdcc

[code]

@nhynes For TVM bench (I also would like to properly integrate Halide), I need some more time to see how to call them from Nim.

[2018-12-26 07:46] champyen commented on #2211
Yes, I'm interested on this feature.

Recently, I'm thinking about another issue of Node/Graph manipulation. (Currently backend can only replace glow node with specific node by calling replaceAllUsesOfWith).

For most NPUs/DLAs hardware engines have restrictions for some operators, it would be better to be able to split one node to multiple nodes. (eg: Hardware has sram size issue for convolution

[2018-12-26 08:19] jfix71 commented on #2211
Ah ok, yeah I think that would make more sense at the Graph level. It seems that what you need to do is already supported via `replaceAllUsesOfWith()` -- you can use it to replace one Node with multiple Nodes.

For example, backends can decide whether to lower the `FullyConnectedNode` into a `MatMulNode` followed by a `BatchedAddNode`. When we do this with `replaceAllUsesOfWith()`, we replace the

[2018-12-26 08:42] champyen commented on #2211
Thanks for your fast response!
I underestimate the power of replaceAllUsesOfWith(). (I just think that it replace one node with another node) And the example of group Convolution is all what I mean.
The information you provide is very helpful for me.
I will study glow more before proposing any other issues.

Since I'm a newbie of NN compiler and just study glow for ~ 2 weeks.
I will try to impleme

[2018-12-26 12:32] mratsim commented on #1749
@laurae2 ran the benchmark on Dual Xeon Gold 6154 and Glow also reaches 66 GFlop/s even though the theoretical single-threaded peak is at 118 GFlop/s on M=N=K=2304 (2304=32*72, with 72 being the number of cores) (https://github.com/numforge/laser/issues/9)

I think Glow is memory-bandwidth starved.

[2018-12-26 22:39] artemrakhov commented on #2210
Indeed, exact shape of `output` is only determined at runtime.
I suggest to pass additional argument to `createGatherRanges`: `maxOutputSize`. So we'll allocate memory up to that limit, but possibly won't use it all. `lengths` content will hint users of `output` about what is actual size. It is up to higher level framework to pass correct `maxOutputSize`. It also will need to be added to proto (Ca

[2018-12-30 09:05] RanACohen commented on #2192
Which ONNX proto def will be used to represent the quantized model?

[2019-01-02 17:50] nadavrot opened #2226 "[Docs] Need to update the Backends section to reflect the new APIs"
It looks like following section is not up to date with the recent changes done in compiledFunction class:

https://github.com/pytorch/glow/blob/master/docs/Backends.md#compiledfunction-abstract-class

[2019-01-02 17:59] jfix71 commented on #2211
I'm going to close this issue for now, since it seems your problem was resolved. If you find you need backend-specific IRGen in the future feel free to reopen or open a new issue.

[2019-01-03 12:17] djordje-dj-s commented on #2181
Correct argument for ARMv7 target is " -target armv7l-unknown-linux-gnueabihf".
Below command will create hardfp object file mnist.onnx.o:
../bin/image-classifier  ../tests/images/mnist/2_1065.png -model ../../models/mnist.onnx -image-mode=0to255 -model-input-name=data_0 -cpu -target armv7l-unknown-linux-gnueabihf   -emit-bundle ./bundle_dir/ -network-name=lenet_mnist

 But, there is another issue

[2019-01-03 19:43] yinghai opened #2231 "[ONNXIFI] Clean up ONNXIFI model loader"
Now that ONNXIFI model loader is just a wrapper around ONNX and Caffe2 model loader, we probably need to clean up its interface a bit.

[2019-01-05 01:36] yinghai commented on #2210
We need to communicate this the whoever created the model, right?

[2019-01-05 17:49] yinghai commented on #2208
Maybe optimization pass looks better. You can't control how user generates their models. :)

[2019-01-06 03:01] artemrakhov commented on #2210
Right. Can we change the operator's semantics? Introduce this new argument to the protobuf.

[2019-01-07 19:13] stoklund opened #2237 "Eliminate LiveIntervalsInstructionNumbering"
Now that Glow's linear IR is implemented with a `TaggedList`, it is no longer necessary to maintain the auxiliary instruction numbering maps in the `LiveIntervalsInstructionNumbering` class — two instruction iterators can be compared directly to determine which instruction comes first in the function.

The `LiveIntervalsInstructionNumbering` class also makes it possible to distinguish between `REA

[2019-01-07 23:18] artemrakhov commented on #1698
@beicy : any updates on this? It is the most important among our unimplemented ops. Feel free to unassign if its not on your radar.

[2019-01-08 00:05] beicy commented on #1698
@artemrakhov Sorry,  forget that it is still assigned to me...  Unsigned it for now.

[2019-01-08 16:59] jfix71 commented on #2208
I'm assuming you're saying the `Bias->Reshape->Tile->Add` is unfortunate because the `Reshape->Tile` is not folded up into `Bias`? If so, we have https://github.com/pytorch/glow/issues/1469 open for implementing constant folding which would solve this -- and I think that is a more preferable solution over writing individual passes for specific constant folding patterns or implementing it specially

[2019-01-08 21:38] bertmaher commented on #2208
I think it's a bit more specialized than just constant folding -- if I understand correctly, Reshape->Tile->Add should become BatchedAdd.  (And honestly the whole thing should probably just be "FC" :) ).

[2019-01-08 22:13] jfix71 commented on #2208
Oh, whoops -- I assumed when you said `Add` above you meant `BatchedAdd`. Is the FC being broken down into `MatMul->Add` before it gets to the Caffe2ModelLoader? Otherwise I'm not sure why this would happen, as it should be created as a `FullyConnectedNode` via the `"FC"` case in Caffe2ModelLoader.

If the FC is being broken down before the Caffe2ModelLoader gets it, then yeah this seems like a sp

[2019-01-08 22:40] rdzhabarov commented on #2208
If we are to process C2 models through ONNXIFI we'd not have this problem and it seems that we can do this now.

Do we really have to address fix this?

[2019-01-08 22:40] bertmaher commented on #2208
I think with C2 models passed over ONNXIFI this problem would just go away.  The problem is the C2->ONNX conversion, which creates a bad node sequence.

[2019-01-08 23:04] SplitInfinity opened #2245 "[libjit] Modify 64-bit operator implementations to use `int64_t` instead of `size_t`"
In `libjit.cpp`, there are some operator implementation variants for inputs that are 64-bit indices (e.g. `Gather`, `GatherRanges`) that use `size_t` as the type of these inputs. These should be `int64_t` instead.

[2019-01-08 23:05] #2210 closed

[2019-01-09 10:33] speryt opened #2247 "[model zoo] Different results running ResNet50 models"
In provided examples there are 2 ResNet50 available. First one (let's call it RN1) is Caffe2 model from fb-glow-assets.s3.amazonaws.com/models/ and second one (RN2) is ONNX model from s3.amazonaws.com/download.onnx/models/opset_6/

What I noticed is that **when running batch size bigger than 1 RN2 is returning only first result correctly and rest has random values**. The problem can be spotted on

[2019-01-09 16:12] jfix71 commented on #1698
@artemrakhov Were you going to take this? Otherwise I can work on it.

[2019-01-09 17:13] jfix71 commented on #2247
Hi @speryt, the reason this occurs is that the ONNX model is not designed to allow for dynamic batch sizes -- it has an explicit reshape built in to the model which expects batch size == 1. If you run the ONNX Resnet50 with asserts turned on and a batch size > 1 then you will hit this assertion failure in `createReshape()`:

https://github.com/pytorch/glow/blob/4cb8e893e2fdfca84e1706a140d29b3ef894

[2019-01-09 18:57] jfix71 commented on #1517
It seems we aren't calling verify anywhere in Release mode. At this point is there any reason we can't/shouldn't add verify checks in the ONNX/Caffe2 model importers? E.g. before returning success here, add `RETURN_ERR_IF_NOT(F.verify(), "Function verification failed.");`:

https://github.com/pytorch/glow/blob/884d40b336994082b47516db862f6f0b18b9ae6f/lib/Importer/ONNXModelLoader.cpp#L963-L979

Rel

[2019-01-09 20:01] jackm321 commented on #1517
@jfix71 no I think there's no reason we shouldn't be calling verify() now

[2019-01-09 20:17] jackm321 commented on #2199
This should be straightforward after #2235.

[2019-01-09 21:47] opti-mix opened #2250 "Optimization to merge Transpose into FullyConnected"
#1680 implemented the optimization which merges `Transpose` into `MatMul` nodes and it is really useful.

But some of the backends do not lower `FullyConnected` into `MatMul` followed by a `BatchedAdd`, because it is more efficient to perform the `FullyConnected` operation directly.

It would be nice to extend the existing optimization so that it can handle `FullyConnected` nodes as well.

[2019-01-09 21:48] opti-mix commented on #2250
@aturetsk Whould you be interested in extending the existing optimization which was implemented by you?

[2019-01-09 23:20] artemrakhov commented on #1698
No, I wasn't. Thanks for taking this, @jfix71

[2019-01-09 23:21] gcatron opened #2254 "Separate Code Generation and Constant Collection during Compile"
Background:
With the new runtime design (#2045) we split the compilation step into two parts parts, code generation and collecting constants. Code generation is when the graph is converted to executable code that will run on the platform. Collecting Constants is the process of gathering weights and constants from the input module and copying them into a single chunk of memory for execution and cop

[2019-01-10 01:13] #2247 closed

[2019-01-10 01:15] qcolombet commented on #1517
@jfix71 sounds good to me. That was the plan when I started the refactoring.
Happy to see that moving further along!

[2019-01-10 01:50] jfix71 commented on #2247
Now that https://github.com/pytorch/glow/pull/2248 has landed, you should see an error when you try to run models with batch sizes that are unsupported instead of seeing random results. Sorry for the confusion, @speryt!

[2019-01-10 08:48] speryt commented on #2247
Thanks @jfix71 ! It works now.

[2019-01-10 22:56] #2250 closed

[2019-01-11 02:00] jackm321 commented on #2192
cc @rdzhabarov

[2019-01-11 18:00] rdzhabarov commented on #2192
@RanACohen
We recently added C2 support through the ONNXIFI so they could be originated from C2 model, for example (and we have some examples of quantized_resnet50 for c2 models).

[2019-01-16 08:12] mratsim commented on #1749
I have a new workstation with an overclocked skylake-X i9-9980XE at
  - 4.1GHz all core turbo
  - 4.0 GHz all core AVX turbo
  - 3.6 GHz all core AVX512 turbo

In the process of adding AVX512 (https://github.com/numforge/laser/pull/14), I rerun the benchmark (PyTorch Glow compiled with `-mavx -mfma`, `-mavx512f` was significantly reducing performance) and unfortunately Glow is really bandwidth sta

[2019-01-16 16:45] Squadrick commented on #2013
@jackm321 Can I work on this?

[2019-01-16 19:23] rdzhabarov commented on #2013
We'd love contributions @Squadrick

[2019-01-16 22:08] rosierm opened #2273 "[Verifier] In verifyConvolution checks for buffer height/width seem reversed."
In 8cb23a356, two checks were added to verify the input height and width are compatible with the kernel stride.  However, it seems as if the checks are comparing the input/padded width against the kernel height (and similarly the input/padded height against the kernel width).

[2019-01-17 14:16] rosierm commented on #2273
Yes, that's it.  Thanks, Roman!

[2019-01-17 14:16] #2273 closed

[2019-01-17 15:05] Squadrick commented on #2013
@rdzhabarov I've read the `CONTRIBUTING.md`, and about the template for PRs. Anything else I need to know before I start off?

Also, could one of you give me an elaborate explanation of the optimization? In `docs/Optimizations.md` it's mentioned:

How is what's mentioned here any different?

[2019-01-17 16:56] jfix71 commented on #2013
@Squadrick Right now we eliminate two consecutive transposes when they are the inverse of each other -- that is, we eliminate both of them, because when combined they are a noop. Here's the check for this:

https://github.com/pytorch/glow/blob/8b08395796eb4ae564f20a9ca840cbf0701f00e7/lib/Optimizer/GraphOptimizer.cpp#L120-L124

The new optimization would be to merge two consecutive transposes that

[2019-01-18 03:10] rdzhabarov commented on #2013
Yup, that's good. Also look https://github.com/pytorch/glow/blob/master/docs/CodingStandards.md.

[2019-01-18 04:17] SumedhArani commented on #2168
@nadavrot Could you elaborate how peephole optimizations would solve this tradeoff issue?

If I understand correctly, we would still be bound by memory constraints depending on the hardware.

I agree with @jfix71 on how constant folding is more relevant here and the broader solution.

I would like to contribute to these issues. I am starting new here. Would you be willing to give me starting point

[2019-01-18 17:06] nadavrot commented on #2168
@SumedhArani I don't have a solution to the tradeoff issue. I suggest implementing one solution (just do the peephole) and give it a try. If we figure out that we do have memory issues in real workloads then we can iterate and improve things. There is a difference between what is a possible workload, and what is likely. Maybe in practice one optimization strategy is always superior? I suggest that

[2019-01-18 19:38] SumedhArani commented on #2168
@nadavrot A feasibility analysis sounds good to me.

I will try implementing a simple peephole optimization. We can then decide the further roadmap for this depending on the results.

Are there any specific ideas that you already have in your mind regarding this implementation? Any suggestions are much valued. :)

[2019-01-18 20:41] nadavrot commented on #2168
I suggest taking a look at the graph optimizer. The authors @jfix71 and @opti-mix can review the PR. Thank you for doing this work!

[2019-01-22 15:25] jingpengw opened #2288 "is there 3D support?"
I see the data format is NCHW, it seems that this will only work with 2D image?
Is there support of 3D, such as NCDHW?

[2019-01-22 17:04] jfix71 commented on #2288
Hi @jingpengw, no, currently there isn't support. 3D convolutions are of interest to us though. Would you be interested in working on this issue?

[2019-01-22 18:07] jingpengw commented on #2288
yep, would be nice to have it, but this is not my priority right now.

[2019-01-23 01:42] jackm321 commented on #2288
I can take a look at adding support for 3D

[2019-01-24 21:40] gcatron opened #2297 "HostManager should wait until there are no active requests before clearingHost"
Make the new hostManager stop accepting requests once clearHost has been called and block until active requests are 0 before clearing host.

[2019-01-24 22:54] beicy opened #2298 "Graph Partitioning"
This issue is created to track Graph Partitioning work. It is also related to #2045.
Current Plan:
1. Get the initial partitions based on BFS order. Each partition should satisfy device memory constraints.
2. By adjusting the initial partitions (e.g. Kernighan–Lin algorithm), find out the optimized partitions based on proposed cost model ( Communication cost, computation cost, and workload balance

[2019-01-25 19:07] tlepley-cadence opened #2303 "onnxtxt generation for tests"
I'm fixing an issue in the ONNX importer and as usual, I'd like to create a test.
For this, I need to create a onnxtxt file.

Until now, I was doing it manually, because it was simple cases. This time, I would prefer to copy-paste a subset of an actual ONNX model. But I'm struggling for converting an onnx file into an onnxtxt file. Looking at the ONNX code, it doesn't seem they have an option to d

[2019-01-25 20:09] bertmaher commented on #2303
An onnx model is just a protobuf, so you should be able to use a simple python script like
[code]

[2019-01-25 21:55] ayermolo opened #2305 "Breaks windows build __atribute__(format...."
https://github.com/pytorch/glow/blob/240a78df4d7ee001692b1fe0b25cf62d5ead3ddf/include/glow/Support/Support.h#L116

Poking around doesn't look like there is an equivalent of this for VS. Maybe ifdef __atribute__ part for windows build?

[2019-01-25 22:51] nadavrot commented on #2305
@ayermolo Good idea. Let's un-break the windows build.

[2019-01-25 22:54] opti-mix commented on #2305
@ayermolo  Yes, I like the idea of using the` #ifdef`

Do you want to provide a small PR for it? We cannot build for Windows on our CI here, so we need someone with access to Windows and VS to test it.

[2019-01-26 00:31] ayermolo commented on #2305
Done.
Thanks

[2019-01-27 04:48] #2305 closed

[2019-01-28 15:48] tlepley-cadence commented on #2303
@bertmaher It works well this way. Thanks !

[2019-01-28 15:48] #2303 closed

[2019-01-28 21:28] nickgg opened #2309 "[Support] Fix ThreadPool on Windows"
Visual Studio has a bug where it uses std::function as the backing for std::packaged_task, which doesn't allow non-copyable types in the lambda capture of tasks. This is an issue for us as we use (at least) std::unique_ptr and std::promise which are both noncopyable.

We probably will need a function wrapper that fixes this. In the comments on #2154 @ayermolo  suggests a shared_function approach t

[2019-01-28 21:48] ayermolo commented on #2309
@nickgg  Thanks for filing this.
One potential fix: https://github.com/Cadence-TIP-AI/glow/commit/c6d4fa82ce0c1951bd824d3ea64f7a3a962257cf

[2019-01-29 00:11] nickgg commented on #2309
I shifted it around so it's all transparent in the ThreadPool and only on Windows: https://github.com/nickgg/glow/commit/4c3daaa00f97a40e99e7e47e4b7da08a3e5dc312

I haven't tested this on actual VS yet (will borrow a laptop first thing tomorrow), but I've tested it by forcing a std::function wrapper and it fixes the problem for me.

@ayermolo if you get a chance can you give that branch a try? nin

[2019-01-29 01:05] ayermolo commented on #2309
Thanks for cleaner implementation.
Entire solution builds, after fixing some type stuff (unrelated).
Rand ThreadPoolTest and UtilsTest Pass. In debugger stepped through moveCaptureTest. Everything seems to be captured correctly, and shared_ptr gets cleaned up on exiting the scope, which cleans up unique_ptr.

[2019-01-29 17:30] nickgg commented on #2309
I've put up that patch then, thanks for your patience with this one.

[2019-01-29 23:24] #2309 closed, assigned to nickgg

[2019-01-29 23:33] ayermolo commented on #2211
@jfix71 I was going to find issue, but then found this.
I have potential implementation: https://github.com/Cadence-TIP-AI/glow/commit/f200b104b4b296d19533b9f758eaa7dbef491226

Should I open a separate issue?

[2019-01-30 00:49] jfix71 commented on #2211
@ayermolo Looks great! I'll reopen, feel free to open a PR with that and we can re-close this issue once it lands 😄

[2019-01-30 22:40] #2226 closed

[2019-01-31 08:51] mratsim commented on #1749
Some updates on parallelization in my own library.

Matrix multiplication and convolutions are probably the hardest to parallelize and I found a clean way using OpenMP to parallelize across the M and the N dimensions using OpenMP task while being easy to maintain and understand https://github.com/numforge/laser/blob/56df4643530ada0a01d29116feb626d93ac11379/laser/primitives/matrix_multiplication/ge

[2019-01-31 18:02] rdzhabarov commented on #1950
I think we already added support for this, thanks @jackm321

[2019-01-31 18:02] #1950 closed

[2019-01-31 23:07] artemrakhov opened #2330 "[New operator] Mod"
We need to support `Mod` operator from Caffe2. Spec can be found here:
https://caffe2.ai/docs/operators-catalogue.html#mod

[2019-01-31 23:16] jackm321 commented on #2330
@artemrakhov are you planning on working on this? If not I could help out with it

[2019-02-02 07:53] Squadrick commented on #2013
Sorry about the delay. Submitted the PR.

[2019-02-04 17:45] jfix71 opened #2338 "Running fr2en quantized is broken"
Dumping a profile of `fr2en` appears to work fine. However when loading the profile to quantize and then run, currently it segfaults in Release mode, and fails this assert in Debug mode (inside the FunctionQuantizer):

https://github.com/pytorch/glow/blob/31eb569ab3ce0d3c7d7ad1ef098a3439121e3c64/lib/Quantization/Quantization.cpp#L317-L320

[2019-02-04 18:10] jfix71 opened #2339 "[RFC] Can we remove transformPreLowering()?"
The original intent of `transformPreLowering()` was to allow for a backend to transform the graph before lowering makes it potentially much harder to understand the higher-level structure of the graph and perform preferred transformations.

However, we later added `shouldLower()` to allow a backend to prevent such problematic lowering. This means that instead of using `transformPreLowering()`, the

[2019-02-04 20:34] bertmaher opened #2342 "Use static registry pattern for backends/device managers"
Right now we have to explicitly add all supported backends to switch tables in createBackend (and createDeviceManager).  It'd be nice to use a static registry pattern (I think https://www.bfilipek.com/2018/02/factory-selfregister.html is a decent overview of this pattern) to allow backends to register their existence at startup.  That will also break an annoying dependence cycle where Backend depe

[2019-02-04 23:11] vuzelac-cadence opened #2343 "ReduceSum operation should support multiple axes"
Running ResNet v1 50 model obtained from TF2ONNX and it fails with:
      `"Only supporting single reduction for now."`
This originates from `ReduceSum` operation processing in` CommonOperatorLoader.h` from `Importer`

I assume the support for multiple axis is to be added to `BatchedReduceAddNode`, however, I am curious why a simpler implementation has not being done to at least support ReduceSum

[2019-02-04 23:59] jfix71 commented on #2343
Hi @vuzelac-cadence, we just haven't hit a use case for it and so we left it unimplemented. As you said it should be relatively easy to support. There are a few options here. One could directly implement it via multiple nodes in `Graph.cpp`. Another option is to modify the current `BatchedAddReduceNode`, and then either lower it to multiple `BatchedAddReduceNodes`, or modify the kernels in each ba

[2019-02-05 01:17] SplitInfinity commented on #2330
@jackm321

Are you still working on this? If not, can I have it?

[2019-02-05 03:12] jackm321 commented on #2330
@SplitInfinity yes see #2345

[2019-02-05 20:37] geoffberry opened #2347 "ExecutionEngine::compile() modifies Function"
If a backend implements transformPreLowering() or transformPostLowering(), the Function parameter to ExecutionEngine::compile() is modified in place, so subsequent calls to ExecutionEngine::compile() with the same function will get the transformed Function as input.  This can lead to problems if the function is compiled with different backends or if the backend transforms aren't prepared to handle

[2019-02-05 21:04] jfix71 commented on #2347
@geoffberry Thanks for opening this issue. What use case are you running into here where this is an issue? In general I think if you want to load a Function once and then compile it for multiple backends then you should clone it before compiling it.

E.g. when we do profiling and quantization we clone the function and then modify the clone, so if you profile on a different backend than you quantiz

[2019-02-05 22:03] geoffberry commented on #2347
@jfix71 Thanks for the prompt reply.

The use case I'm running into is e.g. the OperatorTest Squeeze test.  Subsequent calls to EE_.compile() will see a Function that has had previous transformPreLowering()/transformPostLowering() applied to it.  If those transforms introduce new backend-specific nodes that don't normally appear in the input then the transform code now has to handle these backend-

[2019-02-05 23:27] jackm321 opened #2351 "[ONNXIFI] implement onnxSetIOAndRunGraph"
See https://github.com/onnx/onnx/pull/1781

[2019-02-06 00:06] rdzhabarov commented on #2351
@jackm321 @zrphercule can we also make onnxifi_test_driver to invoke onnxSetIOAndRunGraph?

[2019-02-06 00:09] jfix71 commented on #2347
Got it. For `Squeeze` in `OperatorTest` it seems to me we shouldn't be reusing `F_` -- we should instead be creating a new Function inside the Module for each new call to compile, especially because the nodes in each test that are added to `F_` are independent other than reading from `inputs`. Alternatively those three tests all currently inside one could be separated into three actual individual

[2019-02-06 00:21] rdzhabarov commented on #1144
@ayermolo you seem to work with Glow on Windows. Are there any pending issues here?

[2019-02-06 00:22] gcatron opened #2353 "HostManager should store Nodelist directly"
In the roots_ map the HostManager should store the DAGNodeList struct, this would greatly simplify removeNetwork and reduce the number of maps needed.

[2019-02-06 03:35] rdzhabarov commented on #1909
btw, @SplitInfinity cleaning some of the Importers tests could be made as some starting bootcamp tasks.

[2019-02-06 03:36] rdzhabarov commented on #1837
@jfix71 do you envision any follow ups on this issue?

[2019-02-06 05:01] jfix71 commented on #1837
We have the top-k script in place at this point since https://github.com/pytorch/glow/pull/2009. We should set up tracking top-1/top-5/etc. over time IMO to make sure any unusual/unexpected changes don't slip through the cracks.

In terms of changing the Interpreter -- it kind of depends on what we philosophically see the point of the Interpreter as.

I think it would be useful to be able to try t

[2019-02-06 05:05] #1837 closed

[2019-02-06 05:59] jackm321 opened #2355 "[ONNXIFI] Support function families via caffe2 protos"
Function families will be provided as different args in [`NetDef.arg`](https://github.com/pytorch/pytorch/blob/c5c831953be2c7e2a4480d07d5d0e0753f9987aa/caffe2/proto/caffe2.proto#L296). This will need to be read as multiple functions in the same module here.

https://github.com/pytorch/glow/blob/53eb17beb3818ea7fe37efcfa44c77f95bb9c192/lib/Importer/Caffe2ModelLoader.cpp#L880

Currently model loader

[2019-02-06 07:01] yinghai commented on #2355
Sounds good to me.

[2019-02-06 16:16] geoffberry opened #2356 "LocalResponseNormalization src/dest should not be marked inplace"
The `src` and `dest` operands of `LocalResponseNormalization` are currently marked as inplace, but the `squareSum` computation depends on input values with `c` indices that are before and after the current output `c` index.  If the same buffer is used these values will have been overwritten with new values on previous iterations.

[2019-02-06 17:45] jfix71 commented on #2347
@geoffberry Would you like to work on the solution? If not, it would be great if you could list all unit tests you've encountered the issue.

[2019-02-06 17:52] rdzhabarov commented on #2355
Be careful with the potential weight duplication in any case, we'd want to load that once.

[2019-02-06 18:28] gcatron opened #2357 "Add callback to DeviceManager evictNetwork"
Add a callback to evictNetwork so the caller can wait until it completes before freeing required resources.

[2019-02-06 18:41] nickgg opened #2358 "Add version of readPngImage... that writes into an existing Tensor"
The Image reading functions (lib/Base/Image.h) either take a Tensor* and reset it to the dimensions of the image, or in the case of readPngImageAndPreprocess create a new Tensor. This means that when loading a batch of images that should go into the same Tensor we do unnecessary copies.

Write a version of readImage (andPreprocess?) which takes a four dimensional tensor (w/ an index) and writes in

[2019-02-06 18:58] geoffberry commented on #2347
@jfix71 Unfortunately, I can't currently sign the CLA so I can't post a patch.
I've only run into this so far in two tests: OperatorTest:Squeeze and OperatorTest:testQuantizedBatchAdd, but my tree is a bit behind.

Could we potentially catch cases like this by adding a bit to the Function that records whether it has been compiled and raise an error if a compiled function is compiled again?

[2019-02-06 19:20] ayermolo commented on #1144
@rdzhabarov Looks like there is a build error with latest in ExecutorTest, but other then that it works.
Although full disclosure I don't know what the story is with OCL backend. I don't use it or build it.

[2019-02-06 19:45] rdzhabarov commented on #1144
@ayermolo thank you for checking.

this is never ending issue :D

Can you post it here?

[2019-02-06 19:54] ayermolo commented on #1144
tests\unittests\ExecutorTest.cpp(684): error C3493: 'numConcurrentRuns' cannot be implicitly captured because no default capture mode has been specified

Looks like gcc/clang is more permissive in lambda captures of constexpr then VS.

[2019-02-06 21:43] #2211 closed

[2019-02-06 23:10] #2351 closed

[2019-02-07 00:33] rdzhabarov commented on #2330
We'd also need CPU backend implementation since it's painfully slow for running on ONNXIFI.

[2019-02-07 00:52] jackm321 commented on #2355
@rdzhabarov yes I'll create a more detailed plan in the next couple of days but we'll have to sort of separate weight loading from the rest of the model loading so that we do that once.

[2019-02-07 02:17] jfix71 commented on #2347
@geoffberry No worries, thanks for the info.

Yeah I think this probably makes sense. There are other potential bugs here too in addition to the issue of backend-specific nodes having been added, e.g. because the graph optimizer transforms the graph based on knowing all the users of each node etc.

[2019-02-07 02:18] #1465 closed

[2019-02-07 18:13] #1144 closed

[2019-02-07 21:40] beicy commented on #2212
I will take a look at these two models.

[2019-02-08 04:16] beicy commented on #2212
There are multiple libraries supporting quantization. The quantized operators we supported now are for supporting server side quantization with DNNLOWP. But these two models uses the Caffe2's Int8*** operators lib for mobile quantization. That is, the Int8** ops set is different from what we've supported.  For example, in these 2 models, there is a "Int8Softmax", which is not used/supported in ser

[2019-02-08 05:15] rdzhabarov commented on #2212
If it's mobile only I'd skip those. One thing which worthwhile doing is to check list of ops and see what would make sense to have in our C2 loaders. Maybe look at some other real workloads with quantized server models.

[2019-02-08 15:07] tlepley-cadence opened #2366 "ExecutorTest fails: "Resource temporarily unavailable""
Since the commit `[Runtime] Add runtime Executor class` (by by meghan.lele), our CI started to fail with message: `C++ exception with description "Resource temporarily unavailable" thrown in the test fixture's constructor.`.

We didn't manage yet to reproduce the issue out of the CI tool, so it's a bit hard to debug. Searching a bit on the net, it seems that it may be related to using non blocking

[2019-02-08 15:10] tlepley-cadence commented on #2123
@aturetsk I've not seen this problem recently. Can we close the issue ?

[2019-02-08 18:18] beicy commented on #2212
@rdzhabarov Thanks!
This page lists the quantization ops used in server models: https://github.com/pytorch/pytorch/tree/master/caffe2/quantization/server#quantization-operators
Then I will close this issue and create another one to track implementing these quantization ops.

[2019-02-08 18:18] #2212 closed

[2019-02-08 18:26] beicy opened #2367 "Implementing quantization ops for server side models."
Here is the list of quantized operators used in quantized server models:
https://github.com/pytorch/pytorch/tree/master/caffe2/quantization/server#quantization-operators

The following ones haven't  been added into our Caffe2 model loader yet:
[code]
So far, there is no open sourced quantized model which using the above ops available. But we need to check which should be added into our Caffe2 load

[2019-02-08 18:26] beicy commented on #2367
cc: @rdzhabarov

[2019-02-08 18:45] jfix71 commented on #2367
RE: `Int8LSTMUnit` -- do we know if the proto representation of it will include different quantization parameters for each of the components of the LSTM?

Also curious about `Int8Tanh`/`Int8Sigmoid` using lookup tables -- does that mean we would receive a proto with a lookup table instead of these nodes? That is, can we tell we're loading a quantized tanh vs. sigmoid, or would we just see somethin

[2019-02-08 19:01] aturetsk commented on #2123
I haven’t seen the issue since we switched to LLVM 7, so I guess we can.

Best regards,
Andrey Turetskiy

From: Thierry Lepley <notifications@github.com>
Sent: Friday, February 8, 2019 7:11 AM
To: pytorch/glow <glow@noreply.github.com>
Cc: Andrey Turetskii <turetski@cadence.com>; Mention <mention@noreply.github.com>
Subject: Re: [pytorch/glow] Error in LLVM GDBRegistrationListener.cpp: "Second att

[2019-02-09 05:49] #2339 closed

[2019-02-10 01:05] yinghai opened #2369 "Glow shouldn't crash the process upon user input"
One example, if we supply the Glow with 0-dim input, it will crash https://github.com/pytorch/glow/blob/master/include/glow/Base/Type.h#L428

[2019-02-10 07:22] yinghai opened #2371 "Support second output of C2 Reshape"
It seems to be a TODO in the code comment:
https://github.com/pytorch/glow/blob/42568938b691c61f26efd26b559212db6dd5fb58/include/glow/Importer/CommonOperatorLoader.h#L547

Not supporting it results in import failures.
[code]

C2 Reshape reference: https://caffe2.ai/docs/operators-catalogue.html#reshape

[2019-02-10 23:40] jfix71 commented on #1944
Closing this for now, if someone wants to reopen and work on it feel free.

[2019-02-10 23:40] #1944 closed

[2019-02-11 17:49] #2369 closed

[2019-02-11 18:24] jackm321 commented on #2369
Thanks for fixing this @yinghai

[2019-02-11 20:13] vuzelac-cadence commented on #2343
First want to mention that the issue here is with ResNets v1 50/152, coming from TensorFlow and TF2ONNX converter - they do have ReduceMean w/ multiple dimensions. Some ONNX converters will blindly replace ReduceMean with AveragePool which is a bit of a patch, but still it can be done in Glow as well (see option 2 below).

I started with a simple serialization of the current ReduceMean implementat

[2019-02-12 02:12] rdzhabarov commented on #2367
Thanks for capturing those.
I'd prioritize those based on the production models/workloads, probably sync with @jspark1105 to figure out priorities.

this is already supported.

[2019-02-12 02:21] rdzhabarov commented on #2366
@tlepley-cadence any chance that's due to high number of threads?
e.g., numConcurrentRuns = 1000.

Could you check if the problem persists on CI if you dial that count down?

[2019-02-12 03:40] SumedhArani commented on #2168
I have written code for performing this simple peephole optimization. Where do I find the Alexnet model to test my code? (Should I submit a PR, and then continue to incrementally update it?)

Are there any other benchmarks where we can see this optimization put to use?

Also, at what stage should this optimization be called?

[2019-02-12 18:10] nadavrot commented on #2168
@opti-mix @SumedhArani Thanks for doing this work. Yes, please submit a PR. You can test your code with our unit tests and with tests in the model zoo.

[2019-02-12 18:35] opti-mix commented on #2168
@SumedhArani Yes, please submit a PR.

The AlexNet model can be downloaded using `utils/download_onnx_models.sh`

For the PR, you can easily construct a small graph with the pattern in question, apply optimizations and check at the end that `slice(constant1)` is not present in the graph anymore.

It should be called as part of GraphOptimizer transformations.

[2019-02-12 19:14] SumedhArani commented on #2168
Thank you @nadavrot and @opti-mix ! :)

I will test for the cases as suggested by @opti-mix and then submit the PR.

I have written the optimization as a part of the GraphOptimizer transformations. I wanted to ask at a finer level though. Would performing this optimization before a specific optimization give better results?

Thank you.

[2019-02-12 20:08] opti-mix commented on #2168
@SumedhArani

Have a look at the `optimizeSliceOfSplat`. It does a very similar transformation, but for splats instead of constants. You probably want to create a similar function called `optimizeSliceOfConstant` and invoke it at the same place where `optimizeSliceOfSplat` is invoked.

You may also consider extending `optimizeSliceOfSplat` to handle both cases. If you go this way, you may want to

[2019-02-12 23:03] jfix71 commented on #2343
@vuzelac-cadence Thanks for the analysis. I agree that option 2 is more of a patch. I'd prefer option 1, especially now that our quantization profiling will profile the lowered components of nodes that are lowered https://github.com/pytorch/glow/pull/2311. I think many of our current nodes which are implemented directly in `Graph.cpp`/without a node in `NodeGen.cpp` were done mostly to avoid this

[2019-02-13 00:20] suyash-cadence opened #2380 "[GLOW] Gray scale png images require replication of 1 channel to 3 channels for networks that require 3 input channel"

[2019-02-13 00:22] suyash-cadence commented on #2380
When passing gray scale images to glow, alexnet fails due to shape mismatch of input image and input Placeholder.

[2019-02-13 00:43] nadavrot commented on #2380
The models in our model zoo require 3 channels (RGB). Why is it legal to pass grayscale?

[2019-02-13 00:52] suyash-cadence commented on #2380
Image datasets like ImageNet is a combination of grayscale (1 channel) and RGB (3 channel) images. Frameworks like caffe, have a preprocessing where grayscale is replicated to more channels if the model requires it that way.

[2019-02-13 01:12] opti-mix opened #2381 "Re-factor ModelRunner/Loader/ImageClassifier and make them re-usable"
When creating a new backend, a new test or a new tool, you often need the functionality to run a user-defined model on a set of provided inputs (e.g. image files).

In many cases, this general functionality is very similar to ModelRunner, Loader and ImageClassifier, but with certain customizations. But as of now, one cannot easily reuse these functionalities and has to duplicate a lot of code.

Id

[2019-02-13 02:03] SumedhArani commented on #2168
I did exactly that. I looked at optimizeSliceOfSplat and wrote a very similar function that handled the required case. I call this new optimizeSliceOfConstant, just after optimizeSliceOfSplat.

So I think I am headed in the right direction. I will submit a PR, as soon I have tested the code.

[2019-02-13 03:57] #1698 closed

[2019-02-13 15:37] tlepley-cadence commented on #2381
I think this is a very good idea. For this, I think the code should stop directly accessing options information through global variables. Except main(), functions should only use parameters. This will make the code more easily reusable and this code could be put in a separate library.

[2019-02-13 15:56] tlepley-cadence commented on #2366
@rdzhabarov It seems this is a problem of concurrent processes, not threads. We managed to to fix the problem by increasing the process limit:
[code]

If the test fails with what I believe is a standard configuration, couldn't we simply reduce the test requirement in Glow ? I assume other people will have the same issue otherwise.

[2019-02-13 18:04] opti-mix commented on #2381
@tlepley-cadence Totally agree with you! I had exactly this in mind, but forgot to write it down when I created the issue.

[2019-02-13 18:25] jackm321 opened #2384 "HostManager should fully own devices"
`DeviceManager`s are stored as shared_ptrs but they should be unique_ptrs because they are really owned by `HostManager`. https://github.com/pytorch/glow/blob/b9752128b9af67fb7c1232b2834ef6485b0aa070/include/glow/Runtime/RuntimeTypes.h#L35
I think the blocker here is that `HostManager::clearHost()` won't block on in flight requests #2297 so the ownership of `DeviceManager` isn't as strong as it sh

[2019-02-13 18:31] nadavrot commented on #2380
Okay. Technically this is not a part of the compiler/runtime but we can add this feature to the testing infrastructure, if it's so commonly used. I suggest adding this feature to the model-runner. In any case, the input needs to be adjusted before being fed into the network.

[2019-02-13 18:50] yinghai commented on #2371
This was mitigated by https://github.com/pytorch/pytorch/pull/17027.

[2019-02-13 18:50] #2371 closed

[2019-02-13 19:15] ayermolo opened #2386 "[Improvement] Testing infrastracture"
How hard would it be to add windows build/unit tests as pre-merge check?

Thank You

[2019-02-13 19:47] nadavrot commented on #2386
This is a good idea. Is windows supported by the CI systems that we use? Can we add an additional external windows CI system? Do you know, @rdzhabarov ?

[2019-02-13 20:19] rdzhabarov commented on #2386
for that we'd need to run `continuous-integration/appveyor/pr` similar to onnx. I do not think circleCI supports windows unfortunately.

I need to see how much effort it's going to be.

[2019-02-13 22:23] alannnna opened #2389 "Homebrew's `--with-toolchain` gives `Error: invalid option`"
When running `brew install --with-toolchain llvm@7` as specified [in the README](https://github.com/pytorch/glow#macos), I got `Error: invalid option: --with-toolchain`. It worked after removing the flag and I was able to compile and run tests. This appears to be a bug in the README.

Mac version: 10.14.3
[code]

[2019-02-13 22:46] bertmaher commented on #2389
Good catch! I think --with-toolchain is an old option from llvm 6.  Could you send a PR to remove it?

[2019-02-13 22:48] alannnna opened #2391 "First time setup: `'string.h' file not found` when running `ninja all`"
When I ran `ninja all` for the first time as specified in the readme, I got a few header errors, including: `'string.h' file not found`. (I don't have the full log anymore, unfortunately.)

This fixed the problem, but it appears to be a temporary solution: https://github.com/neovim/neovim/issues/9050#issuecomment-424417456

Should the readme be updated with the temporary solution?

Mac version: 10

[2019-02-13 22:54] alannnna commented on #2389
PR is up! Thanks!

[2019-02-13 23:07] suyash-cadence commented on #2380
Okay, I think the more appropriate place to add this in image-classifier. I am not sure why and how model-runner is correct place.

[2019-02-13 23:22] nadavrot commented on #2380
@suyash-cadence sorry, I typed the wrong thing. You are correct.

[2019-02-14 01:25] #2380 closed

[2019-02-14 01:26] suyash-cadence commented on #2380
Input grayscale png images can be converted to 3 channel images. There is no real need to implement this as a feature.

[2019-02-14 03:00] #2389 closed

[2019-02-14 03:09] #2297 closed

[2019-02-14 03:09] #2384 closed

[2019-02-14 10:40] tlepley-cadence opened #2395 "Quantizing after lowering causes issues with FullyConnected"
@jfix71 there are some side effects to your changes in #2311.  Some operations have specific quantized types. This is for instance the case for FullyConnected that has its bias param quantized as Int32QTy.

The problem is that this FullyConnected nodes gets lowered as MatMul and BatchAdd. Since the actual IR quantization now happens after Lowering,  the bias is now quantized as Int8QTy with BatchA

[2019-02-14 16:59] jfix71 opened #2396 "[unittests] Cannot assume fp32 support on all backends"
The OperatorTests below compare reduced precision results (fp16 or quantized) to fp32 results. These tests get the fp32 result from the backend that is being tested, but the backend may not support fp32. The fp32 result should instead be evaluated on the Interpreter.

We can probably refactor `compareAgainstInterpreter()` from `BackendCorrectnessTest.cpp` in order to automatically do this. This wo

[2019-02-14 18:07] nickgg opened #2397 "Cross platform C-based timestamp generation in JIT (CPU) backend"
We need to take a timestamp to support tracing the CPU backend. In #2375 we're using C++ chrono library time, which is cross platform but requires C++ symbols. It would be better to use a libc approach to getting timestamps, however:
* gettimeofday is inconistent (e.g. see https://blog.habets.se/2010/09/gettimeofday-should-never-be-used-to-measure-time.html)
* clock_gettime isn't available of all

[2019-02-14 19:28] nadavrot commented on #2397
Why do we need to make cross-platform timestamps? Can we use 'cycles' as the measurement unit?

[2019-02-14 19:35] nickgg commented on #2397
I don't mean timestamps comparable cross platform. I mean a mechanism for getting timestamps which is a) sane, b) portable, and c) not C++. Harder than you'd think.

We prob don't want cycles here since we do want to be able to compare TraceEvents generated on different accelerator cards.

[2019-02-14 21:49] bertmaher commented on #2391
Uf yeah, a few of us hit this a while back and should've added it to the README then.  I found this answer on stackoverflow (although it's less concise than the fix you found): https://stackoverflow.com/questions/52509602/cant-compile-c-program-on-a-mac-after-upgrade-to-mojave

[2019-02-14 23:14] bertmaher commented on #2391
@alannnna Do you want to create a PR with the header files workaround?

[2019-02-15 01:52] jfix71 commented on #2395
@tlepley-cadence Thanks for raising this issue!

It seems the `FunctionQuantizer` needs to know each nodes' origin node that it was lowered from. After talking with @rdzhabarov, we think the best solution for now is to extend the `LoweredNamesMap` to include the origin node's `NodeKind` instead of just its output name. This way the `FunctionQuantizer` can check if e.g. a `BatchedAddNode` was lower

[2019-02-15 19:58] alannnna commented on #2391
@bertmaher Sure thing, will do!

[2019-02-15 23:17] #2391 closed

[2019-02-19 03:54] #2356 closed

[2019-02-19 13:06] zhangfanghn opened #2409 "How operator stacking is implemented?"
In cpu backend，as mentioned in the [paper](https://arxiv.org/pdf/1805.00907.pdf) 5.2(operator stacking),  I am confused,  how operator stacking is implemented?  Is there an example to explain it？

[2019-02-19 15:52] jfix71 commented on #2409
Hi @zhangfanghn -- essentially the Instruction definition found in [InstrGen](https://github.com/pytorch/glow/blob/master/tools/ClassGen/InstrGen.cpp) should include `.dataParallel()`, so that the instruction is known to be data parallel. For example for elementwise max:

https://github.com/pytorch/glow/blob/0f4139092cf34b22b1c46fc0c2c3466daf22dd0a/tools/ClassGen/InstrGen.cpp#L355-L362

Then durin

[2019-02-19 16:36] opti-mix commented on #2409
@jfix71 Thanks for a prompt reply! You were faster than me ;-)

[2019-02-20 02:17] zhangfanghn commented on #2409
@jfix71 I got it. Thank you !

[2019-02-20 02:17] #2409 closed

[2019-02-20 04:09] jfix71 opened #2410 "[DeviceManager] Enforce correct type of CompiledFunction for addNetwork"
While creating https://github.com/pytorch/glow/pull/2398, I realized that it seems the test currently is creating a `CPUDeviceManager`, but then calling `addNetwork()` on it with a `InterpreterFunction`. This seems like it shouldn't be possible or at least should fail somehow.

@rdzhabarov also mentioned that if all device managers are expected to have `maxMemoryBytes_` supplied as part of the ini

[2019-02-20 14:15] zhangfanghn opened #2411 "Is there a plan to support AI hardware accelaretor, as Example?"
I want to use glow on DSP or AI ASIC.
Is there a plan to support AI hardware accelaretor, as Example? I found that many chip vendors are partners of  glow, but  I do not find  AI ASIC example and any plans .

[2019-02-20 17:29] nickgg commented on #2410
Yes, that makes sense to me, I'll take care of it.

Re the second question, i think each DeviceManager could need slightly different construction parameters depending on the specifics of the hardware (e.g. device path? socket?) and we'll need some way to pass arbitrary info to the creation factory. Rather than pass in a fixed max size it would be better if the DeviceManager queried the physical ha

[2019-02-20 17:52] jackm321 opened #2412 "Use gtest-parallel"
Use [gtest-parallel](https://github.com/google/gtest-parallel) to speed up some of the slower tests. See for more details in https://github.com/pytorch/glow/pull/2407#issuecomment-465255105

[2019-02-20 18:14] Squadrick commented on #2412
@jackm321 Hey, can I take a crack at this?

Also, any pointers before I start?

[2019-02-20 19:20] nadavrot commented on #2412
I think that the test suite already runs in parallel. No?

[2019-02-20 19:22] ayermolo opened #2413 "Quantizing/profiling after lowering and DepthWise convolution"
After #2311 now everything is lowered always. This becomes and issue with MobileNet which has a few depthwise convolutions. In ONNX/GLOW they are represented as regular convolutions with groupSize > 1. In at least one case group size is 1024.

In Lower the lowerGroupConvolutionNode breaks these convolutions in to multiple convolutions with group size 1. This leads to explosion of nodes.
This leads

[2019-02-20 19:30] rdzhabarov commented on #2412
Yes, but at a different granularity.
Current level of parallelism is on the test binary level, like we run QuantizationTest and OperatorTest can be run in parallel.
gtest-parallel allows to make individual TEST() cases to run in parallel.

It makes sense exploring this option for long running tests.

[2019-02-20 19:43] rdzhabarov commented on #2413
Related issue: https://github.com/pytorch/glow/issues/2395.

We should explore supplying nodes which must not be lowered as part of the Loader. Currently it's up to backend whether `shouldLower` or not, but in this case it should be controlled at a higher level.

[2019-02-20 19:47] rdzhabarov commented on #2411
The challenge here is that actual ISA for the real ASICs are often times under NDA and cannot be exposed.

At some point there might be open source ISAs for real devices which we could use as an example here.
I do not think we can share any more details now, though.

[2019-02-20 19:50] rdzhabarov commented on #2366
@tlepley, this missed my inbox ...

What is the # processes in the default configuration? I'm kinda surprised as we do not really create new processes (at least explicitly) and would need to check what's going on.

[2019-02-20 19:58] jfix71 commented on #2413
It's currently not needed for any of our open source backends, however other backends might not support group convolutions. Perhaps we could remove the call into `lowerGroupConvolutionNode()` from `lower()`, and allow a backend to call it during `transformPostLowering()`. However this means we would not be able to get fine grained profiles for each convolution of the group, though this was already

[2019-02-20 22:17] jackm321 commented on #2412
@Squadrick sounds good, thanks!

[2019-02-21 00:37] ayermolo commented on #2413
Yeah seems like adding control that's not specifically tied to any backend implementation as @rdzhabarov proposed would be a good idea. This way profiling can still be done with generic CPU implementation, but what is lowered and what isn't would closer reflect whatever backend would use the profile.

[2019-02-21 04:48] bertmaher commented on #2412
I just tested ctest vs gtest-parallel on my MacBook, and the difference there isn't huge (52 vs 38 seconds).  On a many-core development server though the difference would be bigger.

[2019-02-21 05:14] jackm321 opened #2420 "[New operator] ElementwiseLinear"
The spec for the `ElementwiseLinear` operator from Caffe2 can be found here https://caffe2.ai/docs/operators-catalogue.html#elementwiselinear.

It should be possible to lower this operator to existing elementwise `Mul` and `Add` operations.

[2019-02-21 05:19] jackm321 opened #2421 "[New operator] ResizeNearest"
The spec for the `ResizeNearest` operator from Caffe2 can be found here https://caffe2.ai/docs/operators-catalogue.html#resizenearest.

[2019-02-21 08:28] dati91 opened #2423 "Tensorflow loader"
Hi!

I started to look into this project and seems really cool. But I noticed it only supports Caffe2 and ONNX formats.
Will it support other loaders e.g. Tensorflow? Is it on the roadmap?

Thanks in advance!

[2019-02-21 08:51] jackm321 commented on #2423
I'm not aware right now of any plans to support Tensorflow importing directly but you may be able to convert a Tensorflow graph to ONNX using https://github.com/onnx/tensorflow-onnx and then import the ONNX model.

[2019-02-21 08:59] dati91 commented on #2423
@jackm321 Thanks for the quick reply!

I actually looked into that project and another ( https://github.com/Microsoft/MMdnn ), but I couldn't manage to convert it correctly to load into Glow.

But I looked into the Caffe2Loader code and seemed pretty straight forward, so if I decide to use Glow for my project maybe I can contribute that to this awesome project.

[2019-02-21 11:17] tlepley-cadence commented on #2423
@dati91 We have been using tf2onnx and it works well, even if we need to fix issues with the converter and/or the Glow ONNX loader some time to time. But having a native TensorFlow loader in Glow would be in my opinion a nice to have. Is it what you have in mind when you speak about contributing to Glow .

[2019-02-21 18:16] rdzhabarov commented on #2411
I'm closing this now as there is no action could be done as of now.

[2019-02-21 18:16] #2411 closed

[2019-02-21 21:28] #1581 closed

[2019-02-21 22:24] rdzhabarov commented on #2420
@jackm321 we could source those caffe2 op tasks to bootcampers.
Based on the recent @SplitInfinity experience those get picked up pretty quickly ;)

[2019-02-21 22:55] jackm321 commented on #2420
@rdzhabarov that would amazing

[2019-02-21 23:05] jackm321 commented on #2420
@SplitInfinity I only see one bootcamped task T40166373 in the tool have there been other tasks especially on the order of creating a new operator?

[2019-02-22 00:08] #2395 closed

[2019-02-22 01:59] #2410 closed

[2019-02-22 02:48] QiJune opened #2429 "bias is always created for convolution operator"
It seems that bias is always created for convolution operator.

https://github.com/pytorch/glow/blob/fd7b735d93479c30592c0d7e44ab3f6be2283494/lib/Importer/ONNXModelLoader.cpp#L481-L494

It will waste some memory and PE cycles if we use a zero bias tensor. Actually bias is an optional input for convolution.

[2019-02-22 05:30] jfix71 commented on #2429
Hi @QiJune -- for now if this is an issue for a backend, then you could use backend-specific IRGen to generate something like a backend-specific `ConvolutionNoBiasInstruction` from a `ConvolutionNode` that has a zero bias input. At the Node level we should keep a single version of `ConvolutionNode`. If the extra zero bias tensor is an issue for many backends then we could consider adding a general

[2019-02-22 05:40] SplitInfinity commented on #2420
@jackm321

No, but most of the task template should still be applicable!

[2019-02-22 08:59] QiJune commented on #2429
@jfix71 Got it, Thanks!

[2019-02-22 08:59] #2429 closed

[2019-02-22 18:24] #2413 closed

[2019-02-23 02:49] vuzelac-cadence opened #2432 "ONNXImporterTest importPad tests expected results?"
I am looking into importPadEdge testCase, and it throws message "only the 'constant' mode is currrently supported".  From there, we have different behavior in Linux and Windows.
In Linux, the test passes which looks correct, however, in Windows it results in Unhandled Error and abort (`Error::fatalUncheckedError()` function in LLVM `Error.h`).
Want to check if you have tests tried and running with

[2019-02-23 22:33] jackm321 commented on #2432
Hi @vuzelac-cadence, I think the error that is reported as unchecked would be this one
https://github.com/pytorch/glow/blob/60b21bc6adb5444c079ac63899fcd037a57768dc/tests/unittests/OnnxImporterTest.cpp#L967-L969
I don't think we've run tests with `LLVM_ABI_BREAKING_CHECKS` so this is something that we should verify.
I would think that with `LLVM_ABI_BREAKING_CHECKS` enabled, this shouldn't be an i

[2019-02-24 15:57] #2432 closed

[2019-02-25 21:23] ayermolo commented on #2386
@rdzhabarov any update on this?

[2019-02-25 21:57] SplitInfinity opened #2438 "[Nit] Fix compiler warning in tracing-compare.cpp"
I've seen the following compiler warning for a few days now:

[code]

We should try to fix this.

[2019-02-25 21:57] nickgg opened #2439 "[OpenCLDeviceManager] move intialization from ctor to init()"
Constructor can't propagate errors back to the caller, we should move setup into init() for better feedback.

[2019-02-25 22:25] adsharma opened #2442 "Compilation errors with clang7"
llvm-link step spits out the following error messages:

[code]

They seem to be related to:

https://releases.llvm.org/7.0.0/docs/ReleaseNotes.html#changes-to-the-llvm-ir

[2019-02-25 22:30] adsharma commented on #2442
Caused by clang7 + llvm6. Using llvm7 makes it go away.

[2019-02-25 22:30] #2442 closed

[2019-02-25 23:58] #2357 closed

[2019-02-26 00:32] #2420 closed

[2019-02-26 06:55] SplitInfinity commented on #2438
I think this was fixed by #2440.

[2019-02-26 18:16] opti-mix opened #2447 "Move the reusable parts of CPUBackend into a LLVMCodeGen library"
As more Glow backends are being developed,  some of them need to directly generate code using LLVM for different targets and architectures. Thus it would be nice if it would be possible to reuse some of the `CPUBackend` functionalities (e.g. most of `LLVMIRGen`, bundle saving, may be JIT parts), but with certain backend-specific adjustments.

Glow's `CPUBackend` is not implemented as a reusable co

[2019-02-26 18:20] opti-mix commented on #2447
Since this re-factoring may change some of the `CPUBackend` internal APIs and its implementation, it would be nice to know if there is anyone who would be affected by such a change.  Please comment on this issue and let others know what do you think about the proposed refactoring and if you have any concerns about it.

[2019-02-27 22:01] ayermolo opened #2460 "Stack corruption in child thread on windows."
Seems like after recent changes by @nickgg there are now failures in multiple tests. First appeared in DeviceManagerTest, and after todays changes extended to GradCheckTest.
Full failure list. Not sure if it's same issue for others:
1 - BackendCorrectnessTest (OTHER_FAULT)
  	  2 - BackendTest (OTHER_FAULT)
  	  6 - DeviceManagerTest (OTHER_FAULT)
  	  9 - GradCheckTest (OTHER_FAULT)
  	 14 - Hyph

[2019-02-27 22:12] nickgg commented on #2460
Interesting, the change is just that we're using the DeviceManager in all tests now so it's likely the same root cause.

You say a promise is created but not used, is that an error on Windows for some reason?

Is there a log of the stacktrace you can attach? What's the object being deleted, is it the promise (the one on the stack in EE::execute)?

[2019-02-27 22:22] ayermolo commented on #2460
Stack trace below. Well I think stack check is inserted by VS.
As for promise it's internal one that LLVM uses in ExecutionSessionBase::legacyLookup.

[code]

[2019-02-27 22:41] nickgg commented on #2460
The relevant code in LLVM appears to be here:

http://llvm.org/doxygen/ExecutionEngine_2Orc_2Core_8cpp_source.html#l001610

I suspect that the errors around having a reference to PromisedReady in a lambda capture after the function returns and it gets deleted, but hard to tell exactly. LLVM has an interesting relationship with threads I think, and this feels like a bug in LLVM Runtime - that legac

[2019-02-28 01:04] #2190 closed

[2019-02-28 06:55] jfix71 opened #2464 "FunctionQuantizer silently skipping quantizing nodes"
Right now the `FunctionQuantizer` silently skips quantizing a node if the target backend does not support the quantization precision being converted to (checked via `Backend::isOpSupported()`). Instead it leaves the node in fp32 and wraps it with dequantize/quantize nodes.

Due to this, I've noticed that some of our unit tests that are intended to test precision of quantized graphs are instead jus

[2019-02-28 19:16] ayermolo commented on #2460
Which lambda are you referring to? The OnReady in LLVM?

Hmm, seems like more VS issue or something since on linux with GCC it works. Would be nice to get it working, but just disabling this for windows should be OK I guess. For us I don't think it matters. Not sure for other users, but judging by commit history don't think anyone else is on windows anyway.

[2019-02-28 20:28] opti-mix commented on #2447
@tlepley-cadence @aturetsk IIRC, your backends may be based on Glow's CPUBackend. It would be nice to hear your feedback regarding this issue and the related PR #2461. Thanks!

[2019-02-28 20:41] aturetsk commented on #2447
@opti-mix, Thanks for pointing the PR out, I'll have a look.

[2019-02-28 22:15] gcatron commented on #2353
This will require some modification of nodelist, currently DAGNodeList contains multiple networks together.
After speaking with @beicy the plan is as follows:
Going forward a network will be stored in a pair, <RootNode, vector<Nodes>> where element 0 is the root node and element 1 is a vector of the rest of the nodes in that network.
DAGNodeList will then be a vector of these pairs.

[2019-02-28 22:50] artemrakhov opened #2466 "Default values for CPU and OpenCL flags contradict to the docs"
Here we enable building with CPU and OpenCL by default:
https://github.com/pytorch/glow/blob/8e312ac3c3dd5a8aeb32ccdd6eeb4a521f7aa7a2/CMakeLists.txt#L8
This contradicts to our docs here:
https://github.com/pytorch/glow/blob/master/docs/Building.md

We need to either change defaults to OFF, or go through the docs verify them. I suggest the former, because not everyone has LLVM and OpenCL installed.

[2019-03-01 00:02] aturetsk commented on #2447
I think this is a step into the right direction and it should resolve some build inconveniences we have in our backend due to the fact that it's based on CPUBackend.
I don't expect any big issues with us transitioning from CPUBackend to LLVMBackend base. In case of any, we'll submit PRs.
Thanks for doing this!

[2019-03-01 00:34] #2194 closed

[2019-03-01 05:07] vuzelac-cadence commented on #2343
I have opened a PR (#2465 ) that fails in a weird way in an OpenCL test (newly added one). We don't have OpenCL setup (yet)  to experiment but anyway, it would be great if somebody can take a look into my short description there, as what OpenCL expects definitively looks wrong.

[2019-03-01 21:23] vuzelac-cadence opened #2469 "OpenCL failures in OperatorTest AvgPool testcases"
Currently, `NonSquareKernelAveragePool` & `NonSquareStrideAveragePool `are not Running on OpenCL.
Please see PR  #2465 where they are enabled and one if them is slightly modified to produce non round values (likely not needed). You can observe failures in  ci/circleci: DEBUG.
This comes as a result of testing OpenCL/Operator.batchedReduceMeanUsingAvgPool/0  (which is a new testcases added in this

[2019-03-01 23:02] SplitInfinity opened #2470 "[ExecutionEngine] ExecutionEngine does not initialize its DeviceManager instance"
`ExecutionEngine` does not call `init()` on the `DeviceManager` instance it creates. This isn't a problem for the CPU backend since `init()` is basically a no-op, but could be problematic for other backends.

[2019-03-01 23:52] SplitInfinity opened #2471 "[DeviceManager] Should DeviceManagerTest check network outputs as well?"
While working on another implementation of `DeviceManager`, I had a bug in my device manager (more specifically, in my implementation's override of `CompiledFunction::execute`) that `DeviceManagerTest` did not catch because it does not check the output of the networks it runs. `DeviceManagerTest` was all green but my backend integration tests that use an `ExecutionEngine` were all red.

Should Dev

[2019-03-01 23:53] SplitInfinity commented on #2471
cc: @gcatron @nickgg

[2019-03-02 00:09] gcatron commented on #2471
I think we should have a case. I think even a simple network that just squares the inputs would help catch a lot of bugs.

[2019-03-02 07:57] nickgg commented on #2471
Sounds good to me.

[2019-03-04 02:50] SplitInfinity commented on #2438
Apparently it was not

[2019-03-04 17:54] SplitInfinity commented on #2470
Fixed by #2475

[2019-03-04 17:54] #2470 closed

[2019-03-04 20:17] #2439 closed

[2019-03-04 20:30] gcatron opened #2479 "OpenCL device selection broken with new ExecutionEngine/DeviceManager"
The new OpenCL deviceManager does not look for command line parameters to select the device. With the executionEngine change to use the deviceManager that means openCL cannot be command line configured.

Going forward we want to extend the DeviceManager interface to accept it's configuration parameters and the ExecutionEngine/HostManager will create these config objects and pass them in when creat

[2019-03-04 21:11] ayermolo opened #2481 "More general implementation of Row/ChannelWiseWQuantization"
I would like to propose a generic approach for ‘RowWise’ quantization, that gives in addition the possibility for the backend to perform some customizations. I’ve created a WIP PR with a prototype implementation for review/discussion https://github.com/pytorch/glow/pull/2480.

Currently a specific ‘RowWise’ node type variant has been created for each operation concerned by rowwise quantization: Ro

[2019-03-05 00:46] jfix71 commented on #2481
@ayermolo Thanks for the proposal and example PR. I agree we could do with a redesign on supporting channel/row-wise quantization.

The proposed approach feels a bit hacky to me. There's the `replaceAllUsesOfWith()` at IRGen time. And iterating over Instruction users at LLVM generation time, and during the execution of the Interpreter kernel. And then using the Instruction as basically a pointer t

[2019-03-05 18:31] #2170 closed

[2019-03-05 19:37] ayermolo commented on #2481
Umm yeah on a hacky side for sure. Kind of tried to work around current limitations of GLOW.

The IRGen code with replaceALlUsesOfWith. I added it to prevent memory allocation for the node, but there is probably a better way of doing it. I can revisit it.

Yeah I thought about extending type, and did a bit or proto typing, but this seemed like a much more fundamental change to glow and might be mo

[2019-03-05 20:21] #2471 closed

[2019-03-05 22:15] gcatron opened #2485 "Tracing-Compare example should check init resultcode"
~line 110 in the Tracing-Compare example calls init but does not check for success.

[2019-03-06 01:07] #1559 closed

[2019-03-06 19:10] #2479 closed

[2019-03-06 21:29] jfix71 commented on #2481
Why can't this be done via `Backend::transformPostLowering()` or `Backend::compile()`? In both situations you have the Function with Node IR. Can you provide more details on requirements to perform this custom quantization?

[2019-03-06 22:50] #2396 closed

[2019-03-06 22:54] #2343 closed

[2019-03-07 00:37] ayermolo commented on #2481
Well by the time it gets to this point everything is already quantized. I guess we can "re-quantize" in transformPostLowering, but then original weight needs to be kept around until then not to loose accuracy. So the node will still have an extra input with original weights.
Basically what would be nice is to delay quantization to transformPostLowering, or even provide a hook after it to allow bac

[2019-03-07 01:18] jfix71 commented on #2481
What if we just delay the merging of Quantize nodes into Constants until the end of `Backend::optimizeFunction()`? This way the Constant payloads stay intact, we can add Quantize nodes whenever we want in the optimization pipeline, and backends can still change/customize quantization during `Backend::transformPostLowering()`.

[2019-03-07 01:22] ayermolo commented on #2481
Yeah that should work also. Isn't this what @tlepley  proposed a while back?

[2019-03-07 09:50] JerryShih commented on #2208
@bertmaher
The c2 loader convert the c2 fc to ir fc:
https://github.com/pytorch/glow/blob/2793672d9368f47690208acc3c8933944136cef9/lib/Importer/Caffe2ModelLoader.cpp#L621
Is it the problem that causes c2 fc suboptimal?

[2019-03-07 17:22] nickgg opened #2493 "Run examples as EXPENSIVE tests in CI"
Running the example code is a manual process that can be forgotten, we should automate a check of these examples when sensible.

[2019-03-07 17:54] rdzhabarov commented on #2208
Actual problem as Bert mentioned above is that if ONNXIFI uses onnx format to pass model down to Glow there is an intermediate conversion from C2 FC to something that can be represented via ONNX (ONNX does not have FC). This introduces a lot of unnecessary nodes.

[2019-03-07 19:53] jackm321 opened #2496 "[Runtime] Runtime should maintain output tensors"
@gcatron and I observed that currently onnxifi output tensors have to be allocated by glow and then the final results copied into the onnxifi outputs because Glow is overwriting the output tensors in the Context handed to the glow runtime. This should be fixed to avoid unnecessary copies of the output at the last step (and maybe more copies are happening internally as well).

[2019-03-08 18:47] nickgg opened #2500 "[ModelZoo] ModelZoo regression test"
Glow should support all of the Caffe2 ModelZoo (https://github.com/caffe2/models) and have a regression test harness that verifies support, which will alliow Backend developers to easily test operator support.

We should have tests or examples that cover each model and a script to run the set on a provided backend.

[2019-03-08 18:53] nickgg opened #2501 "[ModelZoo] support arcFace model"
Add support for the arcFace Face Recognition model in glow (https://github.com/onnx/models/tree/master/models/face_recognition/ArcFace) and verify via a runnable example we can include in the ModelZoo regression test.

This model appears to be blocked by operator support in Glow, we are at least missing the PRelu operator.

This issue blocks #2500.

[2019-03-08 18:57] nickgg opened #2502 "[ModelZoo] support tiny_yolov2 model"
Support the Tiny YOLOv2 object detection model (https://github.com/onnx/models/tree/master/tiny_yolov2) and verify via a runnable example we can include in the ModelZoo regression test.

This uses a different image format to our existing ImageClassifier tests (1x3x416x416), but may be solvable via scaling. Attempting to load the tiny_yolov2 model into image classifier fails due to unsupported oper

[2019-03-08 19:00] nickgg opened #2503 "[ModelZoo] Support DUC model"
Add support for the Dense Upsampling Convolution (DUC) semantic segmentation model in glow (https://github.com/onnx/models/tree/master/models/semantic_segmentation/DUC) and verify via a runnable example we can include in the ModelZoo regression test.

This model requires a different image set than the imagenet images we include with glow (it was trained on the cityscapes dataset), but may be runna

[2019-03-08 19:04] nickgg opened #2504 "[ModelZoo] support emotions_ferplus model"
Add support for the FER+ Emotion Recognition model in glow (https://github.com/onnx/models/tree/master/emotion_ferplus) and verify via a runnable example we can include in the ModelZoo regression test.

The image format for this model is 64x64 0to1.

This issue blocks #2500.

[2019-03-08 19:16] nickgg opened #2505 "[ModelZoo] support R-CNN ILSVRC13 model"
Add support for the R-CNN ILSVRC13 image detection model in glow (https://github.com/onnx/models/tree/master/bvlc_reference_rcnn_ilsvrc13) and verify via a runnable example we can include in the ModelZoo regression test.

We've had reports running this model that the outputs are not sensible (negative probabilities) so may indicate a bug.

This issue blocks #2500.

[2019-03-08 20:25] ayermolo commented on #2460
@nickgg @nadavrot Any update? This is blocking our rebase for couple of weeks now.
Current list of broken unit tests. The TensorTest is probably something else, but others I think related to changes to use more multi threading.
1 - BackendCorrectnessTest (OTHER_FAULT)
  	  2 - BackendTest (OTHER_FAULT)
  	  6 - DeviceManagerTest (OTHER_FAULT)
  	  9 - GradCheckTest (OTHER_FAULT)
  	 14 - HyphenTes

[2019-03-09 05:17] nadavrot commented on #2460
@ayermolo This looks like a crash in LLVM's internals. Could you try a recent version of LLVM and a recent version of MSVC? I am not sure what to do here, since we can't reproduce the problem locally.

[2019-03-09 06:30] #2353 closed

[2019-03-09 14:03] QiJune opened #2508 "Is image-classifier thread-safe?"
I am using image-classifier bin in a multi-threading environment. I am wondering is glow thread-safe? Thanks!

[2019-03-11 15:26] #2493 closed

[2019-03-11 16:52] nickgg commented on #2508
Hi @QiJune, can you give me a little more info on how you are using image-classifier? My understanding is that the example is not thread safe currently.

You can look at the examples resnet-runtime and resnet-concurrent for thread-safe examples code.

[2019-03-11 17:56] ayermolo commented on #2460
@nadavrot  Sure. Currently I am using VS2017 with all the latest patches, and LLVM 7.0.0. Looks like LLVM7.0.1 was released. I guess I can try that.

[2019-03-11 18:14] d1jang opened #2513 "Convert GradCheckTest to OperationTest style"
test cases in GradCheckTest were meant to isolate testing only to our analytical differential operations, but its test harness is designed to test more than that, including training. This problem makes tests brittle and hard to understand.

By changing those tests in a fashion of OperationTest we can isolate each operation for unit testing. OperationTest is already very big so we should think abou

[2019-03-11 18:22] d1jang commented on #2513
At its essence, this should be an effort to test gradient operators without involving the whole machinery of training.

[2019-03-11 19:55] tlepley-cadence commented on #2481
@jfix71 I agree with this approach. This is I believe a pragmatic approach to improve the quantization flow in Glow.
 Keeping Quantize nodes until `Backend::optimizeFunction()` would then solve 2 aspect we need to deal with:
- enable a lossless (re)quantization in the backends (with standard `Quantize` nodes), what is not possible today because Quantize nodes are optimized out out too early in the

[2019-03-12 00:50] petecoup opened #2520 "Make libjit an easier cross-compilation target"
Right now, libjit is built and embedded inside the CPU backend.  It is built using the native target, which matches the CPU backend.
One possibility to make this easier for cross-compilers:
Move libjit and the associated build rules somewhere under LLVMCodeGen.  Add additional cmake rules/options to specify additional non-native targets to build libjit for.
Hide the embedded bitcode behind an inte

[2019-03-12 01:17] opti-mix commented on #2520
@petecoup I agree that it is interesting to have the bitcode of libjit available for different cross-compilation targets.

Move libjit and the associated build rules somewhere under LLVMCodeGen. Add additional cmake rules/options to specify additional non-native targets to build libjit for.
Hide the embedded bitcode behind an interface that can be looked up via target name.
The CPU backend should

[2019-03-12 08:48] yinghai opened #2522 "Need to output correct shape for C2 FC op"
Today, if the input X or W for FC op has dim higher than 2, they will be flattened into 2D along `axis` or `axis_w`:
https://github.com/pytorch/glow/blob/143f862e7c5bd19b050c5865f3b465c7e5986185/lib/Importer/Caffe2ModelLoader.cpp#L569

And output will be 2D. This creates semantic difference between Glow and C2 ops, because c2's output shape will have the same dim size as input. The consequence is

[2019-03-12 17:02] petecoup commented on #2520
@opti-mix: My most immediate goal here is to support a cross-compiler on an AOT compilation path.  This can likely be accomplished by leaving libjit where it is, doing cmake work, and a few mods like you describe (give `getLibjitBitcode` a target parameter).  The current structure in place supports that, and if that is a logical first step, I can do that.

This is a very good question.
The current

[2019-03-12 17:06] jackm321 commented on #2522
@yinghai the c2 [operator docs](https://caffe2.ai/docs/operators-catalogue.html#fc ) seem to indicate that the output should be 2D and I ran this small example and the output also looks 2D. Where do you see >2D outputs of a c2 FC (or what should I change about this example)?

[code]

[2019-03-12 21:57] opti-mix commented on #2520
@petecoup

Do you have an idea how this should be done? If I understand you correctly, these specific versions of existing libjit kernels would override the "standard" implementations from libjit, right? How would such a mechanism be implemented? At bitcode level? Or would we have multiple bitcode files containing potentially multiple versions of the same kernel and there will be some kind of a me

[2019-03-12 22:44] ayermolo commented on #2481
So putting delayed quantization a side. A more general question is having such a node between Convolution/FC/whatever and Weights/Filter is the right approach?
On one hand it's a more generic approach then adding specialized rowwise quantized nodes. It allows BE to map it to whatever they want.
On the other hand it does add extra complications. For example memory will be allocated for it when not

[2019-03-12 23:27] petecoup commented on #2520
This is practically what I mean by this.  In short, perhaps we'd have something like:
`libjit/libjit_max_pool_xy_grad_f.cpp`
`libjit/my-target/libjit_max_pool_xy_grad_f.cpp`
When building libjit.bc for my-target, we'll compile and link in `libjit/my-target/libjit_max_pool_xy_grad_f.cpp`.  When building libjit.bc for any other target, we'll compile and link in `libjit/libjit_max_pool_xy_grad_f.cpp`

[2019-03-13 00:22] opti-mix commented on #2520
Yes, it seems like a reasonable short-term improvement. Please submit a PR and I'd be happy to review it.

[2019-03-13 06:02] jfix71 commented on #2481
@ayermolo I still feel the `ChannelWiseWeightQuantization` approach is a bit too hacky. In addition to the points I previously raised, it artificially increases the number of users of the node that has a rowwise-quantized input. And it's not explicitly clear that an input is actually rowwise-quantized -- you have to know to iterate over the users to check. BTW, you also can't rowwise-quantize mult

[2019-03-13 17:23] #2522 closed

[2019-03-13 17:57] gcatron opened #2529 "Backend.md is out of date"
With the addition of compileFunctions and the refactor adding CompilationOptions backend.md needs to be updated to reflect the new changes.

[2019-03-13 18:33] #2529 closed

[2019-03-13 19:15] petecoup commented on #2520
One thing here.
Maintaining the current structure here means we'll be embedding ~200K (by my measurements) per cross-target specified into binaries, through CPUBackend.o.
This isn't too crazy, but some people pay close attention to these sorts of things.  Is that going to be OK for the short term?

[2019-03-13 19:56] yinghai opened #2532 "[ONNXIFI] Check output tensor size before copying back results"
Today, we do direct memcpy from glow tensor to the pointer provided by onnxTensorDescriptor without any checking of memory size, which results in coredumps if the tensor size doesn't match. We can probably check the tensor size before doing so as onnxTensorDescriptor provides such info already.

[2019-03-13 22:08] ayermolo commented on #2481
@jfix71 Well if we do delayed quantization and you guys are OK with extending type that would be the better approach for sure. My current approach just tried to work around current implementation of quantization in glow. I wasn't sure if delayed quantization proposed by @tlepley would go anywhere, and if extending type was on the table.

[2019-03-13 22:50] nickgg opened #2535 "[Tracing] Fix scheduling of manual TraceEventNodes"
These graph nodes are intended to be "breakpoints" in the graph where we take timestamps and other runtime metrics, but since they have no dependencies they may be scheduled at any time in the execution and their results may not be meaningful. We may need to have them take an input of another node to ensure they're scheduled after it, and have the scheduler prioritize them?

Discussion from #2477.

[2019-03-14 05:57] a462428 opened #2536 "Get value from quantized weight"
After

"image-classifier tests/images/imagenet/cat_285.png -image-mode=0to1 -m=resnet50 -model-input-name=gpu_0/data -load-profile=profile.yml -cpu -emit-bundle build"

We could get quantized ".weight" file. Is it able to get the value from this file?

[2019-03-14 07:19] opti-mix commented on #2520
@petecoup

This isn't too crazy, but some people pay close attention to these sorts of things. Is that going to be OK for the short term?

We used to store those bitcode files as real files. But this had some issues with FB internal build system called `buck` and also with searching for those files at run time and thus at some point we decided to simply embed them into source files to avoid all th

[2019-03-14 08:53] pjaaskel opened #2537 "Crashes with LLVM built with assertions"
It seems there are runtime crashes when LLVM is built with assertions on.

This is one of them, but there was at least another trace which I saw:

[code]

[2019-03-14 14:41] opti-mix commented on #2537
@jackm321 Could you have a look? This is most likely related to the recent error-handling changes.

[2019-03-14 14:43] opti-mix commented on #2536
@a462428 Could you clarify your use-case? Do you need the quantized weights during the compilation of a network or when an AOT compiled network (i.e. produced by means of -emit-bundle and linked with your executable) is being executed?

[2019-03-14 15:39] jackm321 commented on #2537
Yeah looks like we have an Error that isn't checked. I'll into it

[2019-03-14 16:25] jfix71 commented on #2481
@ayermolo Yeah I'd prefer extending the type and delaying quantization. And I think even if we decide to not extend the type, we should still delay quantization -- so it would be a good place to start here. Are you all interested in working on this?

[2019-03-14 23:11] jackm321 commented on #2199
new `isOpSupported` method covers this.

[2019-03-14 23:11] #2199 closed

[2019-03-14 23:42] opti-mix opened #2548 "Do not allocate memory for weights and activations that are not used by an IRFunction"
`glow::generateRuntimeBundle` currently allocates memory even for weights and activations that are not used by the IRFunction being compiled. This is a waste of memory. We should skip such allocations.

[2019-03-15 01:08] ayermolo commented on #2481
@jfix71 As much as I would like to, I don't think I will have time to do look in to extending type in near future.  I think @tlepley-cadence  was looking in to delayed quantization.

[2019-03-15 01:49] a462428 commented on #2536
@opti-mix
Hi, I wanna check the quantized weights during the compilation of a network.

[2019-03-15 18:50] SplitInfinity opened #2554 "[RFC] Support for multiple training algorithms"
**Preface**
In #2524, I added support for the Adagrad training algorithm in preparation for adding training support for `SparseLengthsWeightedSum` in #2541. The design I chose was not well-received, so I want to propose a new design based on the feedback in that PR and discuss it before I update the PR.

**Problem Statement**
`glow::differentiate` adds `SGDNodes` for every trainable `Placeholder`

[2019-03-16 00:29] jackm321 opened #2557 "10,000 unique ids is not enough"
On some large graphs Glow is not able to create enough unique ids and crashes here
https://github.com/pytorch/glow/blob/1a37b09fe60f20295e86af28407bcf5ddc7128ce/lib/Graph/Graph.cpp#L437
Because all calls to `createDeallocActivationInst` are given the same initial name "dealloc"
https://github.com/pytorch/glow/blob/1a37b09fe60f20295e86af28407bcf5ddc7128ce/lib/IR/IRBuilder.cpp#L51 and `Module::uniqu

[2019-03-16 20:19] opti-mix opened #2560 "Remove LLVM6 support from Glow"
LLVM 7 is the latest LLVM version and LLVM 8 is not too far away. This we should drop any LLVM 6 support to simplify the code.

Specifically, we need to do the following:
- Adjust CMake files to use LLVM >=7 by default and bail if LLVM < 7 is used
- Remove any conditionally compiled LLVM 6-specific code inside #ifdefs