[2020-04-12 21:34] mneilly-et commented on #4330
The problem appears to be related to the hashing and caching of graphs and functions.

Looking specifically at [adaptive_average_pool](https://github.com/pytorch/glow/blob/master/torch_glow/tests/nodes/adaptive_avg_pool2d_test.py#L10), [registerGlowOp()](https://github.com/pytorch/glow/blob/master/torch_glow/src/Registration.cpp#L104) is called and a hash is generated via [hashGraph()](https://git

[2020-04-12 22:07] mneilly-et commented on #4330
It looks like the PyTorch side is not expecting the constant type for the node and uses a hash of zero for the constant node as a result:

![image](https://user-images.githubusercontent.com/55827703/79081113-3a839d80-7ccf-11ea-9d6d-67a1909522c2.png)

[2020-04-14 05:49] antimora commented on #4414
Quick update. In my own build I have added a copy of memset function. It appears it's not possible to unroll the function since it's a standard c library and the runtime expects it. Oddly I also learned that the compiler tries to optimize certain loops, such filling zeros, by converting to `memset` calls. This would mean even if I eliminated `memset` usage from libjit, it would reappear thanks to

[2020-04-14 18:43] #4404 closed

[2020-04-14 20:06] #4020 closed

[2020-04-15 14:35] ybai62868 opened #4420 "Question about Quantization-int8"
Hi,

I want to use the quantization in Glow. When I use this command:
../bin/image-classifier ../tests/images/imagenet/zebra_340.png -image-mode=0to1 -m=../resnet50/model.onnx -model-input-name=gpu_0/data_0,[int8q,[0.123,-13],[1,10]] -dump-profile="profile.yaml"

I got the error as following:
0415 22:32:16.624437 189784064 ONNXModelLoader.cpp:3392] Error while trying to ConstantFold Conv_gpu_0/con

[2020-04-15 16:51] skc7 opened #4422 "SGDNode deletion"
Hi,

 https://github.com/pytorch/glow/blob/master/lib/Optimizer/GraphOptimizer/Lower.cpp#L51

SGDNode is getting erased by default in GraphOptimizer, lower() call.
Can this deletion be dependent on whether backend supports SGDNode or not?

Thanks.

[2020-04-16 11:47] mciprian13 commented on #4420
You can find more details here [AOT.md](https://github.com/pytorch/glow/blob/master/docs/AOT.md).
For generating a quantized bundle you need to do two steps:
1. Profile the model using the **image-classifier** to gather profiling data required for quantization. Profiling means running the model in floating-point version to gather data about the floating-point dynamic range of the tensors.
2. Compi

[2020-04-16 14:35] ybai62868 commented on #4420
Hi @mciprian13 ,
Thanks for your help! You tell me lots of things about using Glow to quantize the resnet50 model.
I read the documentation you mentioned before. I can successfully get the file which contains model.h, model.o,model.weights.bin and model.weights.txt.
But I don't know how to combine all of them to my project to get the result of resnet50 model after quantization. I just find the "Ho

[2020-04-16 14:45] mciprian13 commented on #4420
The bundle is a library and you need to create an application (main.cpp) to integrate your bundle and run an inference.
You can find an application example for Resnet50 [here](https://github.com/pytorch/glow/tree/master/examples/bundles/lenet_mnist) and the associated CMake file to build. The Resnet50 bundle for this example was obtained from a Caffe2 model.
In the document I referenced are also p

[2020-04-16 14:46] ybai62868 commented on #4420
@mciprian13
Hi, I find the resnet50 and letnet example in examples/bundles, thanks a lot!

[2020-04-16 23:06] mneilly-et opened #4426 "[torch_glow] maxpool2d & avgpool2d don't support ceilmode=True"
The m2det, googlenet and squeezenet models use maxpool2d with ceilmode=True.

- https://github.com/qijiezhao/M2Det/blob/master/layers/nn_utils.py#L107
- https://github.com/pytorch/vision/blob/master/torchvision/models/googlenet.py#L79
- https://github.com/pytorch/vision/blob/master/torchvision/models/squeezenet.py#L46

PyTorchModelLoader.cpp fails with the following error when attempting to load t

[2020-04-17 19:49] shipperzhang opened #4434 "Retrieving LLVM IR using glow"
Is it possible to get LLVM intermediate representation (.ll) files or binary of compiled model using glow? If so, how can it be done? Are there any existing examples or tutorials?

[2020-04-21 01:33] jfix71 commented on #4434
Hi @shipperzhang -- we have a couple cl options `-dump-llvm-ir` and `-dump-llvm-asm` to see the LLVM IR and resulting assembly, assuming you're using an LLVM-based backend such as the CPU backend (i.e. use `-backend=CPU`). FYI these options will just print to stdout.

[2020-04-21 01:33] #4434 closed

[2020-04-21 01:37] jfix71 commented on #4422
Hi @skc7, good catch, yes we should not erase if the backend prevents lowering for `SGDNode`. The fix should be pretty simple (adding something like `if (B && !B->shouldLower(&N))` to the loop here should do it). Would you like to contribute this fix?

[2020-04-21 01:37] #4420 closed

[2020-04-21 01:38] #4414 closed

[2020-04-21 12:21] skc7 commented on #4422
Hi @jfix71,
Sure, I can contribute.

Few more observations:
SGDnode has .setHasSideEffects(true). What is the reason behind this?
Also there is no corresponding low level IR for SGD(like SGDInst).
So, if backend doesn't want to lower this node, and uses Low level IR, it fails at IRGen stage.
Also, if backend has its corresponding backend specific SGD node and instruction, and want to replace origi

[2020-04-21 12:37] ybai62868 commented on #4420
@mciprian13
Hi, after reading all of the documentation you mentioned before it generates the resnet.weights.txt successfully. I use vim to open this file and find that have the following format:
0X25, 0X5F, 0X00, 0X00, 0X80
It seems like the weights after the int8 quantization. But I want to find the correspondence with the original resnet50 (before quantization). I mean which number can represent

[2020-04-21 12:58] mciprian13 commented on #4420
You could wait for the PR #4392 to be over (reviewed and merged) so that when you run the inference in instrumentation mode the bundle will dump all the tensors in separate files (including weights and intermediate tensors from the graph).

[2020-04-23 08:22] jfix71 commented on #4422
When we lower SGDNode, if` momentum > 0.0` then we include a Gsum Placeholder here which we save to, hence it has side effects:
https://github.com/pytorch/glow/blob/86c53167b24865b649fd72d550ade2183f1f2a39/lib/Optimizer/Lower/Lower.cpp#L396-L412

Right -- none of our open source backends support this Node unlowered, hence we do not have an instruction for it. If you have a backend which needs an S

[2020-04-23 09:53] #4108 closed

[2020-04-23 20:40] jfix71 opened #4456 "[ConstantFolding] Need to preserve Placeholders count and name for Module"
Constant folding in the loader is currently creating Placeholders without erasing them from the Module when finished with them. These Placeholders are orphaned and never used again. They are created here:

https://github.com/pytorch/glow/blob/0accffebc47db3b22d17090949b5af9c2025b3f1/include/glow/Importer/ProtobufLoader.h#L316-L317

Additionally, the above line is using names of Placeholders that w

[2020-04-23 21:46] #4407 closed

[2020-04-24 09:42] #4371 closed

[2020-04-25 01:14] aturetsk opened #4462 "[GraphIR] Support non-flattened SoftMax in IR"
Currently Glow does tensor flattening in ONNX importer, as described in https://github.com/onnx/onnx/blob/master/docs/Operators.md#Softmax. However, object detection networks often have SoftMax nodes on tensors with width/height > 1, thus flattened tensor dimensions would be like [N * W * H, C]. I.e. information about exact dimension sizes, which might be important for a backend, is lost.
Can we h

[2020-04-25 01:15] aturetsk commented on #4462
@ayermolo

[2020-04-26 00:59] jfix71 commented on #4462
SGTM to support this. To be clear, are you suggesting that we add `axis` to Glow's `SoftMaxNode`, and then during lowering we lower e.g. a `SoftMax(axis=2)` to `SoftMax(axis=1)` with flattening done accordingly? Then a backend can prevent this lowering if it prefers to see the axis and handle it differently?

[2020-04-27 09:30] mciprian13 opened #4463 "[GraphOptz] Specialize 1x1 Convolutions to FullyConnected"
I think it is reasonable to expect that a 1x1 Convolution (with pads all 0's) which is mathematically equivalent to a FullyConnected can be processed faster by a FullyConnected kernel than a Convolution kernel regardless of the Backend. Here is an example from a MobileNet model which has chained 1x1 Convolutions:
![image](https://user-images.githubusercontent.com/29785908/80356693-7c414600-8882-11

[2020-04-27 19:31] aturetsk commented on #4462
@jfix71, yes, I suggest exactly what you described.

[2020-04-27 22:17] aturetsk commented on #4463
The problem I see with this is that converting 1x1 Conv into FC early in the compilation flow will prevent some optimizations from happening. Or implementation of each applicable transformation will have to be extended to cover both FC and Conv, which is a bit messy. Arguably, but for this exact reason on graph level it might make more sense to do the opposite (convert FC to 1x1 Conv so that all g

[2020-04-27 22:58] ayermolo commented on #4462
@aturetsk As we discussed. I'll make the change.

[2020-04-28 00:34] jfix71 commented on #4463
IMO this fits reasonably into the folding/lowering passes we have, since we do `optimize -> fold -> optimize -> lower`. So first we'd hit optimizations for FC, then we'd fold to 1x1 Conv, hit optimizations for Conv, then lower back to FC. Note that the lowering part here could be implemented without the folding part as intended in the original post. Any concerns or places you see an issue with thi

[2020-04-28 00:56] aturetsk commented on #4463
No, I don't think there are any concerns if done in `lower` stage (after all, this part is controlled by backend, thus the transformation can be disabled by a backend if so desired).

[2020-04-29 02:25] aturetsk opened #4467 "[Build] Optional Folly usage"
I grep'ed the code, and the only place I see Folly used in the generic part of Glow is ThreadPool:
[code]

That's not much and from the looks of it not every Glow use case might need that. Are there any plans to use Folly somewhere else in Glow?

Otherwise, is it possible to restrict Folly usage in the generic part of Glow to ThreadPool and make it an optional dependency? I wonder if it's possible

[2020-04-29 09:50] mciprian13 opened #4469 "[Node][Verification] Incorrect Conv/Pool node verification !!!!!"
The current way one of the H/W dimensions is validated in Glow for Conv/Pool node is like this:
[code]
where `effKernelH` is the effective dilated kernel size:
[code]
but for strides higher than 1 this is incorrect due to the integer division (which floors the result) resulting in possible inconsistent Conv/Pool nodes in the graph.
The correct way is to compare the expected input size like this:
[

[2020-04-29 13:08] mciprian13 opened #4470 "[Node] The Node::clone() function has memory leaks."
When using the `Node::clone()` function for a Convolution node for example the ASAN complains about a memory leak regarding the unsigned_t vectors **Kernels**, **Strides** and **Pads**. I think this has to do with the conversion made from llvm::ArrayRef to std::vector but I'm not sure because I don't really understand the llvm::ArrayRef type.

Similar thing happens if I generate and use the setter

[2020-04-29 13:08] mciprian13 commented on #4470
@opti-mix @jfix71 Do you know why this happens?

[2020-04-29 16:15] mneilly-et opened #4471 "mobilenet_v2 does not trace on glow interpreter"
The pretrained mobilenet_v2 model from torch vision fails to trace on glow.

The issue can reproduced with the following code:
[code]

The following error is raised:

The following environment was used:

[2020-04-29 18:59] jfix71 commented on #4470
Hm, no I'm not sure. We have a test for this where we create a `ConvolutionNode` and clone it (see `cloneTest` in `GraphTest`), and it's run in CI with ASAN. The log you posted is showing where the memory is allocated, not leaked, right? So perhaps the cloned node is leaked somewhere in the node splitting PR as that appears to be where the issue is seen?

[2020-04-29 19:37] mciprian13 commented on #4470
@jfix71 In my node splitting function I first run a round of searching of a split configuration and I create some temporary clones. I explicitly verified that the temporary clones are destroyed. If you look at the log the memory leak refers to the Kernels, Strides and Pads fields of the convolution clone (16 byte, 8 byte and 8 byte per object). How could this be?

[2020-04-29 20:00] opti-mix commented on #4470
ArrayRef does not allocate any memory. It is basically a pointer to the beginning of the memory of a previously allocated array (e.g. C array or std::vector) and the number of elements in it.

[2020-04-30 20:38] jfix71 commented on #4470
@mciprian13 Assuming the ConvolutionNode is getting destructed then it doesn't make any sense -- these are `std::vectors` and so they would always be destructed when the ConvolutionNode is since they're members of it. This shouldn't have anything to do with `ArrayRef` -- as @opti-mix mentioned it's just a wrapper around other memory, and when we call the ConvolutionNode constructor it just copies

[2020-04-30 21:05] antimora opened #4477 "Nightly build binary artifact"
I wish I could pull glow binary files when building a docker image. Currently a full build is required in order to use glow utilities.

[2020-05-01 18:34] mciprian13 commented on #4470
@jfix71 You were right. I was not deconstructing correctly the temporary nodes. Initially I used a `std::vector<unique_ptr>` for the clones but this only called the destructor from the base class `~Node()`. Instead I used now the function `Node::destroyNode()` which I made public in `Node` class.
Thanks!

[2020-05-01 18:34] #4470 closed

[2020-05-04 15:19] opti-mix commented on #4263
@mciprian13

Implementing this feature shouldn't be too hard. But I'd like to understand a bit better your intent here.

1) Do you suggest all kernels/libjit functions should return an error code that is 0 (no-error) by default? Or do you suggest just some of them may return error codes?

2) IIUC, you want to perform some error checking inside the main function of the bundle to propagate the error

[2020-05-04 16:37] mciprian13 commented on #4263
@opti-mix I thing it would make sense something like this:
[code]
So to respond to your questions:
1. I think we should NOT force that all the kernels to have a return type. After all for 99% of the kernels (math related) the return code is not necessary (and we don't want to modify all the current libjit kernel APIs if not needed). The procedure which generates the function call could inspect the

[2020-05-04 19:03] mciprian13 opened #4484 "[LLVM][Feature] Kernel specialization"
**Usecase/Assumptions**
- Assume I have a 3rd party kernel library (with e.g. convolution, gemm, etc) denoted from now on with **LIBX** designed and optimized for a particular target (e.g. ARM) and I want to integrate it in Glow as easy/quickly as possible without even creating a new Backend.
- The target for which **LIBX** is developed is assumed to have LLVM support and therefore the **LIBX** sp

[2020-05-04 19:07] mciprian13 commented on #4484
@opti-mix @jfix71 I raised this issue to have more like a discussion. This is something I need for a long time now because 90% of my work with Glow is to integrate optimized kernels done by others (3rd party). The quantity of code I write for this currently is more than I can handle and I need something to speed things up. In my opinion this would greatly benefit the entire Glow community.
I would

[2020-05-04 19:14] mciprian13 commented on #4463
@jfix So I'm not sure I understand where exactly is the right place to do this specialization. My intention is to have this specialization by default part of the CPU backend which is the backend I currently use.

[2020-05-04 19:19] jfix commented on #4463
Hi, just to say you probably want to talk to @jfix71 ... 😉

[2020-05-05 00:11] opti-mix commented on #4263
@mciprian13 Thanks for clarifications, I think I understand what you are after and it totally makes sense.

[2020-05-05 08:31] mciprian13 commented on #3790
@shajrawi I agree with this approach of having the layout part of the Type definition. Is this work planned?

[2020-05-05 13:03] mciprian13 commented on #3845
Solved in #4392. Closing this issue.

[2020-05-05 13:03] #3845 closed

[2020-05-05 13:05] mciprian13 commented on #4469
After having a second thought this verification restricts too much the definitions for Convolution and Pooling nodes. Some Caffe2 models have some ill-defined nodes as explained above but for flexibility reasons we might want to allow such nodes to exist in the graph.
Closing this issue.

[2020-05-05 13:05] #4469 closed

[2020-05-05 16:01] shajrawi commented on #3790
The issue is up for grabs / not assigned, please feel free to work on it if you're interested.

[2020-05-06 07:49] jfix71 commented on #4463
@mciprian13 You'd add a case for `Conv1x1 -> FC` to `glow::lowerNode()` in `Optimizer/Lower/Lower.cpp`. And if you were interested in the other direction too, you'd add a pass for `FC -> Conv1x1` and add it to `createDefaultFoldPassPipeline()`.

[2020-05-06 08:27] jfix71 commented on #4484
Hi @mciprian13 -- so I have less familiarity with LLVM-based backends than @opti-mix, he would have better suggestions specific to the LLVM backend. But from a pure Glow perspective, one way this could be done is to use backend-specific Instructions and `Backend::generateInst()`. You could have e.g. `YourBackendMatMulInst` that matches the Glow default `MatMulInst`. You could add an input like `Sc

[2020-05-06 08:44] mciprian13 commented on #4463
@jfix71 Got it. One question though: is the lowering procedure recursive? Meaning that after the 1x1Conv is lower to FC, will the FC get automatically lowered again to MatMul + BatchAdd for the CPU Backend?

[2020-05-06 09:07] jfix71 commented on #4463
@mciprian13 Yeah it would be lowered, but only if the backend returns true for `shouldLower()`.

[2020-05-06 09:13] mciprian13 commented on #4463
@jfix71 Ok thanks!

[2020-05-06 15:34] opti-mix commented on #4484
@mciprian13 I understand the motivation for your request. And I agree that it is somewhat painful to integrate 3rd party specialized libraries into Glow's CPU backend or other Glow backends.

Ideally, the mechanisms you describe should be reusable to a big extent for other backends. In case of backends for HW accelerators, you also often have optimized custom kernels available as libraries or even

[2020-05-06 18:13] mciprian13 opened #4492 "[ONNXImporter] Message print when folding failed"
When compiling a ONNX model with a LSTM node the CLI tool prints the following message:
[code]

The bundle seems to be generated properly and after investigating the source it seems that it is not an error but merely a print from:
https://github.com/pytorch/glow/blob/644d26f58c3dbe56e5d9b7ccc50031a01c300f3b/lib/Importer/ONNXModelLoader.cpp#L4069-L4071
@jfix71 Can you confirm that this is not a pro

[2020-05-06 18:21] jfix71 commented on #2923
Finished in https://github.com/pytorch/glow/pull/3193

[2020-05-06 18:21] #2923 closed

[2020-05-06 18:23] aturetsk commented on #4467
@jfix71, @opti-mix, @bertmaher, any thoughts  on this?

[2020-05-06 19:42] mciprian13 commented on #4484
@jfix71 Currently we integrate the kernels in a nasty way (don't judge me 😄 cuz this path was chosen when I did not have experience in Glow):
- we don't have our own backend ... we just hijacked the CPUBackend
- in TransformPostLowering we conditionally specialize generic nodes to CPU specific nodes (e.g. XConvolutionNode) which has some extra members (KernelName, ScratchSize)
- we do the IRGen to

[2020-05-07 03:31] venkatacrc commented on #2624
@stellaywu @rdzhabarov What is the actual fix for this error. I am hitting this error today.

[2020-05-07 08:40] jfix71 commented on #4467
If you can get it to work correctly then I think it's reasonable. I know @bertmaher tried quite a bit to restrict usage of folly but couldn't get it to work. Also CC: @gcatron in case some any potential runtime refactoring we're considering has an impact here/would make folly easier to keep out of the rest of the codebase.

[2020-05-07 09:01] jfix71 commented on #4492
Yeah, it's not a problem insomuch as we've made constant folding best effort, so if the model successfully compiles even though there's a constant folding error then it should be fine (though if we should have been able to constant fold something then there's extra work done at inference time that we didn't need to do).

Perhaps we should just update the message we log here? E.g. `"Unable to Const

[2020-05-07 09:59] ybai62868 commented on #4420
@mciprian13 Hi, I find that your PR has been merged into the master branch. I use the latest version of glow to build the project for the int8 quantization resnet50 model. I only find the update of the profile.yaml. But how can I get the correspondence with the original resnet50 (before the quantization and after the quantization when I mentioned before)?
Thanks a lot!

[2020-05-07 16:23] mciprian13 commented on #4492
@jfix71 I'm not very familiar with the error handling/reporting types. I see there's a lot of types in Glow. For now it would suffice I think not to print the message by default. Is there such a thing `LOG(DEBUG)` to change to?
What do you mean by `repro`?

[2020-05-07 19:26] gcatron commented on #4467
I think it will be used more widely through the Runtime going forward, another example just added is #4482, so it may be difficult.

[2020-05-07 19:49] ayermolo commented on #4484
Just throwing it out there as a potential short term solution. Maybe it's time to create your own backend, and inherit from CPU backend. In legalizer if layer needs additional things done you can do it there, or if additional parameters are required replace it with backend specific OP. During LLVM IRGen you can fall back to CPU LLVMIRGen for nodes that you just want libjit to handle.

[2020-05-07 20:42] venkatacrc commented on #2624
Adding -DLLVM_DIR=/usr/lib/llvm-8/cmake helped to resolve this error for me on Ubuntu 18.04.
`$cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DLLVM_DIR=/usr/lib/llvm-8/cmake`

[2020-05-08 07:25] ybai62868 commented on #4420
@mciprian13 Hi， I have successfully used the new function of your PR when I do the int8 quantization resnet50.
I use the following command:

 ../bin/model-compiler -load-profile=profile.yaml -assert-all-nodes-quantized -keep-original-precision-for-nodes=SoftMax -backend=CPU -model=../resnet50/model.onnx -emit-bundle=build -model-input=gpu_0    /data_0,float,[1,3,224,224] -instrument-debug=true -in

[2020-05-08 07:34] jfix71 commented on #4492
`VLOG` doesn't print by default -- you provide a verbosity level and it only prints depending on a verbosity level `--v` specified on the command line.

By repro I just meant some way to reproduce the issue, so we can root cause and fix it.

CC: @ksaurabh-cadence @tlepley-cadence

[2020-05-08 08:04] mciprian13 commented on #4420
@ybai62868 The file `debug.info` is printed at **compile-time**. All the dumps `dataxxx.txt` are dumped at **run-time** so you need to make an application and run the bundle in order for those dumps to be written. The files will be dumped in the same folder `debug` as the files `dataxxx.txt`.

[2020-05-08 09:41] ybai62868 commented on #4420
@mciprian13 Hi, thanks for your help. I think it is a good PR and I have successfully gotten the results I want to get in the debug folder.

data0000.txt data0026.txt data0052.txt data0078.txt data0104.txt data0130.txt data0156.txt data0182.txt data0208.txt data0234.txt data0260.txt data0286.txt data0312.txt data0338.txt data0364.txt
data0001.txt data0027.txt data0053.txt data0079.txt data0105.txt

[2020-05-08 10:36] mciprian13 commented on #4420
The file `debug.info` tells you which file corresponds to which IR instruction operand. Glow has multiple levels as you might know:
- Graph level (high level) with `nodes`
- IR level (low level) with `instructions`
The dump correspond to the second low-level IR. Between the high-level IR and low-level IR in most cases there is a 1:1 mapping but there are some `node` which are broken into multiple

[2020-05-08 20:44] aturetsk commented on #4467
@jfix71, @gcatron, thanks for your feedback. I played a bit with this and didn't find any easy way to remove folly dependency. Taking into account that folly is going to be used more, to achieve this we'd need to have non-folly based implementation for all runtime interfaces. I don't this is something we want to do. Closing the issue.

[2020-05-08 20:44] #4467 closed

[2020-05-11 14:54] mciprian13 commented on #4492
@jfix71 You can reproduce the "problem" for this model: [lstm.zip](https://github.com/pytorch/glow/files/4610305/lstm.zip)
Using the `model-compiler` like this:
[code]
which produces the console text:
[code]
although the bundle is generated.

[2020-05-11 15:22] byersin opened #4505 "Unexpected results with quantization"
Using a simple fully-connected network (784\*128\*10) on the MNIST dataset, I tested the quantization method proposed in [this document](https://github.com/pytorch/glow/blob/master/docs/AOT.md#compile-a-bundle-for-a-quantized-model). I made the quantization profile using the MNIST training dataset and used it to create quantized bundles targeting different architectures. I then ran the networks on

[2020-05-11 16:29] mciprian13 commented on #4505
@byersin This might surprise you but it is not guaranteed that a quantized model runs faster than a floating-point one. The only direct and controlled impact is memory footprint: a quantized model will use roughly 4x less memory (`int8` vs `float32`).

What does quantization mean: means using integer operations to approximate floating-point operations. There are multiple `quantization schemas` whi

[2020-05-11 19:23] mciprian13 commented on #4492
@jfix71 Thanks for solving this "problem" 😄

[2020-05-11 23:53] #4492 closed

[2020-05-14 00:53] #4456 closed

[2020-05-14 14:47] sheh opened #4516 "Load an onnx model with ConvTranspose2d group > 1"
*[Original discussion](https://discuss.pytorch.org/t/load-an-onnx-model-with-convtranspose2d-group-1/80480/5)*

A pretrained model has the following layer

[code]
the model was converted to onnx.

During compilation using command:
[code]
an [assertion](https://github.com/pytorch/glow/blob/07caebd08dae4017a11c0460e769bc0aec31651f/lib/Graph/Graph.cpp#L691) fails:

[code]

for my case:

[code]

so `f

[2020-05-14 23:19] #4263 closed

[2020-05-15 16:58] mciprian13 opened #4522 "[Quantization] Questions"
@jfix71
I have a couple of questions about the quantization procedure. I am currently working with some backend specific nodes and I want to know some parts of the Glow philosophy involving quantization.
1. How exactly are the `RescaleQuantized` nodes merged during the optimizations? For example assume we have two nodes A->RescaleQuantized->B where A is the preceding node and B is the node followi

[2020-05-15 18:52] jfix71 commented on #4522
There's a little bit of both. I think ideally we will merge them into the following node B, since it's essentially a no-op. We do also merge into the preceding node A, but this changes the numerics of the op -- e.g. if the Rescale is to a wider quantized range than the original output of the op then we will be less precise but have a larger range of values that can be represented. So I think mergi

[2020-05-20 17:13] mciprian13 commented on #4484
@opti-mix @ayermolo I agree it is time for me to create a Backend. I want to fork a Backend from the LLVM backend similar to how the CPU does. In order to do this basically I'll start by copying the code of the CPU Backend and rename stuff. There are two things at this point I'm not happy with:
1. The source file `CPUBackend.cpp` contains logic which in my opinion should be moved in the LLVM Backe

[2020-05-20 17:43] opti-mix commented on #4484
@mciprian13

Good points!

Regarding (1): I see what you mean and it makes sense, in general. At the same time, based on my experience, new LLVMBackend-based backends often initially support only a small subset of operations. Which means they need to heavily customize the logic for isOpSupported. Over time, as they support more and more operations, they become more and more similar to the standard

[2020-05-21 03:51] jfix71 opened #4541 "[RFC] Removing non-custom ONNXModelWriter logic/support"
Now that we use our own custom Glow ONNX serialization, I'm wondering about the value of the original ONNX serialization logic.

For context, this was originally intended to serialize models to ONNX from Glow IR. However there's not always a 1:1 match from Glow Nodes to official ONNX ops. So we added *some* custom Glow ops to support this by hand, which kind of made the idea of abiding by the offi

[2020-05-21 06:12] mciprian13 commented on #4541
@jfix71 I never used the ONNXModelWriter and never planned to so no objection here.

[2020-05-21 06:28] yinghai commented on #4541
SGTM

[2020-05-21 14:48] saurabh-shandilya commented on #4541
@jfix71 I briefly explored using this functionality to use glow as an **optimization tool for onnx models** to get an optimized onnx model, as I find lack of support for GPUs somewhat limiting for some of my usage. I was planning to use this feature but was not sure about 1 to 1 matching between glow nodes and onnx ops, but I was thinking for most of the trivial classification networks should have

[2020-05-21 21:54] jfix71 commented on #4541
Hi @saurabh-shandilya -- I agree for simpler networks it should be less of an issue to use ONNX export, since it should be easier to map back to real ONNX ops. You said you explored it -- did you actually get it to work?

Also curious what GPU were you want to run on. We do have some OpenCL support but of course this may not suit your needs.

[2020-05-22 09:50] ybai62868 opened #4546 "[Quantization of operators]"
Hi,
After visualizing the graph.pdf, I can not find the Batch Normalization in the pdf. So I want to know that how glow solves the bn operator when we use glow to quantize the resnet50 model. Does the batch normalization merge into the convolution operator? I find CPUMaxSplat in the graph and it is equal to the ReLU in the original computation graph?

[2020-05-22 09:50] ybai62868 commented on #4546
thanks a lot

[2020-05-22 17:46] mciprian13 commented on #4546
BatchNorm is fused into Convolution. CPUMaxSplat is same as Relu.

[2020-05-25 03:13] ybai62868 commented on #4546
@mciprian13 Hi, Do you know where can I find the code about merging Conv and BN? Thanks a lot. I want to know more details about it.

[2020-05-25 08:56] jfix71 commented on #4546
@ybai62868 See this function where the core of the optimization is: https://github.com/pytorch/glow/blob/dae7a208ddbbf9ca94226bba79a611a63c227395/lib/Optimizer/GraphOptimizer/GraphOptimizer.cpp#L1588

[2020-05-26 17:15] saurabh-shandilya commented on #4541
@jfix71 I want to run it on nvidia Quadro P2000 but basically a particular GPU is not important. I think it did work fine for one simple model I tried.

[2020-05-27 09:38] shrutiramesh1988 commented on #1749
Is there any way to integrate GLOW with PyTorch so that we can get additional performance gain for inference throughput? Also if GLOW's image-classifier is implemented as multi-threaded, it would be really helpful to compare performance of PyTorch vs GLOW and evaluate the % performance gain we can obtain by GLOW

[2020-05-27 16:38] byersin commented on #4505
Thank you for your explanation! I still need to do more testing but indeed things are not as straightforward as I expected them to be.

[2020-05-27 16:38] #4505 closed

[2020-05-27 20:21] mciprian13 opened #4550 "[Graph] Transpose layout question"
@shajrawi Can you please explain the following lines of code?
https://github.com/pytorch/glow/blob/ae8d3a313871c53ea1bdbf63a6541dc5eebd7208/lib/Graph/Graph.cpp#L1199-L1216
I don't understand a couple of things:
- if the layout of the input tensor is unknown (ANY_LAYOUT) how can you decide the layout of the transposed tensor based on the shuffle? The logic should make no assumptions in this case fo

[2020-05-27 20:41] shajrawi commented on #4550
* `ANY_LAYOUT` is not unknown, it is a "don't care" layout. for example elementwise operations
* There's an issue to make the layout property of the tensor / node value instead of the node that is up for grabs as i mentioned: https://github.com/pytorch/glow/issues/3790
* There's a markdown document that describes why we need to verify layouts and some of the rationale here https://github.com/pytor

[2020-05-28 21:42] jfix71 commented on #1749
@shrutiramesh1988 We have [torch_glow](https://github.com/pytorch/glow/blob/master/docs/pytorch.md) which is our intended long-term path from PyTorch to Glow. We also could execute PyTorch models if they are converted to ONNX or Caffe2 -- see [this link](https://pytorch.org/tutorials/advanced/super_resolution_with_caffe2.html).

[2020-05-28 21:58] jfix71 commented on #4516
CC: @vuzelac-cadence

[2020-05-28 23:54] vuzelac-cadence commented on #4516
@sheh , not sure how get your input but idim = (1, 64, 15, 20) suggests NCHW. Glow is NHWC. So I assume asserts gets triggered since idim.c = 20.
Also, not sure if you want to use CPU/Interpreter backends, but those support group=1 only.

[2020-05-29 09:07] ybai62868 commented on #4546
Thanks a lot. After I get the data00xx, I want to know the result of each file. For example, if we have the following convolution type:
 Type: convolution
 Name: gpu_0_res2_0_branch2a__5
 [0] Dest:      data0012.txt    i8[S:0.0255 O:-128][0.000,6.505]<1 x 56 x 56 x 64>
 [1]  Src:       data0013.txt    i8[S:0.0341 O:-128][0.000,8.703]<1 x 56 x 56 x 64>
 [2] Filter:    data0014.txt    i8[S:0.0048 O:

[2020-05-29 09:10] mciprian13 commented on #4546
You can find the code here:
https://github.com/pytorch/glow/blob/master/lib/Backends/CPU/libjit/libjit_conv.cpp

[2020-05-29 09:55] ybai62868 commented on #4546
@mciprian13 Thanks a lot. I find the function named libjit_quantized_convolution_generic. And I want to ask some questions about what is the meaning of parameter "depthUnroll", "biasPre", "biasPost", "outPre", "outPost"

[2020-05-29 10:29] mciprian13 commented on #4546
@ybai62868
depthUnroll - is a loop unrolling factor along the depth dimension of the convolution
biasPre/biasPost/biasScale - are quantization parameters for the bias operand
outPre/outPost/outScale - are quantization parameters for the output operand
These quantization parameters are derived from the input/filter/bias/output scales parameters based on the logic here:
https://github.com/pytorch/gl

[2020-05-29 10:48] ybai62868 commented on #4546
@mciprian13 Thanks a lot. For example,
[3] Bias: data0015.txt i32[S:0.0002 O:0][-350745.750,350745.750]<64>
That means biasPre equals to -350745.750, biasPost equals to 350745.750 and biasScale equals to 0.0002.
Am I right?

[2020-05-29 10:51] mciprian13 commented on #4546
@ybai62868 No. The format of the print is [Scale, Offset][MinimumValue, MaximumValue]<shape>. So in that case:
Scale=0.0002
Offset=0
Minimum = -350745.750
Maximum = 350745.750
The BiasPre/BiasPost/BiasScale and OutPre/OutPost/OutScale are not printed anywhere and are derived only at run-time when calling the convolution kernel.

[2020-05-29 10:53] ybai62868 commented on #4546
@mciprian13 If I want to get the value of BiasPre/BiasPost/BiasScale and OutPre/OutPost/OutScale, what should I do ?

[2020-05-29 10:55] mciprian13 commented on #4546
@ybai62868 Put some printfs in the section of the code where are computed (I showed you were), recompile Glow, and compile again the model.

[2020-06-01 05:36] ybai62868 commented on #4546
Another question about quantization，“ libjit_quantized_conv2d_generic” or "libjit_channelwise_quantized_conv2d_generic" which one should glow choose for the default?

[2020-06-02 07:59] mciprian13 commented on #4546
The **libjit_quantized_conv2d_generic** kernel is used by default. The other kernel **libjit_channelwise_quantized_conv2d_generic** is used only if you specify the CLI flag **enable-channelwise** when compiling the bundle with **model-compiler**.

[2020-06-02 12:38] ybai62868 commented on #4546
@mciprian13 Thanks a lot. BTW, when I use the * libjit_quantized_conv2d_generic *, where can I find the value of the parameter "depthUnroll"?

void libjit_quantized_conv2d_generic(
    ElemTy *outW, const ElemTy *inW, const ElemTy *filterW,
    const BiasElemTy *biasW, const dim_t *outWdims, const dim_t *inWdims,
    const dim_t *filterWdims, const dim_t *biasWdims, const dim_t *kernelSizes,
    c

[2020-06-02 12:41] mciprian13 commented on #4546
@ybai62868 It is nearby the place where the derived quantization parameters are computed:
https://github.com/pytorch/glow/blob/349079dd18664214787517cbd0abd8241592404d/lib/LLVMIRCodeGen/LLVMIRGen.cpp#L1908

[2020-06-02 12:52] ybai62868 commented on #4546
@mciprian13 Thanks a lot. I have known all of the parameters in **libjit_quantized_conv2d_generic**. It seems that I can not use printfs in the section of the code to get the value of ** biasPost**, ** biasScale** and so on to re-implement the result of convolution in  ** data0012.txt **. Can you give me some suggestions? Thanks again.

[2020-06-02 15:06] mciprian13 opened #4565 "[AvgPool] Add flag to not include pads when normalizing"
The current implementation of AvgPool always normalizes by the window size regardless of whether the window includes padding or not. Even the ONNX format specifies a boolean flag **count_include_pad** which defaults to 0 which means that the normalization is done by the number of samples within the window excluding pads (this means the current implementation of AvgPool does not comply to the ONNX

[2020-06-05 07:16] ybai62868 commented on #4546
@mciprian13 Hi! Thanks for your help. I have successfully gotten the value of biasPost/biasPre/biasScale. And another question is that what the sequence of the data in **data0012.txt** ? We all know that if you want to change the 3-D or 4-D data to the 1-D data. How to store this data?

[2020-06-05 08:13] mciprian13 commented on #4546
@ybai62868 The data is stored in binary format, NHWC layout.

[2020-06-05 08:15] ybai62868 commented on #4546
Hi @mciprian13 ， I want to get the value of this variable. I insert the **cout** statment in the follwing segment of the code. But I can't find the output information about this variable when I compile the glow in /build using **ninja all**.
dim_t inChannels = inWdims[3];
  dim_t outChannels = outWdims[3];
  dim_t inCperG = inChannels / group;
  dim_t outCperG = outChannels / group;
  dim_t pad_t

[2020-06-05 08:21] mciprian13 commented on #4546
@ybai62868 I think I was clear enough. Put printfs/couts in the following section of the code:
https://github.com/pytorch/glow/blob/952b1420610dff777fff4835b6d62557881fce1a/lib/LLVMIRCodeGen/LLVMIRGen.cpp#L1931-L1948
and NOT in the kernel itself.
Can you remind me what do you want to do and why?

[2020-06-05 08:27] ybai62868 commented on #4546
Yes. i have successfully get the value of biasPre/biasPost/biasScale by the way you told me in the LLVMIRGen.
I use the data0xxx.txt and all of the parameters I have extracted from LLVMIRGen which includeint32_t filterOffset, int32_t biasOffset, int32_t biasPre,
    int32_t biasPost, int32_t biasScale, int32_t outPre, int32_t outPost,
    int32_t outScale. and use the function in https://github.co

[2020-06-05 08:30] ybai62868 commented on #4546
I use this python code to reproduce the **gpu_0_res2_0_branch2a__5**
https://paste.ubuntu.com/p/hBNkgpHnm3/
Maybe you can know what I want to do.
@mciprian13 Thanks again.

[2020-06-05 08:35] mciprian13 commented on #4546
@ybai62868 So you want to reproduce the results in Python? Why is that of interest to you?

[2020-06-05 08:42] ybai62868 commented on #4546
Because I want to get a deep understanding of how glow does the quantization ...

[2020-06-05 09:03] mciprian13 commented on #4546
@ybai62868 You can try first to reproduce the results using a simple C application. Extract the convolution kernel from libjit and try to call it with the data/parameters you extracted. After you reproduce the results in C you can move in Python.

[2020-06-05 09:17] ybai62868 commented on #4546
@mciprian13 Thanks a lot. I will use C++ as a try.

[2020-06-05 10:34] dinkdeep opened #4575 "NCHW format for Backends to work with Glow"
Looks like Glow seems to work with NHWC formats rather then NCHW formats for which it seems to add a number of Transposes and Reshapes to convert from NCHW->NHWC format which is evident from the looking at the  torch_glow code and loader code where the transposes are added before the nodes o get these conversions.
Some Backends might prefer to work with NCHW  format and they don't necessarily need

[2020-06-08 09:33] ybai62868 commented on #4546
@mciprain13 Hi, I have used C++ code to re-produce the QuanConv2D in glow. But I don't have a good understanding of the ** QuantizationTransform32To8**? There may be some shifts and scale which I can't understand.
I find all of the code which is related to this part is as follows:
https://github.com/pytorch/glow/blob/22f0e125ce623f2c088cb272b55ae10612c151fe/lib/Quantization/Base/Base.cpp#L180-L305

[2020-06-09 19:30] mciprian13 commented on #4546
@ybai62868 The main goal of the operation is this: given an integer number **N** and a float number **F** the questions is how to approximate the operation **N x F** (multiplication between an integer and a float) using only integer operations.
The way the logic does this is to approximate the operations as:
  **N x F ->  ((N >> pre) * scale) >> post** where:
- **pre** is a pre-shift value (right

[2020-06-10 06:16] psubhasc opened #4588 "Axis info loadGatherOps"
Hi, Is there any specific reason for putting the constraint on axis value (either zero or one) in loadGatherOps in glow\include\glow\Importer\CommonOperatorLoader.h ?

When I removed this constraint and used for gather with axis=3 in an onnx graph, it perfectly works.

[2020-06-12 15:15] dwincort opened #4595 "Torch Glow libjit error"
Hi!

### Short Version

When I try to build torch_glow, I get an error:
[code]
I'm not sure what's causing this, and I don't know how to fix it.  Any help would be much appreciated!

### Full Story

I'm having trouble getting torch-glow working, and I can't seem to figure out why.  For the record, I'm running on a 2019 macbook pro running Catalina (10.15.4).  First off, I did get glow itself to bu

[2020-06-13 01:10] maxwillzq commented on #4210
@jfix71  can you assigned to me? I can fix it?

[2020-06-15 06:58] maxwillzq commented on #4210
add PR https://github.com/pytorch/glow/pull/4598 to fix this small bug

[2020-06-15 14:55] dwincort commented on #4595
For the record, I figured out that C++ error.  The reason I was so stuck was wondering why this works for llvm7 but not 10 — in other words, why would this macro expand for llvm 10 and not 7?  The issue stems from the fact that glow's `Debug.cpp` includes `llvm/Support/CommandLine.h`, and in [llvm10, `CommandLine.h` includes `VirtualFileSystem.h`](https://github.com/llvm/llvm-project/commit/3ee277

[2020-06-15 17:42] ksaurabh-cadence opened #4600 "Loss of Operator Names"
We have noticed for certain models where there is a `__ ` present in operator names e.g Conv__435 gets renamed by glow to Conv__734 ( expected was Conv__435__1 or  Conv__435__2 or so on).  This kinds of makes it hard to analyze the intermediate graphs, correlating it to the original model.  It seems that the root cause for this issue is that glow treats `__` as a kind of delimiter added by glow (w

[2020-06-15 18:36] maxwillzq commented on #4210
My fix #4598 already solve this problem. It passes the test.  However, I have no authority to merge code. see #4598

[2020-06-15 18:38] jfix71 commented on #4595
CC: @jackm321

[2020-06-17 07:32] AAALEX123 opened #4614 "A question about quantization in glow"
I am fresh to glow. Maybe my question is a little bit silly. I noticed that glow could help to do quantization. But I could only find the "scale" and "offset" quantization parameter. I think there should be one more **scaledown parameter**, since when using the quantized parameter to do convolution, the result is easy to overflow, the common way is use a parameter to scaledown the result and then

[2020-06-17 23:48] capn-freako commented on #4595
I'm on *Mojave* (10.14.6), also using LLVM 7, working w/ the most recent commit to `master` (c86114...), and I can't even get through the `glow` build:

[code]

[2020-06-18 01:21] capn-freako commented on #4595
I don't seem to be able to "steer" my `python setup.py build` process to my `LLVM@7` includes, as I was able to do above.
This command:

`$ LDFLAGS="-L/usr/local/opt/llvm@7/lib -Wl,-rpath,/usr/local/opt/llvm@7/lib" CFLAGS="-I/usr/local/opt/llvm@7/include" CC=/usr/local/opt/llvm/bin/clang
 CXX=/usr/local/opt/llvm/bin/clang++ python setup.py --cmake_prefix_path="/usr/local/opt/llvm/lib/cmake/llvm" -

[2020-06-18 13:08] capn-freako commented on #4595
Oh, how about defining `CPATH` to point to the `LLVM@7` includes?

`$ export CPATH="/usr/local/opt/llvm@7/include/c++/v1"`

Okay, so I *was* able to steer the process towards my LLVM includes, by redefining `CPATH`, as above.
However, now I'm getting a large number of errors like this:

[code]

I wonder, can anyone answer the simple question:

*Is it desirable to "steer" the `python setup.py build

[2020-06-18 13:17] capn-freako commented on #4595
Oh, this is interesting: near the top of my output from that command, I see:

[code]

It looks like I have *not* succeeded in properly defining the C++ compiler to be used.
(My intent was that it be the one provided by LLVM.)
How do I do this?

[2020-06-18 15:55] capn-freako commented on #4595
Okay, thanks to Daniel, I'm getting past the above errors, using the following command:

[code]

Now, I'm getting this error:

[code]

Has anyone seen this before?

[2020-06-18 18:44] capn-freako commented on #3874
I tried upgrading to LLVM v8, to get around this error, but am now getting this error:

[code]

Any ideas?

[2020-06-18 23:27] capn-freako opened #4620 "[torch_glow] error: no member named 'deepcopy' in 'c10::IValue'"
I have successfully built/tested `Release` version of *Glow*, but get the following error when attempting to build `torch_glow`:

[code]

Has anyone else bumped into this?

- `glow` commit c86114d244ea804a6d2aa9540ddb05f799727b36

- `python` version 3.7.7

- `torch` version 1.5.1

- `CMake` version 3.17.3

- `LLVM` version 8

- `clang++` version 7.1.0

[2020-06-19 12:08] mciprian13 commented on #4484
@opti-mix Sorry for getting back to this after so long.

Regarding (1): I only advocate for moving the common part of the isOpSupported() from CPUBackend to LLVMBackend such that new LLVM based backends which want to reuse all the functionality but only specialize a couple of operators (like our private backend) do not have to rewrite/duplicate all that code. Other backends are free NOT to use the

[2020-06-19 23:28] capn-freako commented on #4620
Fixed by bringing both my `glow` checkout and my installed `torch` Python package up to date (most recent for both).

[2020-06-19 23:28] #4620 closed

[2020-06-22 12:01] mciprian13 commented on #4484
@opti-mix Regarding (2) I also left a PR here: #4627. Please have a look.

[2020-06-22 14:17] mciprian13 opened #4628 "[GraphOptz] Improve EliminateSliceConcat optimization"
Stumbled over this when compiling some GRU network:
![image](https://user-images.githubusercontent.com/29785908/85297703-c540ff80-b4ab-11ea-98c3-32decf8a8480.png)
So the slicing is done over dimension 0 (resulting in singular dimensions) and the concatenation along dimension 1 but in this particular case all the Slice and Concat node should be eliminated and replaced with a Reshape.

[2020-06-23 13:44] mciprian13 opened #4629 "[GraphOptz] Sink Quantize below Reshape"
![image](https://user-images.githubusercontent.com/29785908/85411134-a193bd00-b570-11ea-94a2-75f5392594fe.png)

Sink Quantize below Reshape to add the opportunity to merge with a Dequantize node.

[2020-06-23 17:06] mciprian13 commented on #4463
Solved in #4615. Closing this issue.

[2020-06-23 17:06] #4463 closed

[2020-06-23 18:04] mciprian13 opened #4630 "[Quantization] FullyConnected lowered into MatMul + BatchedAdd is not quantized"
Given the current model: [model.zip](https://github.com/pytorch/glow/files/4821032/model.zip)
which is similar to MobileNet and which ends with MatMul + Add like this:
![image](https://user-images.githubusercontent.com/29785908/85437569-78d0ef00-b593-11ea-9427-298027efa4f1.png)
When trying to quantize this model the following happens:
- in the folding stage the MatMul + Add is correctly folded int

[2020-06-23 18:05] mciprian13 commented on #4630
@jfix71 Can you help me with this? Give me a hint or something ... I spent a day on this and did not figured it out 😢

[2020-06-24 08:50] mciprian13 commented on #4004
Solved in #4544. Closing this issue.

[2020-06-24 08:50] #4004 closed

[2020-06-25 00:51] jfix71 commented on #4630
@mciprian13 I looked a bit, and as far as I can something is happening where in the original model you have a `MatMul` `dense_1` followed by an `Add` that is broadcasted (*not* `BatchedAdd`). When I dump the graph using the `image-classifier` with or without profiling that is what I see, e.g.

<img width="400" alt="PM" src="https://user-images.githubusercontent.com/1198212/85640048-8479ef80-b63f-1

[2020-06-25 02:37] jfix71 commented on #4614
Hi @AAALEX123, we do not have support for scaledown. I'm actually not familiar with this. In general, if we have a value overflow/underflow the quantized range then it simply saturates, i.e. it is set to the max/min of the quantized range.

[2020-06-25 02:40] jfix71 commented on #4600
Appending `__` when we import seems sane to me. Maybe would make the most sense to check the string for `__[0-9]+$` and only append `__` in such cases.

[2020-06-25 02:50] jfix71 commented on #4588
Not really sure. It may have been there conservatively originally by the author who only was dealing with specific usecases/dimensions for gathering. Probably would make sense to remove it and base it on the input sizes.

[2020-06-25 16:46] tlepley-cadence commented on #4629
When do you have this particular case ?
I think this transformation is dangerous since it can move reshape between an input placeholder and quantize. Then, you fully quantized model becomes partially quantized (the reshape is now float) and if your backend expects a fully quantized model, it will fail compilation.
In general, I think we should not sink anything below Quantize/Dequantize. When ther

[2020-06-25 18:17] jfix71 commented on #4629
A reshape is just a different view of memory/is generally a no-op for backends, so this doesn't really seem problematic to me -- what's your specific issue with this?

In general the Quantize being there implies whatever its input Node is is already float, and the presence of the Dequantize implies there are float Nodes following it already. You're suggesting that if the input is a Placeholder the

[2020-06-25 18:57] mciprian13 commented on #4630
@jfix71 You assumption was correct. What happens here is that during profiling the model is compiled with batch size 3 resulting in a graph for which the optimization FoldMatMulAddIntoFullyConnected does not kick in (as it does during the actual quantization) because the optimization is limited for batch size 1. Thus during quantization some profiling info is not found.
A simple hack for this is t

[2020-06-25 19:58] jfix71 commented on #4630
Hmm, my main concern here is tooling/scripting we have that assumes current default behavior. Besides, even if it is set to default to 1, that doesn't really solve the problem in the generic case, right? I.e. you didn't specify the batch size for the `model-compiler` command via `-model-input`, so the batch size was probably just inferred from the model and the model has batch size 1, so it works

[2020-06-25 22:02] saurabh-shandilya commented on #4600
Since we have an agreement, are you expecting me to create a PR or folks at FB will be doing this? :-)

[2020-06-25 22:03] ksaurabh-cadence commented on #4600
Since we have an agreement, are you expecting me to create a PR or folks at FB will be doing this? :-)

[2020-06-25 22:25] jfix71 commented on #4600
We haven't encountered this as an issue so there's not much pressure/motivation on our end for someone to do it 🙂 -- I can leave it as a good first issue in case someone else wants to handle it.

[2020-06-26 00:45] jfix71 commented on #4575
I'm not totally sure the effective ask here -- are you suggesting that we would have an optimization that, when sinking transposes, if it finds an NHWC Convolution with transposed inputs, it would query the backend to find out if it supports NCHW, and if so would simply merge the transposes into the Convolution and change it to an NCHW Convolution?

Just to make sure we're on the same page of curr

[2020-06-26 07:33] milivoje96 opened #4635 "Unable to build Glow on Windows"
Hi,

I would like to build a Glow on my Windows x64 machine. For now, I’m working inside a virtual machine.

I went to https://github.com/pytorch/glow 1 and I followed **docs/GlowWindowsBuildx86.md**.
I used the **prebuild** version of LLVM and I did other steps successfully, but I have a problem with building the Glow.
There are missing _pthread.h_ and failed tests _HAVE_GNU_POSIX_REGEX_ and _HAV

[2020-06-26 07:49] dinkdeep commented on #4575
Hi Jordan Thanks for the pointing it out .
"I'm not totally sure the effective ask here" , Indeed it was the ask here as you pointed, essentially I need to run the entire model in NCHW format .

Looks like these utility functions will come more handy as it seems to support additional Grad Nodes like convertConvGradToNCHWConvGrad,  convertAvgPoolGradToNCHWPool, convertMaxPoolGradToNCHWPool.

As you

[2020-06-26 11:19] mciprian13 commented on #4630
@jfix71 This sound like a useful tool for debugging (and maybe deserves opening an issue for this) but still does not solve my problem. What I did I generalized the FoldMatMulAddIntoFullyConnected optimization to take care of multibatch and now the MatMul gets quantized but the BatchedAdd node still does not get quantized because during profiling the bias operand gets broadcasted and the constant

[2020-06-26 14:30] mciprian13 commented on #4630
@jfix71 I opened a related PR here #4636.

[2020-06-26 15:38] tlepley-cadence commented on #4629
It's a no-op node, but our backend expects it to be quantized. For a fully quantized IR, model inputs are the quantize nodes at some point in the backend flow and if the reshape is be moved to float, there will be an inconsistency between the shape of the model input and the actual shape of data input data.

[2020-06-26 17:54] ayermolo commented on #4635
@milivoje96 At least here locally we haven't tested it with VS 2019, and are using VS2017. This might be a potential issue.
When you say you are using prebuild version of llvm. Is that just executables?
You also need the libraries. Those are built manually, on windows, as far as I am aware.
Did you install folly using vcpkg?

[2020-06-26 19:41] jfix71 commented on #4630
One easy way to do this is to hash `Function::toString()`.

RE: Moving to `minibatch=1` default, I'm generally fine with it. But we need to do this carefully to make sure scripts/tooling that assumes current default behavior is updated. and make sure it's broadcasted clearly so that other users are aware of this change.

RE: constant folding and profiling/quantization -- we need the Function to be

[2020-06-26 19:43] ksaurabh-cadence commented on #4600
I will be submitting a PR.

[2020-06-26 20:05] mciprian13 commented on #4630
@jfix71 The idea with the hash is very good. I`m going to do it. A couple of questions:
- do you know a function utility to hash a string?
- the returned hash type should be llvm::hash_code (just as for the Node)?
After that I`ll have to figure out how to print the hash in the profile but it should be doable.

[2020-06-26 22:54] ksaurabh-cadence commented on #4600
PR created https://github.com/pytorch/glow/pull/4640

[2020-06-26 22:56] jfix71 commented on #4575
No, this won't work, as the Interpreter backend only supports NHWC. I'm not sure why you have an issue with this though -- for example we have many OperatorTests which use the helper `compareAgainstInterpreter()`, which does a comparison of results of e.g. OpenCL against Interpreter. Any modification of the layout shouldn't make a numerical difference, and if the output Placeholder is NHWC then th

[2020-06-28 08:01] dinkdeep commented on #4575
Thanks Jordan for pointing to the function compareAgainstInterpreter() this indeed helps , As you pointed it looks like this compares the place holders only , Can it be extended to cater to compare the tensors resulting from intermediate allocactivations, Some times in bigger network with large number of Nodes we would like to debug the inputs & outputs of inner nodes,i.e there  intermediate Tenso

[2020-06-28 19:24] mciprian13 commented on #4630
@jfix71 I made in #4636 also the hash checking mechanism. Have a look!

[2020-07-01 06:45] ugaresuyash opened #4647 "New files added under glow/test/models/ don't get copied build folder until clean build is performed."
If we add <new>.onnxtxt file under tests/models/onnxModels/ we will notice that this file will not get copied to build/glow-<release/debug>/tests/models/onnxModels/ when an incremental build is performed. When running ONNXImporterTest we will
Error message: Can't find the model or network files for tests/models/onnxModels/<new>.onnxtxt.

Either the file has to be manually copied or clean build has

[2020-07-01 07:39] ugaresuyash opened #4648 "Value in attribute 'sizes' specified for Resize Op must match the output dimensions."
@vuzelac-cadence, In tests/models/onnxModels/resizeBilinearV11compat_sizes.onnxtxt, dim_value for `out` is {1,1,4,4} and `sizes` is {1,4,4,1}. Shouldn't the `sizes` be specified same as output, {1,1,4,4} and use `vectorReorder()` in the ONNXModelLoader.cpp?

Similarly observation in resizeNearestV11compat_sizes.onnxtxt..

[2020-07-02 10:56] anujgupt-github commented on #3950
I am looking for supporting the trigonometric operators (sin, cos, tan, asin, acos, atan). A related question is that the ONNX definition of the operators doesn't clearly specify what the input values signify, do they map to degrees (in floating scale) or radians.
If it is radians, then the the lookup tables can be made considering an input range of [0, 2*pi] => [0, 6.28]
For this, we can quantize

[2020-07-02 12:36] anujgupt-github commented on #3950
Actually, I see that Interpreter and CPU backends for sin/cos are already brought in via support for TFLite
"https://github.com/pytorch/glow/pull/4584/files/e526460dc3799ea9ff9dd13d8f32f1c3da399754#diff-432c9c901879d6257b101f981c5bd878R535"

Then it seems we are not doing the Lookup table approach!

[2020-07-03 18:39] mciprian13 opened #4654 "[GraphOptz] Fold Exp + ReduceSum + Div into Softmax"
Some ONNX models contain this:
![image](https://user-images.githubusercontent.com/29785908/86492080-906b5d00-bd75-11ea-8cf2-724920acc503.png)
This should be folded into Softmax. The most important reason for this is the numerical stability since Exp, Div are numerically unstable whereas the Softmax is specially implemented/handled to avoid high values of the Exp.

[2020-07-07 08:10] jfix71 commented on #3950
Hi @anujgupt-github -- Thanks for updating this issue. As far as I recall, we are only using the LUT when the inputs and outputs are both quantized. This is where we get the range from, as the op's inputs are already quantized with a specific range. LMK if you are seeing something different.

[2020-07-07 09:46] psyhtest commented on #3029
It appears that a third-party won't be able to build the Habana backend since the paths are hardcoded (` /usr/lib/habanalabs`)?

[2020-07-07 09:47] psyhtest commented on #3029
cc: @bertmaher

[2020-07-07 09:55] psyhtest commented on #3543
It's a shame. I was quite interested to give the backend a spin ahead of getting a Habana card...

[2020-07-07 17:05] anujgupt-github commented on #3950
Hi @jfix71 , thanks for responding back!
I was actually referring to " https://github.com/pytorch/glow/pull/4584" where sin/cos are now implemented without LUTs.
I plan to take a similar route to wrap up other trigonometric Ops.

[2020-07-07 17:48] mciprian13 opened #4656 "[CPU] Remove the need for Rescale for the CPUMaxSplat"
Currently the CPUMaxSplat assumes in/out quantization parameters are the same and so a RescaleNode is pulled from the CPUMaxSplat to make the quantization parameters match. The implementation should be changed to not need the Rescale.
Also the Relu implementation maybe should be removed and replaced with the CPUMaxSplat once modified.
This is a follow up from #4491.

[2020-07-07 21:54] et-nivard opened #4658 "Make allowedError / isEqual() independent of Tensor dynamic range"
Tensor method isEqual() allows specifying a threshold of acceptable absolute error when comparing tensors:
https://github.com/pytorch/glow/blob/master/include/glow/Base/Tensor.h#L871
This approach has a strong dependency on the dynamic range of the tensor under check. Tensors with small dynamic range are more sensitive to small errors than those with huge dynamic range. As a result, current soluti

[2020-07-08 19:02] mciprian13 opened #4660 "[GraphOptz] Constant folding required before quantization"
When lowering for example a 1x1 Conv to FullyConnected the weights will have Reshape and Transpose attached to them.
If this FullyConnected is desired to be further quantized rowwise the quantization will not succeed because the weights are not seen as constant (having Reshape and Transpose attached to them).
Therefore for the purpose of channelwise/rowwise quantization an additional constant fold

[2020-07-08 19:04] mciprian13 commented on #4660
@jfix71  Can I add an additional optimization right after the lowering to make sure all constants are folded?

[2020-07-10 04:40] jfix71 commented on #4660
You can try it out, but I think it will cause problems. We need the quantization profile names to match the Node names in the graph when we do quantization. Doing the constant folding will result in a new Constant with a different name. Perhaps one way this could be fixed is by writing a targeted optimization for folding Reshape/Transpose into Constants without changing the names of the Constants?

[2020-07-10 07:09] MaxS1996 opened #4671 "Image-Classifier Mismatch input image & input shape"
Hello and thanks for your help in advance:

I am new to Glow and am trying to build a standalone bundle to run on an Raspberry Pi 4.
I trained the network in keras and exported it to ONNX, I fixed the variable batch size at the input to 1, but still have to set the onnx-symbol N to 1, as it did not work on the output.

Now I want to use the image-classifier to dump a profile for the quantization,

[2020-07-10 08:35] jfix71 commented on #4671
Hi @MaxS1996, the current default behavior is to try to set the batch size to the number of input images provided. That is, you're setting the batch size to 1 in the model, but the Placeholder for the input into the model is probably set to the number of images listed in inputs.txt. Can you try to explicitly set the batch to use for the input Placeholder via `--mini-batch=1`?

[2020-07-10 10:14] MaxS1996 commented on #4671
using -minibatch=1 resulted in the same output.

When I try an TFLite Flatbuffer, which has been created from the same keras network, it results in
`Model: networks
Running 1 thread(s).
WARNING: Logging before InitGoogleLogging() is written to STDERR
F0710 10:12:48.683533    77 Error.cpp:119] exitOnError(Error) got an unexpected ErrorValue:
Error code: MODEL_LOADER_INVALID_PROTOBUF
Error message:

[2020-07-10 19:26] jfix71 commented on #4671
Hard to tell what's going wrong without digging in a bit. If you're willing to change some source code to help debug on the ONNX side, it would be useful to add printing of the actual shapes and sizes that are throwing the error here:

https://github.com/pytorch/glow/blob/357f5ad40effde2d640f1aff59f7799d0f68d797/lib/Importer/ONNXModelLoader.cpp#L4407-L4415

Or better yet, improving the error messa

[2020-07-10 21:40] mai202 opened #4674 "Resnet50 Pytorch Model Accuracy Loss"
Hello,
I took the resnet50 PyTorch model from torchvision and exported to ONNX. When I ran it using image-classifier on first 1000 images of imagenet data set, i am seeing almost 20% accuracy loss from the resnet50 caffe2 model (on same 1000 images). It makes me wonder if the options i am using for running pytorch model is not correct. I am using "-use-imagenet-normalization"  "-compute-softmax" (

[2020-07-11 00:02] leejaymin commented on #4674
I have the same issue. In my case, resnet18 shows 20% accruacy drop comparing with pytorch inference with imagenet2012 validation set(50,000).
Do Caffe2 resnet models show the correct accuracy?
I wonder too.

[2020-07-11 00:10] mai202 commented on #4674
Yes caffe2 resnet model shows correct accuracy.

[2020-07-11 05:06] leejaymin commented on #4674
Thank you for sharing your results.
I also need to get the correct results with ONNX models.

[2020-07-11 12:42] mciprian13 commented on #4660
@jfix71 But if I add an extra optimization right before the `transformForPrecisionMode()` such that both the quantization and the profiling path benefit from the same optimizations then it should be fine right?

[2020-07-12 01:20] jfix71 commented on #4660
@mciprian13 I think there would also be a problem involving lowering differences between profiling and quantization. I think an example makes this more clear.

Let's say there's a FullyConnected that has Constant input and weights but Placeholder bias (not really realistic but it's easier to reason about as compared to other nodes like e.g. LayerNorm which has many sub Nodes when lowered). Let's c

[2020-07-12 13:01] MaxS1996 commented on #4671
Okay,
could it be, that I trained the model with a numpy array and the the model input [1, 28, 28, 1] and converted the samples to PNG later on? Does PNG always have 3 channels?

I will look into making a PR, if I got enough time for that

[2020-07-12 19:14] mai202 commented on #4674
Thanks for sharing your result. It does match with my results on resnet50.

One other thing, i noticed Pytorch model is equivalent to version 2 of resnet.

If you directly take the onnx models for onnx github, you will see v2 models showing the same kind of loss and v1 works fine.
https://github.com/onnx/models/tree/master/vision/classification/resnet/model

So something to do running v2 models on

[2020-07-13 04:21] ugaresuyash commented on #4648
Duplicate of #4648

[2020-07-13 04:21] #4648 closed

[2020-07-15 07:35] MaxS1996 commented on #4671
Is there a way to feed the image-classifier with binary files instead of PNGs?
I found the -input-dataset option in the documentation, but when I tried it, it was not recognized by the image-classifier

`Unknown command line argument '-input-dataset=input_1,rawbin,dir,MNIST/bin/'.  Try: './build_Release/bin/image-classifier -help'`

[2020-07-15 14:10] MaxS1996 commented on #4671
Ok, I guess, I've found the issue, for the inital keras training, the input has the size [1,28,28,1], but if I write this numpy array to a file using Pillow and reload it, the shape has changed to [28,28].

Is there a way to fix that on the model-compiler/image-classifier side?

[2020-07-16 14:28] Hygens opened #4695 "Not Compile on Ubuntu 20.04"
Following all steps for compile on Ubuntu 20.04 not compile with that error for clang-8.0.1:
ninja all
[1/385] Building CXX object lib/Backend/CMakeFiles/Backend.dir/CompiledFunction.cpp.o
FAILED: lib/Backend/CMakeFiles/Backend.dir/CompiledFunction.cpp.o
/usr/bin/c++  -DBOOST_ALL_NO_LIB -DBOOST_ATOMIC_DYN_LINK -DBOOST_CONTEXT_DYN_LINK -DBOOST_FILESYSTEM_DYN_LINK -DBOOST_PROGRAM_OPTIONS_DYN_LINK -D

[2020-07-16 17:36] Hygens commented on #4695
The workaround is use clang-9 because too not work with clang-10.

[2020-07-17 04:39] garg1himanshu commented on #4516
Hey, @vuzelac-cadence I am also getting the same error for similar inputs.
Activation: [1,64,20,20] Weights=[64,1,2,2] stride=[2,2] group=64

I think the problem that you were suspecting idim.c=20 is not a problem as it is transposed by ONNXModelLoader to become [1,15,20,64] and then it is not the problem.

Error is coming from filterDims.n % group != 0 and filterDims.c != idim.c / group, as filte

[2020-07-17 19:54] jfix71 commented on #4671
So IIUC the model is expecting `[28, 28]` but `image-classifier` is creating images with `[1, 28, 28, 1]`? It shouldn't be so hard to allow for this, but would require a source code change. E.g. you'd want to change the shape below, and there may be other changes necessary as well.

https://github.com/pytorch/glow/blob/ce2f4282aca6479bd37911f5f3405a0ab732e5db/tools/loader/ExecutorCore.cpp#L383-L38

[2020-07-18 10:58] peter197321 opened #4709 "A new GLOW backend"
Hello all,

I am a newbie to GLOW development enviremont, Id like to know if there are some examples and doc for developing a new backend of GLOW e.g. NPU accelerator?
If so, please can you point me or link appropriate documentation?'

Thank you.

[2020-07-20 06:31] MaxS1996 commented on #4671
Almost, it is the other way round:
The model, which has been created with TF Keras, expects `[1,28,28,1]` as input and the images are `[28,28]`, I modified the exported ONNX file to input size [1,28,28], but it still failed when trying the `image-classifier`.

I did not have time yet to try cutting away the additional 1, or adding `-minibatch=1` to the parameters

[2020-07-20 18:44] mciprian13 opened #4712 "Windows Build broken"
The Windows build is broken with the following message:
[glow_build.log](https://github.com/pytorch/glow/files/4949497/glow_build.log)
Most likely due to #4699.

[2020-07-20 18:45] mciprian13 commented on #4712
@opti-mix @ayermolo Do you know a solution to this? Thanks!

[2020-07-20 18:57] opti-mix commented on #4712
OK. It looks like Microsoft Visual Studio does support packed and aligned attributes. Instead, they have a different syntax described here:
https://docs.microsoft.com/en-us/cpp/preprocessor/pack?view=vs-2019

Probably `#pragma pack(2)` is needed for bfloat16 class definition, when it is compiled on Windows. We don't have any possibilities to test on Windows here, but it should be pretty straight f

[2020-07-20 18:58] ayermolo commented on #4712
@mciprian13 sorry, I no longer have access to windows machine.

[2020-07-20 20:27] #4674 closed

[2020-07-21 09:11] mciprian13 commented on #4712
@opti-mix I tried doing this:
[code]
but now the Glow build fails due to some LLVM header files (currently using 8.0):
[code]
Is there some other problem in LLVMIRCodeGen?

[2020-07-21 16:04] opti-mix commented on #4712
@mciprian13 Yeah, the joy of using Visual Studio ;-) Thanks for trying it out!

Please have a look at the `alignas` description:
https://docs.microsoft.com/en-us/cpp/cpp/alignment-cpp-declarations?view=vs-2019
If this one works properly, and creates a struct of size 2 and aligned at 2 bytes that would be ideal. Then we don't need anything else.

And how to use `#pragma pack` correctly:
https://sta

[2020-07-21 18:42] mciprian13 commented on #4712
@opti-mix I tried in #4719 using the `alignas` and the build works for both Linux/Windows worlds.
I guess the static assert from `BFloat16.h` verifies that the size is truly 2 bytes:
[code]
right? Is there something else to verify?

[2020-07-22 11:36] mciprian13 commented on #4712
@opti-mix Thanks a lot for the suggestion. The Glow build now works for everybody 😄
Can you also look over #4602 which is something we need on our side but was also reported here on the community. Thanks!

[2020-07-22 20:44] #2586 closed

[2020-07-23 09:34] MaxS1996 commented on #4695
I encountered the same problem and I guess you can fix it by building with an older LLVM and clang version

just install llvm-8 with `sudo apt-get install llvm-8` and use
`cmake -G Ninja ../glow \
    -DCMAKE_BUILD_TYPE=Debug \
    -DLLVM_DIR=/usr/lib/llvm-8/lib/cmake/llvm` afterwards instead of the usual cmake command

[2020-07-23 09:41] MaxS1996 commented on #4695
and I realized that Glow expects at least something behind python, on new Ubuntu 20.04 installations, python needs to be redirected with python-is-python3, which is available with `sudo apt-get install python-is-python3`, but I am not sure, if it runs through with this setup as I switched to the docker container

[2020-07-23 09:57] mciprian13 commented on #4712
Solved in #4719. Closing this issue.

[2020-07-23 09:57] #4712 closed

[2020-07-23 10:06] mciprian13 commented on #4630
Solved in #4636. Closing this issue.

[2020-07-23 10:06] #4630 closed

[2020-07-23 10:17] Hygens commented on #4695
Here the default is python 3 and with llvm-8 not work, only work with llvm-9.

[2020-07-24 12:23] Squadrick commented on #4628
I'm working on this issue, I'll open a PR soon. This is the approach I'm taking:

`EliminateSliceConcat` only handles the case when the `Slice`s and `Concat` are along the same dimension. I'm changing it to track all consecutive `Slice`s along *some* dimension. If the dimension of slicing is the same as the dimension of concat, it'll use the pre-existing logic. If the dimension of slicing is diffe

[2020-07-24 14:32] mciprian13 opened #4741 "[Onnx] Error compiling ONNX model"
Given the following ONNX model: [model.zip](https://github.com/pytorch/glow/files/4972454/model.zip)
When compiling this model with the `model-compiler` like this:
[code]
I get the following error during function verification: [ErrorLog.txt](https://github.com/pytorch/glow/files/4972465/ErrorLog.txt)

[2020-07-25 09:12] jfix71 commented on #4628
@Squadrick Thanks for the explanation! Our `Optimizations.md` is definitely a bit out of date.

I'm actually not sure about this one, but it would be very simple to add if it's missing.

Yep, this one we definitely have here, which runs as part of `OptimizeConcatNodes`:
https://github.com/pytorch/glow/blob/94cd0b162a68e170aab97743b9c5c83963da8242/lib/Optimizer/GraphOptimizer/GraphOptimizer.cpp#L24

[2020-07-27 17:47] G4V opened #4747 "model-profiler treats points within the model as inputs"
Hello.

I'm working with a simple example of taking the stock LSTM from within PyTorch, converting it to ONNX and then to Glow. This I can do successfully and all stages the resulting models work as expected (with opset 9).

I'm now trying to quantize the Glow model. The LSTM contains three inputs but the profiler expects seven. The four extra inputs are in fact outputs from the two internal layer

[2020-07-28 07:15] dpanicka opened #4749 "Queries regarding Non Max Suppression implementation"
Looking through the NMS implementation, I have a couple of queries based on the documentation from  [Tensorflow V4](https://www.tensorflow.org/api_docs/cc/class/tensorflow/ops/non-max-suppression-v4) and [ONNX NMS](https://github.com/onnx/onnx/blob/master/docs/Operators.md#NonMaxSuppression).

- Why is the box with minimum scores calculated across all classes to fill up to `maxOutputPerBatch` [her

[2020-07-28 16:54] ayermolo commented on #4749
1) Well NMS outputs indices (batch, box, class). Usually then it goes through post processing (pp) subgraph with bunch of select/gathers. With ONNX nms PP doesn't know how many are valid so gather will access all indices. If we don't fill it it's either going to be un-initialized or 0. If 0th box happens to be best Score then it will dominate after topK. With min box all the entries after maxOutpu

[2020-07-28 19:57] dpanicka commented on #4749
Thank you for your comments!

1. That's a good point regarding gather and the 0th box. If we could avoid unnecessary computation, that would be best since we only care about the valid boxes anyway. Will have a think about it.

2. OK.

3. I meant the `testNonMaxSuppression` without gather, [here.](https://github.com/pytorch/glow/blob/049a09452bf451e5ef2be89f0b4e640ec7ea1e3d/tests/unittests/Operator

[2020-07-28 20:24] ayermolo commented on #4749
1) Yeah it's a problem. There is a fundamental issue that in GLOW dimensions are static, and NMS output is dynamic. So if you construct PP you have to assume that max is detected.
3) Ah I see. Yeah should be extended to number of batch dimensions. I think all the tests use only one class.

Sure, although I don't have permissions to approve. Someone from FB team will need to do that.

[2020-07-29 21:13] Squadrick commented on #4628
Let me check this. If the optimization doesn't exist, I'll create an issue and fix it in a subsequent PR.

Oops, not sure how I missed this. Thanks for pointing it out!

[2020-07-29 23:54] jinz2014 opened #4757 "Question about Test #53 in the Unit test"
Test #53: OpenCLHostManagerTest .................***Failed  390.04 sec

I don't know if others observe the failure of the test. All other tests pass!

Thanks

[2020-07-30 08:24] jfix71 commented on #4747
@G4V What error are you seeing exactly? It would be useful to also see the loaded graph in Glow that causes whatever issue you're seeing.

We don't have a flag for this it seems, but you can add a single line below to have this happen:
https://github.com/pytorch/glow/blob/c095b25748e640cc5aabcf27d6970b127b57e3ca/tools/loader/ModelProfiler.cpp#L242
`cctx.dumpFinalGraph = true;`

And then look for s

[2020-07-30 18:18] Squadrick opened #4759 "[GraphOptz] Eliminate Slice nodes that slice across the entire input"
Currently, if a single Slice node cuts across the entirety of the input, it not removed. A simple fix would be to remove the Node entirely:

[code]
should be converted to:
[code]

This optimization case would arise after some other optimizations that replace multiple consecutive slices with a single merged slice.

Related to #4628
cc @jfix71

[2020-07-30 18:47] Squadrick commented on #4759
Correction: This happens in the pipeline by `EliminateNoop`. I wasn't able to optimize away the merged slice because of the order of operations in the pipeline runs `EliminateSliceConcat` at the very end followed by a dead code removal.

https://github.com/pytorch/glow/blob/c095b25748e640cc5aabcf27d6970b127b57e3ca/lib/Optimizer/GraphOptimizerPipeline/FunctionPassPipeline.cpp#L168-L171

Shouldn't t

[2020-07-31 08:24] G4V commented on #4747
Hi @jfix71, The error I'm seeing is -

`ERROR: Not all the model inputs where provided with the 'input-dataset' parameter!`

The LSTM I'm exporting through ONNX is just the stock LSTM provided by PyTorch. It takes three inputs and gives three outputs. https://pytorch.org/docs/master/generated/torch.nn.LSTM.html

For some reason, when passed to the model profiler it expects seven inputs. The additi

[2020-08-03 13:04] mciprian13 opened #4768 "[Convolution] Add support for non-square dilation"
Currently the convolution operators have only one `dilation` scalar parameter whereas the more generic definition should have one dilation value for each axis (2 values for Conv2D, 3 values for Conv3D, etc).

[2020-08-03 14:20] mciprian13 opened #4769 "[GraphOptz] Fold Min + Max into Clip/Relu"
Add logic to fold Min + Max nodes (or Max + Min nodes) into Clip or Relu nodes.
Backends can then opt to lower them again or not when it is desired to provide atomic implementations or to fuse Clip/Relu into Convolution etc.

[2020-08-03 17:45] mciprian13 opened #4771 "[Quantization] Precision loss measurement tool"
In terms of quantization it would be very helpful to understand where exactly in the graph (what nodes) does most of the quantization error (precision loss) occur. Since the accuracy of the quantization drops dramatically for large/deep models especially when using more rough quantization schemas (e.g. symmetric or symmetric_with_power2_scale) it would be very helpful to have a graph `instrumentat

[2020-08-03 17:46] mciprian13 commented on #4771
@jfix71 WDYT about this? I really don't have time for this (and most probably you don't have also) but if this idea sounds reasonable/doable/nice-to-have then maybe we can work together on this in small increments.

[2020-08-03 18:16] psyhtest opened #4772 "[Quantization] MatMul result precision"
When inspecting a quantized graph for a simple FC network, I was a bit surprised that the result of MatMul nodes was coerced into i8, possibly resulting in a huge accuracy loss. I would have though that the result of MatMul should remain as i32, especially if an i32 bias is to be added. What am I missing here?

It may be easy enough to update the result type of MatMul nodes and propagate the chang

[2020-08-04 07:42] mciprian13 commented on #4772
@psyhtest Most of the quantized implementations for the FullyConnected I have seen do have an int8 output precision and not int32. The actual problem with the current FullyConnected implementation in Glow for the CPU backend is that the FullyConnected is computed using two layers: MatMul and BatchAdd. The problem here is that the precision is reduced to int8 before adding the int32 bias. A more ac

[2020-08-04 09:46] psyhtest commented on #4772
Thank you so much for the explanation @mciprian13! I have a prototype graph pass to fold MatMul and BachedAdd into a new atomic node (inspired by your PR https://github.com/pytorch/glow/pull/4280). But I guess I should implement it in the CPU backend for the quantization flow to work properly?

[2020-08-04 10:25] mciprian13 commented on #4772
@psyhtest There is no need for any graph transformation pass since a backend can choose not to lower a FC into a MatMul + BatchedAdd. The only thing missing is an atomic implementation for the FullyConnected in the CPU backend (more explicitly in the libjit library).

[2020-08-04 10:29] psyhtest commented on #4772
@mciprian13 I see. Thanks for the hint! My source has Gemms instead of FCs but may be those can be folded into FCs.

[2020-08-05 09:59] muhdmud commented on #3793
Hi, is still up for grabs? if so i would like to try it out

[2020-08-05 10:01] muhdmud commented on #4399
Hi all, any updates on this? would like to help out

[2020-08-05 11:49] mciprian13 commented on #4399
Hi @muhdmud. In my knowledge this is not done. Any contribution to this is warmly welcomed 😄

[2020-08-06 18:04] oleksii-abramenko opened #4782 "Automatic RNN state tracking is not working / Recurrent projection weights are optimized out"
Hello community,

Please consider toy neural net defined in the following way:
[code]
**Total number of params for this model is 21960**

It is exported to ONNX using the following method:
[code]
It is compiled with GLOW by the following command:

`./model-compiler -model test.onnx -emit-bundle test_dir  -model-input=data,float,[1,1,60] -backend=CPU -target=arm -mcpu=cortex-m4 -float-abi=hard`

Af

[2020-08-06 21:18] chadrosier opened #4792 "RecommendationSystemTest hits AddressSanitizer issue with static placeholders enabled."
Commit https://github.com/pytorch/glow/commit/1a9acc292e8ea88627eeeef3572510dd9c7daa0b updated the RecommendationSystemTest to support using static placeholders.

There are two cases (see below) where the deferred weight loader is using references to tensors that have been allocated on the stack after the tensors have gone out of scope resulting in an asan failure.

https://github.com/pytorch/glow

[2020-08-06 21:18] chadrosier commented on #4792
@omromano would you mind taking a look?

[2020-08-07 08:10] jfix71 commented on #4747
Unfortunately this is a pretty esoteric bug dealing with LSTMs and the model-profiler which I'm not super familiar with, and I don't currently have the cycles to dig in here. @mciprian13 wrote much of this code and would probably be better equipped to provide some tips or insight.

[2020-08-07 08:12] jfix71 commented on #4759
@Squadrick Good catch. Yeah, this is just a phase ordering problem, no big deal to add another pass at the end if it's helpful since optimization happens pretty quickly and that's a pretty safe pass.

[2020-08-07 08:12] #4759 closed

[2020-08-07 09:16] mciprian13 commented on #4782
@oleksii-abramenko Can you provide the ONNX model you use to investigate? Thanks!

[2020-08-07 09:56] jfix71 commented on #4741
Sorry for the delay @mciprian13 -- seems like this is an issue due to PRelu using broadcast. If you run this in debug mode you'll hit:

https://github.com/pytorch/glow/blob/49f29780d5684478f9a52591ea276aed5646c1a9/lib/Graph/Graph.cpp#L1338

I think unidirectional broadcasting is not implemented correctly here in Glow. Either we need to update `Function::createBroadcast()`, or add some logic to set

[2020-08-07 10:11] jfix71 commented on #4771
@mciprian13 Sounds cool! As you expected I don't have time time to work on this right now. As inspiration, it sounds somewhat similar to how our quantization profiling works -- adding a meta node to every node that observes the values flowing through the graph. So hopefully it wouldn't be too hard to implement in a similar fashion. Heatmap wouldn't be too bad either, to simply dump the dotty graph

[2020-08-07 10:16] jfix71 commented on #4757
Hi @jinz2014 -- I don't see any issues on my macbook for this test. Perhaps it's a platform-dependent issue. Do the other OpenCL tests work for you, e.g. OpenCLOperatorTest? Anyway, if you figure out the issue please report back.

[2020-08-07 10:20] jfix71 commented on #4709
Hi @peter197321 -- I don't think we have a good current example in code. We had a previous PR which intended to be an example in https://github.com/pytorch/glow/pull/3991, but it never landed and is probably a bit out of date by now. Still, probably worth taking a look and reading the discussion there, including looking at `docs/Backends.md`.

[2020-08-07 10:20] #4709 closed

[2020-08-07 14:13] muhdmud commented on #4399
thanks for the opportunity!

if you could point and guide me to right direction on where to start, looks like I have to look in ONNXModelLoader and understand how the different operators are being loaded? then in loadoperator will check for type and return some loadLogSoftMax function?

correct me if im wrong in my understanding, am new to such big c++ projects

[2020-08-07 14:32] mciprian13 commented on #4399
@muhdmud You can find some general guidelines [here](https://github.com/pytorch/glow/blob/master/docs/NewOperators.md).
The main steps would be in this case:
1. You should define a new node LogSoftmax and define a lowering logic [here](https://github.com/pytorch/glow/blob/master/lib/Optimizer/Lower/Lower.cpp) to decompose it into Log + Softmax which are already supported by Glow.
2. Add logic in O

[2020-08-07 16:30] mciprian13 opened #4794 "[GraphOpts] Fold Dequantize into output placeholder"
Given this case:
![image](https://user-images.githubusercontent.com/29785908/89667059-1e41e700-d8e4-11ea-809b-dd5f219fb1be.png)
When using the ```foldElemKindConversionIntoIO``` optimization pass the Dequantize is not folded into the output Placeholder.
I suppose this is because the upper transpose is sinked below Dequantize, then the two transposes cancel out, leaving the Dequantize not folded ma

[2020-08-07 16:31] mciprian13 commented on #4794
@jfix71 Do you have an idea why the above happens? Thanks!

[2020-08-07 16:34] et-nivard commented on #4658
I tried locally to switch from **delta** to **SMAPE** error threshold check and found a few tests that fail in the CI. For instance, Conv2D_PaddingSame from TFLiteImporterTest.
`I0807 15:49:14.351974    68 Tensor.h:948] Tensors not equal: 1 out of 50 elements exceeded allowed error threshold 1e-06. Maximum error found was 4.62171e-06 at index 26: -0.00846339 vs. -0.00846347
I0807 15:49:14.352083

[2020-08-07 17:26] mciprian13 commented on #4794
Solved this with a workaround by running the foldElemKindConversionIntoIO pass explicitly again.
Closing this issue.

[2020-08-07 17:26] #4794 closed

[2020-08-08 00:16] muhdmud commented on #4399
thank you! i will have a look and need do some additional reading on the lowering logic part.
also, do i implement the node first in graph and submit a pr? like work on it incrementally, or i should make sure everything is all done before submitting?
thanks again for the pointers! 😄

[2020-08-08 02:08] jfix71 commented on #4658
@et-nivard Thanks for investigating this. I'd be totally fine with making SMAPE the default. My only issue is that, while some tests as you point out will now fail, others likely need to have their error bound made tighter to be relevant. For example those that use large values likely had their allowed error set relatively big, because it's the absolute error allowed. So we'd want to do an invento

[2020-08-08 03:30] #4600 closed

[2020-08-08 03:36] jfix71 commented on #3793
Hi @muhdmud -- we have a test for this now, but thanks for volunteering
https://github.com/pytorch/glow/blob/ac0b537ddda042a0724f0eeb55f23fe31ee678ed/tests/unittests/OperatorTest.cpp#L2565-L2570

[2020-08-08 03:36] #3793 closed

[2020-08-08 04:33] muhdmud commented on #3793
no problem! @jfix71 thanks for sharing this, can see how the tests are being implemented 👍

[2020-08-10 08:05] G4V commented on #4747
Thanks @jfix71. Although these inputs shouldn't be required, supplying representative values seems to work. I debugged the issue where I was seeing mainly zeros at the output and it was to do with a node in the graph that couldn't be represented effectively in I8, which I've manged to work around.

One other oddity though, is that if I set the precision to I16 I end up with just the floating point

[2020-08-10 09:38] mciprian13 commented on #4399
@muhdmud You should submit a single PR with everything. Thanks!

[2020-08-10 16:44] mciprian13 commented on #4741
@jfix71 Thanks for checking! I'm not sure the problem is with the broadcast. Given this subgraph from the model:
![image](https://user-images.githubusercontent.com/29785908/89805545-78d67f80-db3e-11ea-9cff-20583a01f387.png)
It seems that (while debugging):
- the `input` of the PRelu (output of BatchNorm) has shape [1, 32, 48, 48] (NCHW layout which is ONNX canonical layout right?)
- the `slope` of

[2020-08-10 17:10] mciprian13 commented on #4747
@G4V Sorry for delayed response. The Glow ONNX importer when importing and LSTM module it creates some additional graph placeholders corresponding to the LSTM states (hidden state "H" and cell state "C") which you can use to define the initial state of the LSTM module before running the inference (most commonly buffers filled with 0's are used). These placeholders are also updated automatically wh

[2020-08-10 20:15] oleksii-abramenko commented on #4782
@mciprian13

Please find attached the ONNX model.
[test.zip](https://github.com/pytorch/glow/files/5053144/test.zip)

[2020-08-11 15:51] G4V commented on #4747
Thanks @mciprian13.

The inputs for the hidden and cell states for both cells are already covered by c_0 and h_0, though. The others prepended with LSTM are only ever internal to the LSTM.

[code]

From the graph, they look like outputs rather than inputs?

![inputs](https://user-images.githubusercontent.com/37249356/89918197-a4667200-dbf1-11ea-84fd-0bfea87572e8.png)

[2020-08-12 16:39] mciprian13 opened #4805 "[DottyPrinter] Print less values for Node vector member"
For a backend specific node I end up with the following graph plot:
![image](https://user-images.githubusercontent.com/29785908/90042495-6fcae700-dcd3-11ea-82cb-7c89e26970b0.png)
For the `FilterScales` node vector member it would be nicer if only a couple of values would be printed.

[2020-08-16 11:47] muhdmud commented on #4399
I am trying to build the project in debug, and it looks like its taking bigger than 5gb space(which is what i have currently), so i stopped it.
what is the expected size i should have or am i building it wrongly?

[2020-08-17 00:44] muhdmud commented on #4399
its ok managed to delete and clear somestuff, now facing some ram issue with wsl2
https://github.com/microsoft/WSL/issues/4166

[2020-08-17 03:43] muhdmud commented on #4399
have these warnings after ninja all, are they alright for now?

muhd@mud:~/opensource/build_Debug$ ninja all
[218/653] Building CXX object thirdparty/folly/CMakeFiles/folly_base.dir/folly/synchronization/detail/Hardware.cpp.o
/home/muhd/opensource/glow/thirdparty/folly/folly/synchronization/detail/Hardware.cpp:122:72: warning: unused parameter 'status' [-Wunused-parameter]
[[noreturn]] FOLLY_DISAB

[2020-08-17 04:34] antimora commented on #4399
@muhdmud, thanks for looking into building the feature. Looking forward to using it. Meanwhile could you please use PyTorch/Glow forum to ask build/code questions. Getting ticket alerts but they're getting unrelated to the main issue.

[2020-08-17 05:16] muhdmud commented on #4399
oh okay sure!

[2020-08-19 12:44] AhmedSamara commented on #4654
Can you link a model that this occurs in?

[2020-08-19 15:37] mciprian13 commented on #4654
@AhmedSamara I searched the model from where I extracted the attached picture but seems I cannot find it. Sorry!

[2020-08-19 18:51] AhmedSamara commented on #4654
@mciprian13 what is the model that it occurs in?

[2020-08-20 15:32] anujgupt-github opened #4815 "Regarding NonZero + ROIAlign"
I've seen several models involving ROIAlign, which invariably are preceded by NonZero.
NonZero being a dynamic shaped tensor isn't supported in GLOW.

How about we can implement ROIAlignV2 with a 'fused' functionality of NonZero and ROIAlign,?
Basically, we can eliminate NonZero itself by incorporating the logic inside the ROIAlign kernel itself (as done in NonMaxSuppression by pruning out results

[2020-08-20 22:21] eric-lightmatter opened #4818 "Support additional fused activation types"
Currently only Relu, Sigmoid, and Tanh can be fused to a Conv, we'd like to support Clip and possibly others.

https://github.com/pytorch/glow/blob/6a850b46811efa0aec1822718f81a98aaa2cb4b0/lib/Optimizer/GraphOptimizer/GraphOptimizer.cpp#L4789-L4818

[2020-08-20 22:24] #4818 closed

[2020-08-26 11:30] mciprian13 commented on #4782
@oleksii-abramenko Indeed I reproduced your observations:
- What happens is that your model explicitly sets the initial states of the RNN modules to 0 meaning that the **R** weights are optimized out by Glow (which makes sense in my opinion).
- Indeed the total number of weights for your model is 3 x (60 x 60 + 60 x 60 + 120) = 21960 parameters but the **R** weights optimized out this gives 3 x (6

[2020-08-26 13:48] mciprian13 commented on #4747
@G4V I pushed here #4830 a PR which modifies the default way in which an RNN operator is loaded (either RNN, GRU or LSTM operator) by not exporting by default the state variables as placeholders. That way the imported model will have the same number of inputs and outputs as the original model. This way the profiling using the `model-profiler` should be somewhat easier to use.

[2020-08-26 18:41] oleksii-abramenko commented on #4782
Thanks! I have tried 1) already, it seems working.

Regarding 2), maybe I am missing something, but the model is already exporting placeholders for hidden states. For example, please take a look here: https://github.com/pytorch/glow/blob/54c7625053bfb14955c4402ab8d9bca85195d53c/lib/Importer/ONNXModelLoader.cpp#L2857 , in the function ONNXModelLoader::loadRNN it says:

  // We always create placeho

[2020-08-27 08:23] mciprian13 commented on #4782
@oleksii-abramenko What happened is that the state placeholders were always created, the updated states were always stored in the placeholders but the state placeholders were used as input states only if the states were not explicitly set in the model (which was not the case in your model since the model explicitly set the state to 0).
With the new PR I mentioned what happens is that the state pla

[2020-08-31 07:08] anujgupt-github commented on #4815
Hi @jfix71 @mortzur ,
Any feedback on this?

[2020-09-01 11:45] exciting678 opened #4849 "Will glow directly support pytoch's model？"
Will glow directly support pytoch's model？Thanks

[2020-09-02 06:37] jfix71 commented on #4741
Really sorry for the major delays here, I've been super swamped. I will definitely get to reviewing next week.

[2020-09-02 06:37] jfix71 commented on #4815
Really sorry for the major delays here, I've been super swamped. I will definitely get to reviewing next week.

[2020-09-03 17:26] anujgupt-github commented on #4815
Sure @jfix71 .

[2020-09-07 08:36] Dream-math opened #4864 "Ninjia test error"
./tests/CPUOperatorTest
[  FAILED  ] 1 test, listed below:
[  FAILED  ] CPU/OperatorStatelessTest.MFCC_1x17_Float/0, where GetParam() = ("CPU")

./tests/CPUMLTest
[  SKIPPED ] CPU/MLTest.learnSparseLengthsSumEmbeddings/0

LLVMIRCodeGen/libjit/libjit.cpp:902: void (anonymous namespace)::find_min_max_f(float *, dim_t, float &, float &): Assertion `!std::isnan(tensor[i]) && "NaN value found!"' failed

[2020-09-09 11:08] andreas-hommel opened #4871 "LLVMIRGen::updateInlineAttributes() clears noalias attributes"
LLVMIRGen::updateInlineAttributes() currently clears all function attribute lists including the valuable noalias parameter attributes that were previously added. This leads to suboptimal optimization, e..g, loop vectorization inserts explicit memory region overlap checks in the final binary code.

I suggest making this change

[code]
to only clear the function attributes and leave the return and p

[2020-09-14 14:06] anujgupt-github opened #4881 "Implementing Matrix Factorizations (SVD, QR, LU)"
I need to implement SVD, QR, LU decompositions.

These are not part of standard C++ libraries, but are part of other libraries (like [Eigen3](http://eigen.tuxfamily.org/index.php?title=3.0)).
For implementing for Interpreter backend, what is your recommendation:
1. Use/include libraries like Eigen3 and import the in-built functions? Or,
2. Implement using brute-force method?

@jfix71, WDYT?

[2020-09-14 14:08] anujgupt-github commented on #4815
Any thoughts on this, @jfix71 ?

[2020-09-16 02:07] jfix71 commented on #4849
Yes, torch_glow is under active development: https://github.com/pytorch/glow/blob/master/docs/pytorch.md

[2020-09-16 02:07] #4849 closed

[2020-09-16 02:10] jfix71 commented on #4871
Seems sane to me. CC: @opti-mix

[2020-09-16 02:11] jfix71 commented on #4881
For the Interpreter, we usually like to have simple reference implementations. Our goal is not to have super performant kernels -- other backends that are not references go for performance, such as CPU, OpenCL, NNPI, etc. So I'd suggest 2.

[2020-09-16 02:14] #4522 closed

[2020-09-16 02:15] #4349 closed

[2020-09-16 02:16] #4210 closed

[2020-09-16 03:05] opti-mix commented on #4871
@andreas-hommel Yes, sounds very reasonable. Would you like to submit a PR for this?

[2020-09-16 08:14] andreas-hommel commented on #4871
Yes, Done!

[2020-09-16 08:14] #4871 closed

[2020-09-17 08:36] sladwa opened #4891 "Adding support to infer FasterRCNN Model"
Hey @jfix71

We need to enable support of infering model like FasterRCNN which has dynamic operators like NMS and NonZero. Reference model from onnx model zoo is https://github.com/onnx/models/blob/master/vision/object_detection_segmentation/faster-rcnn/model/FasterRCNN-10.onnx . We see two ways to address this problem

1. Add support for handling dynamic tensor shape. We wanted to know what is th

[2020-09-17 22:31] jfix71 commented on #4741
@mciprian13 Yeah agreed, according to ONNX's [definition of unidirectional broadcasting](https://github.com/onnx/onnx/blob/master/docs/Broadcasting.md#unidirectional-broadcasting), it does seem that the shapes are invalid -- if the input is `[1, 32, 48, 48]` then in order to broadcast correctly to match the shape, the `slope` could be `[1, 32, 1, 1,]` which is broadcasted to `[1, 32, 48, 48]`, or

[2020-09-17 23:58] jfix71 commented on #4891
Hi @sladwa -- for dynamic tensor shapes, we do not have current plans for generic support for this. One way we are intending on overcoming this for the more specialized case of different batch sizes is to just compile many of the same model as different Functions in a single Module, but with different batch sizes for each Function. This way they can share weights, and we'd mostly just be able to s

[2020-09-17 23:58] jfix71 commented on #4815
@mortzur @jackm321 Do you all have thoughts here?

[2020-09-17 23:58] jfix71 commented on #4864
Hmm, I don't know what the problem here is. I am not able to reproduce on my side after running it 1000 times. Does this happen every time you run, or is it flaky?

[2020-09-18 08:04] mciprian13 commented on #4741
@jfix71 Thanks for checking this. Will close this issue!

[2020-09-18 08:04] #4741 closed

[2020-09-18 09:16] Dream-math commented on #4864
I install glow with gcc-9.3  not clang in Fedora 31, I will try to reinstall glow with clang, I have issued this error at https://discuss.pytorch.org/t/ninjia-test-error/95412,  anyway, thanks your reply.

[2020-09-20 07:03] anujgupt-github commented on #4881
Thanks for your recommendations, @jfix71

[2020-09-21 11:32] MaxS1996 commented on #4671
Okay, I made some progress by using the precompiled docker instead of compiling Glow myself
and using the MNIST model from the ONNX model zoo [MNIST ](https://github.com/onnx/models/tree/master/vision/classification/mnist), which uses NCHW instead of the NHWC data layout of keras.

I am able to profile the network using
`./build_/bin/image-classifier -model=/data/mnist-8.onnx -model-input=Input3,f

[2020-09-21 16:54] 842974287 commented on #4805
I've create a pull request https://github.com/pytorch/glow/pull/4903 for this issue. It's my first time working on Glow. Feel free to leave some comments!

[2020-09-22 03:51] Dream-math commented on #4864
@jfix71 Hi, after reading lenet-loader.cpp, I have some questions about glow:
I find the process of generating glow high level IR, high level optimization, low level IR and its optimization in provision. Glow do all of these things, but I do not find the process of converting lower IR to instructions by LLVM, what's the relationship between Glow and LLVM, I only see some llvm data structures and f

[2020-09-22 18:52] yurivict opened #4910 "FAILED: libjit/libjit_cpu.bc (LLVM versions are mixed)"
I have these messages printed:
[code]

```find_package(LLVM 90 CONFIG)``` finds llvm-9.0.1:

but my base FreeBSD system also has ```llvm-10.0.1``` installed as a default compiler.

Some llvm version mixup is going on.

[2020-09-22 20:13] jfix71 commented on #4910
Hi @yurivict -- are you using `DLLVM_DIR` during CMake to direct it to the correct llvm build? Might be worth a try to do that. Also not sure if we've done much testing w/ llvm10 yet, FYI.

[2020-09-22 20:20] jfix71 commented on #4805
Fixed via https://github.com/pytorch/glow/pull/4903

[2020-09-22 20:20] #4805 closed

[2020-09-22 20:22] yurivict commented on #4910
I supply LLVM-9.0.1 by changing ```find_package``` to require that version.
I didn't try to use ```DLLVM_DIR```. Instead, I remapped the ```c++``` executable to point to ```clang++90```.

[2020-09-23 05:30] jfix71 commented on #4864
Hi @Dream-math, we use llvm in a couple ways. First, we use some of LLVM's data structures, command line options, etc. Second, we use LLVM for some backends in order to lower further after Glow low-level IR, compiling for whatever architecture you want (that LLVM can target). You can see much of this supporting code for these LLVM-based backends (such as our open source CPU backend) [here](https:/

[2020-09-23 16:54] anujgupt-github opened #4912 "Regarding PR #4867/68"
Hi @jfix71 :
I had a question about #4867  and #4868
Are we heading in a direction to support externally quantized networks, to accept Quantization Params via external file, as an alternative to PGQ?
I studied these and this is what I could gather.

Also, is there updates to Quantization methods which are being worked upon?
Could you please comment on this, and if yes, please share some more light

[2020-09-23 19:56] 842974287 commented on #4565
Hi, I've created a PR for this issue. I'm new to Glow Project. Feel free to leave any comments!

[2020-09-24 04:09] antimora commented on #4399
@mciprian13 @jfix71, according to https://pytorch.org/docs/master/nn.functional.html#log-softmax, there is a warning regarding the numerical stability if operation is decomposed into Log and Softmax. Would this be a concern for inference mode as well?

[2020-09-24 06:48] imiiii opened #4918 "how can i use 3D-stacked memory and Process in memory with glow"

[2020-09-24 08:13] mciprian13 commented on #4399
@antimora Not sure why decomposing it brings numerical instability. You should search for an implementation and if that requires the node to be implemented atomically then you should define a new node LogSoftmax and add a special implementation for that.

[2020-09-24 16:36] jfix71 commented on #4912
Hi @anujgupt-github -- so prior to those PRs we already did support externally quantized networks, e.g. see in the Caffe2ModelLoader "Int8FC", "Int8Conv", "Int8Quantize", etc. These ops are loaded as already quantized, outside of Glow.

In general we want to support any form of quantized networks, whether quantized inside or outside Glow (or even a mix if desired!). The quantization parameters may

[2020-09-24 16:41] jfix71 commented on #4918
Hi @imiiii -- this is a pretty broad question. Glow tends to focus more on higher level SW optimizations -- it depends on the specific backend how much Glow should actually do. For some backends (e.g. CPU backend) we rely on LLVM to lower down to machine code/binaries. For others (e.g. NNPI backend) we pass an optimized graph down to another SW stack to further lower to machine code/binaries.

So

[2020-09-24 17:32] anujgupt-github commented on #4912
Thanks a lot for your clarification, @jfix71 !

[2020-09-24 18:31] jfix71 commented on #4629
I'm a little unclear of your use case here -- are you suggesting that your backend expects to see a `float PH -> QuantizeNode`, and then you provide int data even though the input PH was float? Shouldn't you be fusing the Quantize into the PH? Then we don't need to worry about this optimization, as long as it occurs after the `float PH -> QuantizeNode` to `int8 PH` fusion happens first.

[2020-09-25 23:19] #4792 closed

[2020-09-26 01:02] antimora opened #4926 "Compiling Conv1D nodes create extra reshape and transpose operations"
I am attaching a simple ONNX graph with Conv1D utilization. Please see [graph-dummy.zip](https://github.com/pytorch/glow/files/5285949/graph-dummy.zip) for onnx and graph dot output.

ONNX graph is bundle compiled. From this example, you'll notice reshape and transpose nodes between convolution nodes are unnecessary, which will lead to extra computation. Most like this is a result of using Conv2D

[2020-09-28 06:17] sladwa commented on #4891
Hey @jfix71 , The deployable fasterRCNN model of detectron2 https://github.com/facebookresearch/detectron2/blob/master/configs/COCO-Detection/faster_rcnn_R_50_FPN_3x.yaml will require more than supporting specialized case of dynamic tensors specific to batch size. Following is the requirement of FasterRCNN kind of models which have operators that require dynamic tensors of inputs or outputs:

- Ge

[2020-09-28 17:29] mciprian13 opened #4928 "Fuse RescaleQuantized in the ChannelwiseQuantizedConv"
![image](https://user-images.githubusercontent.com/29785908/94465786-1a865e80-01c9-11eb-960b-c84c836ab9d0.png)
In this case the RescaleQuantized node should be fused within the RescaleQuantized node.
This fusing type should be refactored in GraphOptz in order to enable it more easily for other nodes as well.

[2020-09-30 01:42] ksaurabh-cadence commented on #2738
@jfix71 @nadavrot Just checking if there is any progress on supporting loop/control flow? It's been a while :-)  Any approaches which have been considered and rejected?

[2020-09-30 18:14] jfix71 commented on #2738
Hi @ksaurabh-cadence -- I don't think much has changed here, actually. I still think the easiest path forward for now would be to allow e.g. PyTorch (or whatever is driving runtime execution, e.g. a C wrapper with a main for executing an AOT bundle) to call into Glow for high performance execution of each iteration of the model, assuming the control flow is mostly there to wrap around e.g. and LST

[2020-10-01 04:08] #4628 closed

[2020-10-01 18:14] saurabh-shandilya commented on #2738
Hi @jfix71 Is there an example that I can look up for the **first** approach you suggest using a c-wrapper? If not, is there an example which can be added?

[2020-10-01 18:16] ksaurabh-cadence commented on #2738
Hi @jfix71 Is there an example that I can look up for the first approach you suggest using a c-wrapper? If not, is there an example which can be added?

What kind of improvement for predication do you have in mind?

[2020-10-02 08:53] mciprian13 opened #4950 "[IR] Add memory instrumentation mode"
Add an IR instrumentation to check buffer overflows.
**Usecase**
For backend specific kernel implementations there might cases when even if a kernel correctly computes the output it might write more than it should thus overflowing the buffer is allocated. These kind of situations are hard to debug.
**Implementation**
Add a mechanism in IR to:
- allocate an extra header and extra footer for each bu

[2020-10-05 12:23] debayan-gh opened #4956 "torch_glow support for index operator in PytorchModelLoader"
Hi ,
The aten::index op is not currently supported by glow PytorchModelLoader.
The index operator takes a list of Tensors as input.  Is there a plan to support loading a list of tensors as a constant so that ops like index can be added in Pytorch Model loader ? Or if we can have a fused op in this case . What would be the preferred way of adding this support?

e.g below traced graph for pytorch co

[2020-10-12 23:09] 842974287 commented on #4768
So sorry I forgot to mention the PR here. Got a PR https://github.com/pytorch/glow/pull/4975 for this issue and is already closed early today.

[2020-10-13 08:58] leejaymin opened #4982 "[Quantization] layer-wise quantization"
To keep the original precision of nodes, Glow provides `keep-original-precision-for-nodes` option. However, sometimes, we need to keep the precision of specific nodes rather than keeping all nodes of a kind. For example, it is well-known fact that the first and last layers are sensitive to accuracy drop.

To prevent quantization in a specific node, layer-wise quantization is necessary. I have two

[2020-10-13 10:19] mciprian13 commented on #4768
This was solved in #4975. Closing this issue.

[2020-10-13 10:19] #4768 closed

[2020-10-13 10:22] mciprian13 opened #4983 "[Testing] Fix ThreadPoolExecutorTest unit test which currently is flaky"

[2020-10-13 10:23] mciprian13 commented on #4565
This was done in #4915. Closing this issue.

[2020-10-13 10:23] #4565 closed

[2020-10-13 17:37] mciprian13 opened #4985 "Add Node/Instruction string annotation attribute"
Add Glow node/instruction string annotation attribute to allow adding all sorts of attributes for backend specific transformations/optimizations. Multiple attributes could be concatenated together through some separator.
Add methods to set/get/add/remove attribute from the annotation.

[2020-10-13 17:39] mciprian13 opened #4986 "[IR] Add capability to alloc memory in different spaces/memories"
Add the concept of memory ID in the IR allocation mechanism to allow allocating buffers in different memories.
There are SoCs with memory hierarchies (near/far) which currently Glow cannot address.

[2020-10-14 00:33] aturetsk commented on #2123
@nickgg, I don't see this issue for LLVM 7 anymore. It did start appearing again when I tried LLVM 10, so I had to address the problem the same way: #4990

[2020-10-14 15:56] #4757 closed

[2020-10-14 16:27] #4918 closed

[2020-10-14 16:27] #4912 closed

[2020-10-14 16:39] mciprian13 commented on #4950
@jfix71 This is intended to be a kernel debugging feature. For example what if for a custom backend (e.g. an accelerator) we have a buggy convolution which although correctly computes the output it writes some extra data in the output buffer thus overflowing it (in the activations memory section this might overwrite some other data). This is a real usecase and I actually lost a lot of time debuggi

[2020-10-14 17:09] jfix71 commented on #4891
Sounds reasonable to me. CC: @jackm321 @mortzur @zrphercule

[2020-10-14 17:12] #4864 closed

[2020-10-14 17:14] jfix71 commented on #4782
Seems like this is resolved, closing for now, feel free to reopen if needed.

[2020-10-14 17:14] #4782 closed

[2020-10-15 16:08] mciprian13 opened #4994 "Quantization problem when lowering"
@jfix71 After your change in #4942 some models are not being quantized properly by our backend.
Attached here you have everything to reproduce the problem for a MobileNetv1 model.
More details in the **Readme.txt** from the archive.
[mobilenetv1_bug.zip](https://github.com/pytorch/glow/files/5386227/mobilenetv1_bug.zip)

I think that the graph hash checking mechanism is not sufficient to ensure th

[2020-10-20 07:35] sladwa commented on #4891
Hey @jfix71 , After further study we decided take following approach:

1. Do not go for fused operator implementation. That way each backend can do single operator optimization rather than fused node optimization.
2. To resolve dynamic output tensor behavior for each operators we plan to fix there sizes.
3. For GenerateProposal operator fix output size to be batchsize*post_nms_topN. For invalid Ro

[2020-10-22 10:53] mciprian13 opened #5011 "[IR] Add option to allocate placeholders in the activations pool"
Currently the placeholders are allocated in a separate memory buffer called "mutableWeights".
For further memory optimization one would choose to allocate the placeholders in the "activations" memory pool
such that the memory used for the input placeholders would be reused for further intermediate computations.
When a model has large inputs (e.g. images) this memory gain can be significant.
The do

[2020-10-22 16:26] opti-mix commented on #5011
@mciprian13 Yeah, this idea makes sense.

A generalization of this approach would be to allow backends for customizing the mapping from a logical buffer to a contiguous memory pool it should be allocated in. This way one could e.g. map all/some mutable weights and activations to the same memory pool. Or one could map each buffer to its own memory pool if needed. This change may affect some places

[2020-10-23 08:43] waynehpc opened #5014 "[Tests][gtest] linking error: gtest-printers.h:271: undefined reference to `testing::internal::PrintBytesInObjectTo(unsigned char const*, unsigned long, std::ostream*)'"
The related build log is as followings:
[code]
The submodule tests/googletest version googletest @ 703bd9c.

I tried to checkout to the latest version on the master branch, `git checkout master && git pull` and build again, and all build passed.

I wonder if it is a bug related to the googletest version, thanks!

[2020-10-23 15:39] mciprian13 commented on #5011
@opti-mix Your generalized proposal makes sense for the long-term but I don't have bandwidth right now for that kind of refactoring. I will attempt to do what I proposed here after I will investigate in greater detail the logic in IROptimizer.cpp.

[2020-10-23 21:41] 842974287 commented on #4769
@mciprian13 I've put up a PR for this https://github.com/pytorch/glow/pull/5013. Feel free to leave some comment!

[2020-10-26 01:13] Dream-math commented on #4864
Hi @jfix71, could you give me some papers or documents about algorithms in model partitioning of glow, thanks.

[2020-10-27 17:29] 842974287 commented on #4928
@mciprian13 Besides this case I can think of QuantizedConv and QuantizedNode. Is there any node else that seems obvious to add?

[2020-10-27 17:30] debayan-gh opened #5035 "Loading saved torchscript model with PytorchModelLoader"
@jackm321

Is there a way to load torchscript traced files from disk and compile it using the PytorchModelLoader without using the Python torch_glow module. There existed a PytorchFileLoader as part of torch_glow, but was removed in #4866

Can we reintroduce this loadJITGraphForOnnxTraining() preferably with a different name?
I can raise a PR for this.

e.g  invocation below taken from PytorchFile

[2020-10-27 17:34] mciprian13 commented on #4928
@842974287 For generality, I think the best approach here would be to fuse the RescaleQuantized in all the nodes with the exception of those nodes which have constraints regarding the in/out quantization parameters (which can be found in Quantization.cpp). Rule of thumb is that the final graph should not contain RescaleQuantize nodes at all since any requantization is detrimental to accuracy.

[2020-10-28 23:28] 842974287 commented on #4928
@mciprian13

Sorry I couldn't find the right constraints in Quantization.cpp. I did find a verify function in VerifierHelper.cpp https://github.com/pytorch/glow/blob/565e798d1b1c89d13a6dab06734dbc4acb9bff73/lib/Graph/VerifierHelper.cpp#L119 that verifies if the input and output are of same scale and offset if the node is quantized. But this verify function is called manually in Nodes.cpp to verify

[2020-10-29 09:10] mciprian13 commented on #4928
Macro defined there used for nodes with should have same input/output quantization parameters:
https://github.com/pytorch/glow/blob/cf3a95aed62bbe97391c2a925f07bbeefd4d0430/lib/Quantization/Quantization.cpp#L503-L504
and:
https://github.com/pytorch/glow/blob/cf3a95aed62bbe97391c2a925f07bbeefd4d0430/lib/Quantization/Quantization.cpp#L398-L405
So what it means is that the RescaleQuantized node shoul

[2020-10-31 10:15] debayan-gh commented on #5035
Hi @jackm321 , @jfix71 ,

Raised a PR for this.
Please advise if we can add this constructor or if there is a better way to handle the above use case.

[2020-11-01 13:10] JosseVanDelm opened #5041 "CMake Error at thirdparty/folly/CMakeLists.txt:423"
Hi there, i'm trying to build glow on my Arch Linux machine.
I've followed the steps in the https://github.com/pytorch/glow/blob/master/README.md but i got stuck at https://github.com/pytorch/glow#configure-and-build

calling `cmake  -G Ninja -DCMAKE_BUILD_TYPE=Debug ../glow`
gives me this:
[code]

calling `cmake  -G Ninja -DCMAKE_BUILD_TYPE=Debug ..` gives me this output:

[code]

It appears that

[2020-11-03 15:02] albertoisorna opened #5043 "[Pytorch-ONNX-Glow] Failed to load operator Resize"
**Desciption:**

I trained a Yolov5 detection model, and succesfully exported to ONNX.
[https://github.com/ultralytics/yolov5/issues/251](url)

When I try to compile it with glow I have the following error:

`**Error message: Failed to load operator Resize** `

![image](https://user-images.githubusercontent.com/23259650/98002893-5fb43680-1dee-11eb-924a-18cf8437e593.png)

_**Please find attached th

[2020-11-03 16:17] mciprian13 commented on #5043
@albertoisorna The Resize operator should be supported by the latest upstream version (if you build Glow from github). The Glow distribution from NXP eIQ is an oldest version of Glow (from February or so) and it does not support the Resize operator.

[2020-11-03 20:33] yinghai commented on #5035
If the whole graph is lowerable, what's the difference of this and using fusion?

[2020-11-04 10:48] debayan-gh commented on #5035
We're interested in supporting a solution which uses pyTorchModelLoader directly, and doesn't require going through torch_glow or involves the JIT interpreter. This would allow a standalone application (for example, image classifier) to load torchscript files and compile them - assuming, of course that all operations in the model are supported (or fail if not).

Such support exists for the other m

[2020-11-04 17:09] dinkdeep opened #5044 "Training Path in Glow was removed using issue #4866 Remove torch_glow training #4866"
Noticed that the Training Path in Glow was removed using issue #4866 Remove torch_glow training #4866.
What are the available alternatives in lieu of it for training support in Glow.
Can the support be readded again.

[2020-11-04 21:16] yinghai commented on #5035
@jackm321 can you take a look?

[2020-11-06 20:30] #4769 closed

[2020-11-12 05:30] opti-mix opened #5068 "Use explicit std::string conversions instead of implicit llvm::StringRef->std::string conversions to prepare Glow for builds using LLVM >=11"
LLVM >= 11 made `llvm::StringRef`->`std::string` conversion explicit, because this conversion is pretty expensive and developers should be aware that it happens.

The result of this change is that a lot of existing code relying on this implicit conversion is now broken and does not compile anymore. Glow has a lot of such broken places in its source code due to this.

Most of such places using a `l

[2020-11-18 11:06] ankushduacodes commented on #5068
@opti-mix I would love to work on this. This is my first issue on this repo, Please let me know if I should be aware of anything else. 🚀

[2020-11-20 05:03] opti-mix commented on #5068
@ankushduacodes

It is great you'd like to work on this!

Since there are a lot of places in Glow's code base using the old StringRef API, many of them may need to be changed. It could be a good idea to submit a number of smaller PRs to address this, instead of one huge PR. This will also make it easier to review.

[2020-11-20 15:21] ankushduacodes commented on #5068
@opti-mix Could you please give me a starting point as to where should I start refoctoring.

[2020-11-20 15:35] opti-mix commented on #5068
Try to configure `CMake` to use LLVM 11, assuming you installed it on your system. On MacOS it would be via "brew install llvm"

Use the following command:

PATH=/usr/bin:/usr/local/bin CC=/usr/local/opt/llvm/bin/clang cmake -G Ninja -DCMAKE_CXX_COMPILER=/usr/local/opt/llvm/bin/clang++ -DCMAKE_PREFIX_PATH=/usr/local/opt/llvm  -DCMAKE_BUILD_TYPE=Debug -DGLOW_WITH_CPU=ON -DGLOW_WITH_LLVMIRCODEGEN=ON

[2020-11-20 20:36] #2123 closed

[2020-12-02 05:30] sparkingdark commented on #1296
hey @nadavrot can you elaborate

[2020-12-02 05:32] sparkingdark commented on #5068
is this open for work @opti-mix

[2020-12-02 05:46] ankushduacodes commented on #5068
I am sorry couldn't venture out a pr, i have been quite busy, But I will be working on it soon @opti-mix

[2020-12-02 16:10] ksaurabh-cadence opened #5130 "Lowering of Recurrent Units with Batch being outer dim"
Currently the ONNX definition of LSTM/GRU/RNN define input and output tensors such that batch dimension is NOT the outermost dimension and this is somewhat different than how batch dimension is placed for the rest of the operators-
https://github.com/onnx/onnx/blob/master/docs/Operators.md#RNN
https://github.com/onnx/onnx/blob/master/docs/Operators.md#LSTM
https://github.com/onnx/onnx/blob/master/

[2020-12-02 17:38] vuzelac-cadence opened #5132 "Image preprocessing to be replaced with BatchNormalization nodes."
@jfix71 @rdzhabarov
For a long time, we are maintaining our batch normalization code along with the generic one. It became very cumbersome, given the addition of NUMPY & PPM loaders, now adding S16/U16/S8 inputs as well. We'd like to drop the generic approach from Glow completely - I am actually not sure what it does - an offline pre-processing that's not part of the model is good for testing purp

[2020-12-03 15:03] mcurtis-cadence opened #5137 "[GraphOptz] Fold Reshape into ReduceMean"
We have a network with a number of `ReduceMean`s that are prevented from being optimized into `AvgPool` (see [OptimizeReduceMean](https://github.com/pytorch/glow/blob/bab9d94140a2dc371199391f997377192cc15e47/lib/Optimizer/GraphOptimizer/GraphOptimizer.cpp#L1742)) because the input shape does not satisfy the requirement of being NCHW.

`ReduceMean` input is actually a `Reshape` from NCHW to NC{H*W}

[2020-12-08 00:55] jfix71 commented on #5132
Hi @vuzelac-cadence -- just so it's clear, you're referring to the `imageNormMode` used when preprocessing inputs, correct?

If we can generalize this via just BatchNormalization nodes that are inserted to input Placeholders I think that's a good option and *could* replace that `imageNormMode` -- though I have a couple concerns with that. One, I'd also be curious to compare perf of doing it as a G

[2020-12-08 01:02] notaJiminLee opened #5144 "model-compiler does not work when using models with softmax"
**I tried to convert the onnx model with softmax into Bundles.**

**However, the following error was printed:**
libunwind:      pc not in table, pc=0xFFFFFFFFFFFFFFFF
 #0 0x0000000000433d78 glow::Function::createFlatten(llvm::StringRef, glow::NodeValue, unsigned int) (C:\nxp\Glow\bin\model-compiler.exe+0x33d78)
 #1 0x0000000002287a4f glow::CommonOperatorLoader<glow_onnx::NodeProto, glow_onnx::Attr

[2020-12-08 01:26] vuzelac-cadence commented on #5132
@jfix71 , referring to `imageNorm `mode together with `mean`/`stddev`, removing all three from preprocessing, into the BN.

[2020-12-09 05:23] ksaurabh-cadence commented on #5130
@jfix71 @rdzhabarov
Can you please share your feedback?

[2020-12-10 15:49] mciprian13 opened #5162 "[Question] Link automatically to bundle objects/libraries"
@opti-mix I have a question for you. Is it possible in the current bundle compilation pipeline to link some objects/libraries pre-compiled with other compilers?
The problem I have is this: the current flow of bundle is to have all kernel code (libjit) pre-compiled to LLVM IR using clang. But for some targets (e.g. ARM Cortex-M) the native compiler (GCC based) makes a better job for some kernels (m

[2020-12-10 16:36] opti-mix commented on #5162
@mciprian13 Good question!

When you say link, do you mean using a real linker to produce an executable in AOT fashion? Glow currently does not link final executables as you know. It just produces object files. It can load some libraries if you use GlowJIT.

But some closed-source LLVMBackend-based backends have extended the functionality to do actual linking and produce executable files. They do

[2020-12-10 16:41] mciprian13 commented on #5162
@opti-mix When I say link I`m not thinking about creating an executable but inserting some extra binary code (produced by some other compiler) inside the bundle object file.

[2020-12-10 16:49] opti-mix commented on #5162
@mciprian13

I see. Hmm. I don't think it is supported out of the box currently because this use-case was never required so far. But you can propose how to extend the APIs to support that.

Maybe something like `BundleSaver::addResource(name, content)`? And then this content will be included into bundle and accessed via this name o something like that?

[2020-12-10 23:50] aturetsk commented on #5137
@jfix71, could you please advice the best place to implement this merge of Reshape with ReduceMean? On one hand this is a Reshape optimization, on the other hand we'd want to do this only if new ReduceMean has 2 axes (to avoid the cases when Reshape merge would prevent conversion of ReduceMean to AvgPool from happening), so it's somewhat OptimizeReduceMean specific.

[2020-12-11 11:55] NinaPacifier commented on #5068
Is this open for work @opti-mix?? I would love to work on this.

[2020-12-12 01:18] jfix71 commented on #5137
Given this, since it's very specifically tied to whether `OptimizeReduceMean` applies, then I'd personally say put it there.

[2020-12-13 20:16] weimin commented on #1556
Hi,
I am new to this repo, I found on reddit a similar issue https://www.reddit.com/r/cpp/comments/7i21sn/til_uniform_int_distribution_is_not_portable/ and that the boost library provides a portable implementation and further on stackoverflow there is an example implementation https://stackoverflow.com/questions/2254909/boost-random-number-generator, is it alright if I followed that implementation

[2020-12-13 23:46] opti-mix commented on #5068
@NinaPacifier Nobody has started working on this yet and no PRs were submitted. So, it is open for grabs. Please refer to this issue in your PRs, so that others see that it is being worked on.

[2020-12-14 02:43] jfix71 commented on #5068
Hi @NinaPacifier -- I actually think @ayermolo is already working on this, and will probably upstream it soon. Just want to make sure you don't waste your time on it.

[2020-12-14 02:51] jfix71 commented on #1556
Hi @weimin -- I believe we do already take Boost as a dependency in order to support folly. So that is a potential option. However, another option would be to follow @stoklund's suggestion, and IMO that would be preferable, since I believe should be pretty simple and limit our dependence which I personally would prefer.

[2020-12-14 08:20] weimin commented on #1556
Hi,
Thanks for your reply, I tested the MT output:
[code]
[code]
However I am having some problems building the code to do more tests, I am using os X Catalina (10.15.6) and I followed the instructions to build it using homebrew and I also updated XCode but its giving me the following errors, do you have any suggestions on how to resolve, otherwise I can try to go on aws and open a ubuntu instance

[2020-12-14 22:21] jfix71 commented on #5130
Hi @ksaurabh-cadence, it sounds like a reasonable plan. I am not sure how many others may be interested, but we'd be happy to review/land it if upstreamed.

[2020-12-15 02:32] ayermolo commented on #5068
@NinaPacifier Sorry didn't mean to take it over.
There is still an issue with ORC v1 being deprecated in latest llvm.
https://llvm.org/docs/ORCv2.html#transitioning-orcv1-to-orcv2

[2020-12-15 05:02] ravishk1 commented on #3345
I also was facing the same error. But my aim was to install torch_glow
If the objective is to install torch_glow, then the step of

python3 setup.py test --run_cmake step can be avoided.

and directly python3 setup.py install would install the torch_glow (Don't forget to restart the system before checking the import torch_glow command.

[2020-12-15 23:41] weimin commented on #2624
Hi,
I tried on ubuntu 18.04 but I am seeing the '-wd654' issue again, I installed it into separate directories and also
[CMakeError.log](https://github.com/pytorch/glow/files/5699330/CMakeError.log)
[CMakeOutput.log](https://github.com/pytorch/glow/files/5699332/CMakeOutput.log)
[output.txt](https://github.com/pytorch/glow/files/5699314/output.txt)

[2020-12-16 18:42] ksaurabh-cadence commented on #5130
@jfix71 Thanks I will prepare an MR once ready.

[2020-12-16 23:17] jfix71 commented on #5144
Not very familiar with Windows development, but there was this previous issue that was solved, maybe can help: https://github.com/pytorch/glow/issues/4021

If not I'd suggest trying a debug build if you haven't already to see if this is a weird manifestation of a buffer overflow or something, in which case an assert might catch the issue.

[2020-12-16 23:21] jfix71 commented on #5014
@waynehpc Yeah this doesn't appear to be related to Glow really, sorry! If you find something specific to Glow feel free to reopen.

[2020-12-16 23:21] #5014 closed

[2020-12-16 23:27] jfix71 commented on #5041
Hmm, if this is a know issue in folly then I think the main workaround here is to just build folly separately with some commit that works and then place it in `${GLOW_THIRDPARTY_DIR}/folly/folly`. CMake should be happy to find that build. Or we could add some extra CMake logic to specify a specific folly build to use.

[2020-12-16 23:27] jfix71 commented on #5043
Closing this, please feel free to reopen if necessary.

[2020-12-16 23:27] #5043 closed

[2020-12-21 17:10] opti-mix commented on #5068
While @ayermolo fixed a bunch of places, there is still a lot of other places to fix. So, it is still for grabs!

How to reproduce:

On MacOS Catalina I tried to run the following commands:

[code]

If you run these or equivalent commands you'll see many more places where llvm::StringRef->std::string issue pops up.

[2020-12-21 17:32] opti-mix commented on #5068
After looking at it a bit more, I'm starting to dislike the mess created by using llvm::StringRef in some places and `const std::string &` or `std::string` in other places. I don't like the difference as such and also the fact that it looks syntactically very different.

So, I wonder if we should consider introducing some type aliases, e.g. for `const std::string &`. Something like: `using StdStri

[2020-12-22 09:51] albertoisorna opened #5198 "[Operator-'Slice_4', opset_version-12, ir_version-6] : Steps is not currently supported!"
I'm trying to comiler YoloV5 pytorch -> ONNX on glow  and I have the following message:

![image](https://user-images.githubusercontent.com/23259650/102875114-a82dbf00-4443-11eb-80a8-ac2e7e930da0.png)

Are there any solutions?

Best regards,
Alberto.

[2020-12-25 06:19] ediznj opened #5203 "Build Error when compiling CPUBackend.cpp"
FAILED: lib/Backends/CPU/CMakeFiles/CPUBackend.dir/CPUBackend.cpp.o
I have tried on various environments and tried with both Release/Debug both stuck at same place. The error reads "clang: error: clang frontend command failed due to signal (use -v to see invocation)"

Could you please help me to fix this. Shared console error logs below for reference:

==========================
[285/674] Building

[2020-12-25 13:10] #5203 closed

[2021-01-04 19:48] ayermolo commented on #5068
My bad, it was building on my linux server, and service that glow as dependency was getting passed string issue during a build. There is still a question of deprecated ORC v1 with llvm 12.

Personally I would lean towards cleaning up interfaces and usage of llvm::StringRef and std::string, maybe going with the StdStringRef, and updating the coding guide.
Using the glow defined StringRef seems like

[2021-01-12 15:16] mciprian13 opened #5244 "[Quantization] Make quantization parameters part of the constant weights"
@opti-mix @jfix71
We have an internal usecase in which we want the following:
- Pre-compile a given quantized model (say TensorFlowLite) to a bundle and link it as part of the target run-time (the target is an MCU)
- We have some high-level front-end tools capable to retrain the **same model** with **different data**
- What we want is to update the model at run-time without re-compiling the run-ti

[2021-01-12 23:02] aturetsk opened #5247 "[GraphOptimizer] Reshape sinking"
While Reshape nodes are noops and do not directly contribute to model execution time, having them in a graph might prevent other optimizations/transformations from happening. So, sinking Reshapes (similar to Transposes) and merging them might potentially lead to better optimized graph.

One particular use case I encountered is coming from `OptimizeTransposeIntoReshape` optimization (https://github

[2021-01-12 23:03] aturetsk commented on #5247
cc: @vuzelac-cadence, @opti-mix

[2021-01-13 11:19] OferRosenberg opened #5249 "Glow docker doesn't support running format.sh script"
Hi,

Tried to use the Glow docker under utils/docker.
It works well for building and testing the code, but I found that it cannot help when it comes to formatting the code. Running the script format.sh fails as the docker is missing two things:

1. It doesn't have clang-format. Relatively easy to fix, need to add "clang-format" to the linux packages installed by apt-get in the Dockerfile
2. It doe

[2021-01-15 19:15] jfix71 commented on #5244
I haven't looked much at the lower level details of bundling recently, so it's hard for me to comment on specifics there, @opti-mix can probably give a better answer. I imagine there will be some issues with the quantization parameter updating in the bundle though. AFAIK those are seen as constants by the kernels in libjit when they're compiled, so you'd need to add some sort of new compilation mo

[2021-01-15 20:41] jfix71 commented on #5247
Sure, I think it makes sense as a way to try to enable more optimizations, though I also wonder if sinking them may also prevent optimizations as well. It may make sense to add at the end of the pipeline so that the first optimize call sees the graph without them sunk, and the next optimize call seems them sunk and so may have new opportunities?

Curious if you have an idea for why it wasn't able

[2021-01-19 00:37] jfix71 commented on #5247
@aturetsk I actually just found a couple places I needed rescale sinking, which are being added as part of https://github.com/pytorch/glow/pull/5257. Not sure if you were thinking of having a dedicated relu sinking pass, but I added them to SinkCode.

[2021-01-20 00:27] aturetsk commented on #5247
@jfix71, thanks for feedback! I'll submit some MRs with Reshape sinking logic in the near future.

There is a dependency between Transpose sinking and constant folding passes. We can sink Transpose through a binary arithmetic operator, but only if both inputs are Transposes or one of the inputs is a Constant/Splat. However, we could have a binary arithmetic node with one input being Tile + Constan

[2021-01-20 13:28] mciprian13 commented on #5244
@jfix71 Thanks for your reply. Indeed I need this method for AOT mode. Basically I can have a full recompilation of the bundle but I need the guarantee that the same model but with different weights and quantization parameters is compiled into the same bundle object (program) but with a different file of weights and quantization parameters such that the bundle object does not need to be re-integra

[2021-01-22 18:39] Hopobcn opened #5274 "[Question] Tracing differences between glow and torch_glow"
Glow has a Trace infrastructure well documented here [Tracing.md](https://github.com/pytorch/glow/blob/master/docs/Tracing.md) and specified here [TraceEvents.h](https://github.com/pytorch/glow/blob/master/include/glow/ExecutionContext/TraceEvents.h).

Some examples like [examples/resnet-runtime.cpp](https://github.com/pytorch/glow/blob/master/examples/resnet-runtime.cpp) and [examples/tracing-com

[2021-01-25 03:50] debayan-gh opened #5277 "[OnnxModelLoader] Getting list of unsupported glow ops"
As of today , during loading an onnx model with OnnxModelLoader,  if any of the operators is not supported by Glow it returns immediately with error.
Instead it would be useful if the model loader can return the list of unsupported operators in the given model.
With this information one can break the model into multiple subgraphs consisting of the supported ops – and then compile / run these only

[2021-01-26 15:32] pkimelman-nxp commented on #3944
Was this ever resolved? The loop in fact is static according to the OONX graph expansion shown (start at 0, 37 iterations, so 0 to 36); it also says the output for iteration 36 is unused, which seems strange.
Since all of the normal MobileNet-SSD implementations use this LOOP, doesn't that suggest that handling it by unrolling or otherwise is pretty important?

[2021-02-02 13:48] sladwa commented on #4891
We will start raising code reviews for supporting operators of RCNN models.

[2021-02-02 13:48] #4891 closed

[2021-02-11 13:58] mciprian13 opened #5339 "[GraphOptz] Fuse BatchNorm into FullyConnected"
We currently have an optimization to fuse BatchNorm into Conv2D but we need also for FullyConnected (it is similar).

[2021-02-11 19:35] mciprian13 opened #5341 "[OnnxLoader] Allow negative axis value for Softmax"
Use `loadAxis` function when reading the axis value for Softmax to allow negative values.

[2021-02-12 09:37] LutzWeischerFujitsu opened #5345 "build fails on AArch64, Fedora 33 (no GPU)"
[jw@cn06 build]$ cmake ..
-- The C compiler identification is GNU 10.2.1
-- The CXX compiler identification is GNU 10.2.1
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc - skipped
-- Detecting C compile features
-- Detecting C compile features - done
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
--

[2021-02-17 02:51] jikechao opened #5360 "Why there is no release version so far?"
Glow has been developed and maintained for a long time, why there is no release version so far

[2021-02-17 13:11] imiiii commented on #3939
i use this command to load my onnx model
build_Release/bin/image-classifier glow/tests/images/mnist/1_1008.png -image-mode=0to1 -m MPLneW.onnx  -model-input-name=input

i got this error
Error code: MODEL_LOADER_INVALID_PROTOBUF
Error message: Can't find the model or network files for MPLneW.onnx.

I was loading my model on Netron and it works well
what i have to do to load my model

[2021-02-20 12:09] mciprian13 opened #5380 "Why use by default 64-bit dims for tensors when 32-bit would be more than enough?"
Using by default 64-bit dimensions for tensors significantly affects performance.
Not sure why it is even necessary.

[2021-02-22 09:52] et-nivard commented on #2837
I'm running an ONNX Resnet50 model and the following assert is firing when I try batch > 1 (for instance minibatch = 2):
`F0219 14:30:45.274777   140 Graph.cpp:1278] Check failed: TR->size() == input.getType()->size() (2048 vs. 4096) Reshape to a different size`
Looking at previous issues I found this one that seems related. There is a Reshape node that seems to be missing proper operand shape. I

[2021-02-22 17:15] #1469 closed

[2021-02-22 17:21] jfix71 commented on #5380
Do you mean why `dim_t` is `uint64_t` by default? I think we initially used `size_t` which is commonly 64-bit on modern CPUs, and then when `dim_t` was added we kept it as 64-bit for consistency, but I don't think there's a real reason why we keep it 64-bit.

[2021-02-22 17:23] jfix71 commented on #5360
Hi @jikechao -- no real reason other than that we just don't follow a real release cycle. I think some OSS users/companies may have their own release branches at specific points if they use Glow as a product for their customers. We just don't have it on the mainline repo.

[2021-02-22 17:23] #5360 closed

[2021-02-22 17:25] jfix71 commented on #5345
Hi @LutzWeischerFujitsu, it looks like this is a build issue with folly. Perhaps you can file a task there? https://github.com/facebook/folly

[2021-02-22 17:26] mciprian13 commented on #5380
@jfix71 Yes, I mean why Glow defines the `TENSOR_DIMS_32_BITS` option by default to OFF? We receive a lot of questions on our side why building Glow out-of-the-box (from github) has such a poor performance for 32-bit micro-controllers. The answer seems to be the 64-bit data type used for tensor indices, loop counters, etc.
Do you think we could switch the parameter from the top CMakelists.txt to O

[2021-02-22 17:28] #2208 closed

[2021-02-22 17:36] jfix71 commented on #2837
@et-nivard I think this is a different issue, see https://github.com/pytorch/glow/issues/2195 and https://github.com/onnx/models/issues/114. In general the ONNX exporter often includes reshapes built in which are explicit on the batch size and thus restrict changing the batch size. We could try to override this inside of Glow but it's perhaps a little hacky and currently not supported.

[2021-02-22 17:36] jfix71 commented on #2837
Original issue is now fixed thanks to constant folding support that we now have, so I am closing this issue.

[2021-02-22 17:36] #2837 closed

[2021-02-22 17:57] jfix71 commented on #5380
So I went back to look and it was discussed this previously in the PR where `dim_t` was added, see https://github.com/pytorch/glow/pull/3542

Some models include large embedding tables where we may actually need 64bit dims. So I think should keep it by default 64bit, and we keep the status quo where if users know their models don't need 64bit dims they can change the build flag to get better perf

[2021-02-23 09:54] ravishk1 opened #5388 "Floating point exception (core dumped) for the resnet50-v2 model"
I tried to compile the model (resnet50-v2-7.onnx) which I downloaded from [ONNX-ZOO](https://github.com/onnx/models/tree/master/vision/classification/resnet/model). When I just compiled the model, by command
_./model-compiler -backend=CPU -model=resnet50-v2-7.onnx -emit-bundle/ -bundle-api=dynamic_
It runs perfectly fine, but when I compiled it after creating the profile, by command

_./image-clas

[2021-02-24 09:08] tlepley-cadence commented on #5345
Folly is causing other problems for me under Fedora (32 in my case)

[code]

Is there a way to simply deactivate the experimental features of Folly when compiling glow ?

As a workaround, I had to comment few lines in:
- glow/thirdparty/folly/folly/experimental/io/IoUringBackend.h
- glow/thirdparty/folly/folly/experimental/io/IoUring.h

[code]

[2021-02-24 15:35] mciprian13 commented on #5380
Ok thanks for the response. Now I know the details. I will close this issue.

[2021-02-24 15:35] #5380 closed

[2021-02-25 02:31] #5341 closed

[2021-02-25 20:26] jfix71 commented on #5388
Hi @ravishk1, It’s hard to say what the problem could be without more details. Can you compile in debug mode/run in a debugger to get a stack trace?

[2021-02-25 20:36] jfix71 commented on #5345
I see under folly they have an open PR to update the Fedora building instructions, perhaps you can try this, and if so we could add it to our instructions on installation?

https://github.com/facebook/folly/pull/1405

[2021-02-26 17:51] mcurtis-cadence commented on #3551
@SameerAsal @opti-mix
I was looking at doing this unless migration is already underway by someone else.

[2021-02-26 20:45] opti-mix commented on #3551
@mcurtis-cadence

No, there are no migration efforts underway. So, if you could look into doing this it would be very useful and appreciated!

[2021-03-03 19:30] mciprian13 opened #5415 "[IROptimizer] Further remove useless copy instructions"
One such example we can optimize is for this graph:
```Concat(inp1, inp2, ..., inpN)```
For the particular case when the `Concat` node concatenates contiguous slices (e.g. concatenation is done along the 1st dimension) the operator translates at IR level in copy instructions (each input slice is copied as a contiguous block in the output buffer).
Instead what we could do to remove these copy instr

[2021-03-03 19:32] mciprian13 commented on #5415
@opti-mix Do know how to do this easily and elegantly? I wasted 2 days in trying to make an IR optimization pass which does the above but I ended nowhere ... it just seems too complicated.

[2021-03-03 19:39] opti-mix commented on #5415
@mciprian13 Just to check that I understand you correctly. You'd like to modify the IR so that the produces of inpN write into a tensorview, which is the slice of the final Concat buffer, correct?

IIRC, Glow has a similar optimization in the IROptimizer already called optimizeInserts, no? But maybe it is not general enough for your case.

[2021-03-04 09:45] LutzWeischerFujitsu commented on #5345
Installed folly manually, but it still fails:

[jw@cn06 build]$ cmake -DCMAKE_BUILD_TYPE=Release ..
-- Found glog with new-style glog target.
-- Glow: Found gflags with new-style gflags target.
-- Using 64b tensor dimensions.
-- Libjit option 'fast-math' enabled.
-- Found LLVM 11.0.0
-- Using LLVMConfig.cmake in: /usr/lib64/cmake/llvm
CMake Warning (dev) at /usr/share/cmake/Modules/FindPackageHand

[2021-03-04 14:11] mciprian13 commented on #5415
@opti-mix Yeah I`ve seen that optimization but it seems it is not generic enough and does not kick in for my case.
https://github.com/pytorch/glow/blob/39a8c689f252076ff5842c1870523b420e509b72/lib/Optimizer/IROptimizer/IROptimizer.cpp#L1347-L1352

This optimization is used only if the `InsertTensor` has an `allocActivation` as a source.
In my case the source of the InsertTensors are TensorViews be

[2021-03-04 16:50] opti-mix commented on #5415
@mciprian13 I see. Yes, seems like a generalized copy elimination that is aware of tensor views would be needed. Do you happen to have a small instruction IR-level unit test to reproduce the issue? It could be useful while thinking about a solution.

[2021-03-04 17:17] mciprian13 commented on #5415
@opti-mix I can provide a model for which this happens:
[IROptModel.zip](https://github.com/pytorch/glow/files/6085435/IROptModel.zip)
You can find in the archive:
- A MobileNet SSD model in ONNX format (model publicly available taken from ONNX zoo)
- The CLI command to compile using the model-compiler Glow tool and dump the Glow IR:
[code]
- The IR file `model_ir.txt` dumped by the above command

[2021-03-05 22:17] mcurtis-cadence commented on #3551
@SameerAsal @opti-mix
I've started working on this. Feel free to assign this issue to me if you think that makes sense.

Also, I'm a little concerned that I'll break code behind `FACEBOOK_INTERNAL`. It would help to know what LLVM versions are supported with `FACEBOOK_INTERNAL`.

[2021-03-12 02:55] ksaurabh-cadence opened #5445 "Partitioning a graph with repeating/common subgraphs"
![partition](https://user-images.githubusercontent.com/46503076/110883588-90264880-8298-11eb-9cfa-68689c0f0fe3.jpg)

I have a network F which I want to partition into 3 unique subgraphs F0, F1, F2 which are connected as shown above. Let's say I can identify the points where I want to partition the graph programmatically at the loader stage. In my use case, there are 3 instances of subgraph F1 whic

[2021-03-14 20:13] opti-mix commented on #3551
Currently, FACEBOOK_INTERNAL means LLVM 9 in most cases.

[2021-03-18 02:09] jfix71 commented on #5445
Not sure if I know your exact question -- you want to run on a single device right? You can provision them all to the single device and just use one Glow DeviceManager if that's what you mean and a single device is what you want. If you're referring to the DeviceInfo passed into the partitioner it's the same idea.

Mostly doable -- though I think it may require some extra functionality, in order t

[2021-03-18 20:38] ksaurabh-cadence commented on #5445
@jfix71

I was looking at this doc https://github.com/pytorch/glow/blob/master/docs/Runtime.md and it somehow gave an impression that there is one devicemanager for each sub-network, so I was wondering if there are 5 devices needed here or 3 or just 1. I don't want to clone F1, but call the same F1 again and again without duplicating it.  If I understand you correctly, we can have single device-ma

[2021-03-22 22:29] joe-antognini opened #5464 "Build error on OS X due to ambiguous conversion for functional-style cast"
I am attempting to build Glow on OS X Catalina but have run into an error during when running `ninja all`.  The issue is an "ambiguous conversion for functional-style cast".

An abbreviated error message is here:

[code]

[code]

For reference here is my LLVM version:

[code]

[2021-03-23 05:48] jfix71 commented on #5445
In general the abstraction is one DeviceManager per device. So if your partitioning scheme is trying to place all partitions on a single device then you'd only need one DeviceManager. This will also try to ensure certain constraints for that single device such as total size of the model don't exceed the size of memory of the device.

It'd be good to get a sense for what changes you think are requi

[2021-03-23 05:58] jfix71 commented on #5464
Thanks for reporting this @joe-antognini -- I'm not sure how many people develop on OS X at this point, so I imagine there may be other issues similar to this. Please feel free to put up a PR to fix and we will happily land. I hope it's things that are relatively straightforward to fix.

[2021-03-26 13:07] dspmihai opened #5477 "model-profiler and model-compiler hash mismatch"
There is a problem with how the profiler and how the compiler are optimizing the graph, before computing the hash and how legalizeName works:
The profiler is also partitioning the Function and the compiler won't partition it by default. This is a problem when the names of the nodes are longer than 500 chars. If this happens, legalizeName will truncate them and append _trunc_<id>.
So, at some point

[2021-03-27 16:48] ARF1 opened #5479 "Build failure on Windows"
I followed the instructions for building on windows in the docs directory making use of the pre-built dependencies and installing folly with `vcpkg`.

However when then building glow, I encounter the following error:

[code]

Any advice on how to fix this? Having a version that is higher than the minimum required should not be an error, right? If it is an error, how can I force the use of the corr

[2021-03-29 11:15] vjayd opened #5480 "Ubuntu 20.04.2 LTS build fails while creating standalone executable bundles (AOT)"
[495/727] Generating ../../../bundles/lenet_mnist/lenet_mnist.o
FAILED: bundles/lenet_mnist/lenet_mnist.o
cd /media/vijay/1TB/glow/build_Debug/examples/bundles/lenet_mnist && /media/vijay/1TB/glow/build_Debug/bin/model-compiler -g -model=/media/vijay/1TB/glow/build_Debug/examples/bundles/lenet_mnist/lenet_mnist -model-input=data,float,[1,1,28,28] -backend=CPU -emit-bundle=/media/vijay/1TB/glow/bui

[2021-03-30 20:08] vuzelac-cadence opened #5485 "Support for models without batch (3D inputs)."
For image processing, customers sometimes use models w/o batch (3D image) and we would like to add support for this. In our case, all the models always come with Unsqueeze at the inputs.
There are two approaches:
1. Introduce HWC and CHW layouts that extend current NHWC and NCHW layouts which allow users to specify the 3D input.
This adds unecessary options just to deal with the fact that the mode

[2021-04-01 03:19] Adityaljo commented on #5479
I also have same issue. Following

[2021-04-02 09:48] dspmihai opened #5501 "Upsample not wrapped in transposes"
When loading an ONNX model with upsample, it is also needed to transpose the input and the output of the upsample node to follow Glow's NHWC layout requirements. For some reason this wrapping was deleted at some point and the loading started to fail. I created #5460 to add it back. But then I saw that the in/out can also be from 3D to 6D, so I need to also add these. I understand 3D (NHC), 4D (NHW

[2021-04-06 17:39] jfix71 commented on #5501
CC: @842974287

[2021-04-06 21:29] jfix71 commented on #5485
What do you mean by images being loaded before the model? As in, we take the input shapes and types based on the provided input images and use them to setup the placeholders? We don't need to necessarily take the input shape from the input images even if they're loaded first. But yeah it seems it's a better approach than adding HWC and CHW.

[2021-04-07 04:39] 842974287 commented on #5501
Hey @dspmihai, thanks for fixing this. For ONNX model loader I think we probably only need to take care of 3D to 5D. 6D doesn't seem to make sense.

[2021-04-09 06:52] vjayd opened #5532 "LLVMIRGen: libjit.bc: error: Unknown attribute kind (61) (Producer: 'LLVM10.0.0' Reader: 'LLVM 8.0.1') F0409 12:00:00.167050 23677 LLVMIRGen.cpp:216] Check failed: llmodule_.get() Unable to load the JIT library."
Getting this error on ubuntu 20.04 while trying to compile the onnx model using the command as given below

model-compiler -backend=CPU -model=<model-path> -emit-bundle=<bundle-dir>

I have LLVM 10.0.0 installed and clang 8.0.1

[2021-04-09 16:33] mciprian13 commented on #5415
@opti-mix Did you have time to investigate this optimization?

[2021-04-09 16:39] opti-mix commented on #5415
@mciprian13 Sorry, I was busy with some other urgent stuff. Haven't spent any reasonable time on this yet.

[2021-04-09 16:52] mciprian13 commented on #5415
@opti-mix Ok no problem. Btw do you think it is worth organizing some meetings with all the Glow contributors to exchange/share ideas about the Glow future, identify groups of people with commons interests and which could collaborate, or maybe other purposes? WDYT?

[2021-04-09 22:07] aturetsk opened #5534 "[LLVIRCodeGen] Issue with `noalias` attribute"
While debugging some issue in low-level IR, I tried to disable buffer sharing optimization (https://github.com/Cadence-TIP-AI/glow/commit/39d7dd7492ae75afba8e703ea87f07789e1ccec3) and discovered that a few unit tests started failing after that.
Not all failures look like real issues, however this one does (CPUGradCheckTest):
[code]

I investigated gradientCheckAvgPool test and low-level IR with di

[2021-04-10 05:35] #5244 closed

[2021-04-10 05:38] mciprian13 commented on #5162
Done in #5275.

[2021-04-10 05:38] #5162 closed

[2021-04-10 05:40] mciprian13 commented on #4550
Closing this issue.

[2021-04-10 05:40] #4550 closed

[2021-04-12 09:28] andreas-hommel commented on #5534
The noalias fix is correct (unless the noalias attributes are incorrectly added), but unfortunately it seems to expose bugs in other parts because it enables more aggressive optimizations in LLVM. FWIW I have another open review https://github.com/pytorch/glow/pull/5370 related to this that seems to expose a bug in the later GLOW stages. Unfortunately I am currently assigned to some other project,

[2021-04-12 17:11] opti-mix commented on #5534
@aturetsk Please have a look at the #5539 and see if it solves your issue.

@andreas-hommel Does it make sense to you? Does it affect how bundles are used on your side?

[2021-04-12 20:25] et-nivard opened #5540 "Quantized types with scale <= 0"
I'm trying to enable a protection against invalid/malformed test cases and I found that all Scratch operands are being generated as type Int8QTy with scale = 0.0 (see https://github.com/pytorch/glow/blob/master/tools/ClassGen/InstrBuilder.cpp#L97 and https://github.com/pytorch/glow/blob/master/tools/ClassGen/InstrBuilder.cpp#L129). For instance, the TOPK instruction is created as follows:
[code]
H

[2021-04-12 21:01] jfix71 commented on #5540
Sure, I think that's fine -- though FYI I think we have `scale = 0.f` in some other places too where we're using dummy quantization parameters, for example when we create tensors with one of the fused quantized types such as `UInt8FusedQTy`. So you may end up needing to fix a few other spots too.

[2021-04-12 21:31] opti-mix commented on #5534
@andreas-hommel Overall, it seems like there are some issues with `noalias` in some cases.  Maybe we should not enable the `noalias` attributes optimizations you added by default? How about hiding them behind a flag until we have a proper fix?

[2021-04-13 09:56] mciprian13 commented on #5540
For scratch operands we use a scale of 0.0 to signal a don't care value. I guess changing it to a value of 1.0 won't hurt.

[2021-04-13 12:12] andreas-hommel commented on #5534
I agree with #5539 it is essentially the same as the first part of #5370. It fixes a bug in GLOW that could show up independently of the "noalias" changes. So it would be good to see if #5539 fixes this issue.
We can then decide if we should try to track down the remaining issue(s) with the full #5370 fix so that this will not limit stacking, or if we should temporarily/optionally disable the noal

[2021-04-14 01:30] aturetsk commented on #5534
https://github.com/pytorch/glow/pull/5539 solves the problem I reported, so closing this issue.

[2021-04-14 01:30] #5534 closed

[2021-04-29 10:04] vjayd commented on #5480
Reinstalled from scratch again and it worked

[2021-04-29 10:04] #5480 closed

[2021-04-29 10:04] vjayd commented on #5532
Reinstalled from scratch again and it worked

[2021-04-29 10:04] #5532 closed

[2021-04-29 17:33] mciprian13 opened #5614 "Add support for auto_pad=NOTSET in ONNXModelLoader"
When I compile the following model [mini_xception.zip](https://github.com/pytorch/glow/files/6400497/mini_xception.zip)
with the command:
[code]
the importer crashes with the following message:
[code]
The error comes from the following place:
https://github.com/pytorch/glow/blob/46166b2cd721c7e6ffc308977fa34a8eed098996/lib/Importer/ONNXModelLoader.cpp#L1189-L1190
Based on my understanding of the O

[2021-04-30 14:17] #5614 closed

[2021-05-04 21:32] njkrichardson opened #5626 "Build failure on MacOS Catalina"
I've followed the instructions in the readme exactly, but experience a build failure on MacOS Catalina. Am I doing something incorrectly or should different instructions be followed for MacOS users? Again, I followed the instructions in the readme exactly (using Homebrew as a package manager). Any help would be much appreciated.
[code]

[2021-05-05 22:17] tfan-cadence opened #5630 "Support different coordinate transform modes for ONNX resize operator"
Currently the operator is only supported with coordinate transform mode ='asymmetric'.  It would throw out an error for other modes, but I believe that other modes are also used by onnx to align different resize operator from different frameworks.

As for now, there are two node 'resizeBilinear' and 'resizeNearest' in glow, with scale attribute. So I feel if the support is needed, the node definit

[2021-05-06 13:58] jraynal commented on #5626
Hi there,

Was browsing issues regarding the build, and saw #5175. Looks like this codebase doesn't like newer LLVM versions, where they decided to remove the explicit conversion of `llvm::StringRef` to `std::string`. You can get down the rabbit hole of trying to fix the compilation, or you can install clang 7 (also works with 8, for others I do not know). You should be able to do that with `brew`

[2021-05-06 19:06] vuzelac-cadence opened #5634 "TFLiteImporter doesn't quantize bias/float for channelwise quantized convolution"
Hi @mciprian13, `createChannelwiseQuantizedConv` arguments `quantizeFilter `and `quantizeBias` are set to false.
But OperatorTest is setting them to true and also CPU LLVMIRGen is not supporting float filter/bias.
Should these flags be set to true ?

[2021-05-07 21:23] mciprian13 commented on #5634
@vuzelac-cadence The two flags `quantizeFilter` and `quantizeBias` are used when the filter and the bias inputs of the convolution are constants with float precision and the intention is to quantize them at compile time before creating a per-channel quantized conv:
- For the TFLite importer this is not required (flags are set to false) because the TFLite standard for quantized models provides the

[2021-05-08 02:33] #5626 closed

[2021-05-08 02:34] njkrichardson opened #5640 "RHEL7.8 based OS supported?"
Is RHEL7.8 based OS supported and if so, do you have all the necessary requirements (potentially with conda) to have it installed?

[2021-05-12 23:28] #4654 closed

[2021-05-17 11:15] #5501 closed

[2021-05-18 11:47] saranyakrish14 commented on #5068
@opti-mix We got the need for building glow with LLVM11 and came across this issue. We fixed it in bunch of places and were able to built and test successfully. Can we push a PR with the fix?

[2021-05-18 16:30] opti-mix commented on #5068
@saranyakrish14 @chintanaprabhu If you have fixes please submit PRs and we'll review them! Thanks!

[2021-05-18 18:23] hanhwi opened #5668 "Failure on the unit test "CPU/BackendCorrectnessTest.dataParallelStackingTest""
My glow build encounters a failure on "CPU/BackendCorrectnessTest.dataParallelStackingTest" unit test.
The unit test expected [3, 4] as an outcome, but my build generated [3, 3].
I built glow on ubuntu 20.04 with llvm 10, and also tested with llvm 8 but saw the same error message.
I think [3, 3] is also a valid one depending on an assumption of operations through some analysis.

The unit test perf

[2021-05-27 16:07] dongzheng88 opened #5687 "how cross compile benchmark under glow/tests/benchmark/ and run on ARM cpu a53?"
how cross compile benchmark under glow/tests/benchmark/ and run on ARM cpu a53?

[2021-06-01 21:49] #5247 closed

[2021-06-05 10:00] mciprian13 opened #5704 "Add support for stride in Slice operator"
Add `stride` parameter in the Slice operator.
The `stride` parameter should be allowed to be both positive and negative (slicing from the end).
Both ONNX and TensorFlowLite formats define Slice operators using this parameter.

[2021-06-05 10:54] mciprian13 opened #5706 "[GraphOptz] Merge Pad into ChannelwiseQuantized Convolution"
There is already a pass `MergePadIntoConvolution` which merges the Pad into the `Convolution`.
We need this pass to also merge the Pad into the `ChannelwiseQuantizedConvolution` (code should be similar).

[2021-06-07 12:46] levindabhi commented on #4695
Thanks @Hygens  @MaxS1996 for the comments. Here is the summary from the above thread that works for me.

Install clang-9 instead of 8 using `sudo apt install clang-9`
In `update-alternatives` command change `llvm-8` to `llvm-9`
Run `sudo apt-get install python-is-python3` before building glow

[2021-06-09 22:17] balaram-cadence opened #5713 "[torch_glow] undefined symbol when importing torch_glow"
I built pytorch from source and also followed directions in https://github.com/pytorch/glow/blob/master/docs/pytorch.md to make sure torch_glow can be built. When I run tests however, I get undefined symbol error when importing torch_glow.
<pre>
ImportError while loading conftest 'torch_glow/tests/conftest.py'.
tests/conftest.py:4: in <module>
    import torch_glow
torch_glow/__init__.py:1: in <mo

[2021-06-10 10:38] wangshankun commented on #4426
mark，

same issue

[2021-06-14 19:19] balaram-cadence commented on #5713
The problem was due to mixing/matching -stdlib=libc++ (LLVM C++ runtime) and -stdlib=libstdc++ (GNU C++ runtime). The LLVM C++ runtime (libc++) has an __1 decoration symbol, but the GNU C++ runtime libstdc++ lacks the __1 symbol in its name. It causes linker problems for symbols that appears to have the same name. Building pytorch using clang fixed this issue for me.

[2021-06-15 17:28] #5706 closed

[2021-06-16 12:08] mciprian13 opened #5724 "Improve and refactor Reduce operators"
The current reduce operators are all either incomplete or inconsistent.
1. The operator names should simply start with `Reduce` and not `BatchedReduce`. I don't understand why in Glow we have so many operator names starting with `Batched` since it is implied that all of them can process batches.
2. All of them should have a parameter `axes` for specifying multiple axes (and not just one).
3. All o

[2021-06-16 22:37] wuruoyu opened #5727 "Build fails on creating standalone executable bundles"
Hi,

I am trying to build Glow with `GLOW_WITH_BUNDLES` option to create standalone executable bundles and I am following the instructions here: [Creating standalone executable bundles](https://github.com/pytorch/glow/blob/master/docs/AOT.md). It successfully generates ninja build file but fail during building with the following error:

`
[528/725] Generating ../../../bundles/bundle_with_multiple_

[2021-06-18 07:22] wangshankun commented on #5388
-keep-original-precision-for-nodes=Add,Sub,Mul,Div,Exp,SoftMax

[2021-06-18 07:58] mciprian13 opened #5729 "[Quantization] Graph optimizations are not correct"
The graph optimizations should not change the numerical behavior of a graph before/after transformation.
Some graph optimizations for quantized operations change the numerical behavior:
1. Merging multiple `RescaleQuantized` nodes together is not mathematically equivalent with  the fused `RescaleQuantized` because each `RescaleQuantized` changes the dynamic range of the data and hence saturates th

[2021-06-18 07:59] mciprian13 commented on #5729
@jfix71 Do the above problems make sense? Do I have your blessings to solve the mentioned problems?

[2021-06-18 08:41] wangshankun commented on #5388
-keep-original-precision-for-nodes=Div

[2021-06-22 18:22] mciprian13 opened #5731 "[Community] More reviewers needed"
At this point the PR's started to pile up and nobody cares.
It's getting more and more frustrating to contribute to Glow.
The process is even more painful because it feels than only FB is following its interests by gating the PR's to go through its internal tests.
It feels that Glow only belongs to FB while it should belong to the community.
Some of us might even consider to pair and create/mainta

[2021-06-22 19:10] levindabhi commented on #5727
Quick and naive fix: From  `glow/examples/bundles/CMakeLists.txt` ,<br>
remove `add_subdirectory(bundle_with_multiple_entries)`

[2021-06-22 22:50] wuruoyu commented on #5727
thanks!

[2021-06-22 22:50] #5727 closed

[2021-06-28 23:19] balaram-cadence commented on #5713
Our compiler is currently branched off of SHA 39c3f83 of glow and we use Clang10 toolchain and LLVM C++ runtime(stdlib=libc++) to build glow. We are facing compatibility issues[1] if we build from tip of trunk of pytorch and we cannot use the prebuilt pytorch builds because of the above problem.

[code]

What version of pytorch should we use to build torch_glow?
cc: @zrphercule

[2021-06-28 23:58] zrphercule commented on #5713
Thanks for bringing this issue here. I would like to know, if I understand correctly, that you are saying the current pytorch master is conflict with glow/torch_glow 39c3f83, which caused the error shown above?

[2021-06-29 02:11] balaram-cadence commented on #5713
Thanks for taking a look. Yes that is correct.

[2021-06-29 14:14] #5731 closed

[2021-06-29 14:20] mciprian13 opened #5739 "[License] Source files conflict with the Apache2 license"
It seems some of the source files recently introduced in Glow have this copyright:
[code]
This copyright restricts anyone to (re)distribute Glow without Facebook's permission.
The complete list of source files:
[code]

[2021-06-29 14:23] mciprian13 commented on #5739
@jfix71 @opti-mix The license problem formulated above restricts us (NXP) to further make Glow releases/deliverables from a legal point of view. Was this intentional or you forgot to place the regular Apache license that most of the Glow source files have?
[code]
Thanks!

[2021-06-29 17:07] jfix71 commented on #5739
Definite mistake, we will fix this today. Thanks for flagging @mciprian13

[2021-06-29 17:11] mciprian13 commented on #5739
@jfix71 Thanks a lot for the quick response and for the fix 😄

[2021-06-29 18:29] zrphercule commented on #5713
Have you tried to update your torch_glow version to master and see if the problem still exist?

[2021-06-30 17:10] balaram-cadence commented on #5713
On torch_glow version of master I see a different problem when importing torch_glow
<pre>

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "~/w/tug/torch_glow/torch_glow/__init__.py", line 1, in <module>
    from ._torch_glow import *
ImportError: ~/w/tug/torch_glow/torch_glow/_torch_glow.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN4glow5flags43DAGOptimize

[2021-06-30 17:55] mciprian13 commented on #5739
Issue solved!

[2021-06-30 17:55] #5739 closed

[2021-06-30 23:48] zrphercule commented on #5713
This is werid, since the symbol it claims to be missing is here:
https://github.com/pytorch/glow/blob/master/include/glow/Flags/Flags.h#L86
and it is added for a few months already without causing problem.
I wonder when updating torch_glow did you update glow as well?

[2021-07-01 06:18] leejaymin commented on #5731
I agree with your comments. I am a big fan of your works. Thank you for lots of contributions related to quantization and so on.

[2021-07-01 15:25] dberma15 opened #5744 "Py4JJavaError: An error occurred while calling o3218.save when running the "Getting Started Demo""
Hi All,

I'm trying to run the Getting Started Demo (https://glow.readthedocs.io/en/latest/getting-started.html) and I'm getting an error in the "Run `linear_regression`" section, when I run this block:
[code]

The following error I'm getting is
[code]

I'm running this on databricks, using a cluster with runtime version 7.5 Genomics, using pyspark version 3.0.0.dev0 and the latest version of glow

[2021-07-01 16:22] #5744 closed

[2021-07-02 08:43] wangshankun opened #5745 "how to pass compiler option to clang"
armcc  using "--wchar16"

to get Tag_ABI_PCS_wchar_t 2(Bytes)
![image](https://user-images.githubusercontent.com/3970271/124247143-2b973e00-db54-11eb-81c0-a04ff3ca6116.png)

But in glow  -llvm-compiler=" -fshort-wchar" occurred error!

![image](https://user-images.githubusercontent.com/3970271/124247452-787b1480-db54-11eb-81a3-f2fd70df6133.png)

[2021-07-02 19:36] opti-mix commented on #5745
@wangshankun Could you provide the exact complete command line you use to invoke Glow?

Also, can you explain if you are trying to invoke an external clang/llvm from Glow using e.g. options like `--llvm-compiler` and `--llvm-compiler-opt`?

Or are you trying to add more options to the LLVM that is used as a library by Glow when creating the LLVM IR?

[2021-07-04 11:42] wangshankun commented on #5745
@opti-mix  this is whole cmd line:
../glow/build_Debug/bin/model-compiler -load-profile=live_profile.yaml -model=./live_128.onnx \
 -model-input=input,float,[1,1,128,128]  -backend=CPU  -target=thumbv7-linux-gnueabi -mcpu=cortex-r5 -float-abi=soft -emit-bundle=live_128_arm_r5_quanta \
-keep-original-precision-for-nodes=Div -arm-implicit-it=thumb  -llvm-compiler=" -fshort-wchar"

I want using live_

[2021-07-06 20:42] balaram-cadence commented on #5713
Sorry for late reply, I was on vacation and looking at this now. The above problem was a setup issue on my end, after fixing the setup issue on my machine I still see the error[1] on master for the test tests/functionality/to_glow_write_to_onnx_test.py
<pre>
--[1]--

E       RuntimeError: The following operation failed in the TorchScript interpreter.
E       Traceback of TorchScript (most recent c

[2021-07-06 23:00] zrphercule commented on #5713
Hmmm so after your rebase on master, the issue came back to original one?

[2021-07-06 23:24] balaram-cadence commented on #5713
yes, it came back to original one. Can't we use PyTorchModelLoader directly like OnnxModelLoader/Caffe2ModelLoader instead of dependency with pytorch?

[2021-07-06 23:31] zrphercule commented on #5713
Unfortunately we can't, as PyTorchModelLoader is highly depend on pytorch

[2021-07-08 06:55] wangshankun opened #5750 "Could support onnx to C backend"
the function  same to https://github.com/ONNC/onnc；

convert onnx model to  language C source code；

[2021-07-08 23:57] balaram-cadence commented on #5713
I switched from Clang/libc++ to GCC/libstdc++ and built glow and pytorch using same toolchain and do not see the original error now. I don't know why Clang/libc++ toolchain doesn't work. Any thoughts?

[2021-07-09 00:01] zrphercule commented on #5713
That's good to know! Maybe it is because of the version of Clang you are using? I remember for torch_glow there is some specific version requirement for llvm in our CI build: https://github.com/pytorch/glow/blob/master/.circleci/build.sh#L65

[2021-07-09 20:25] #5713 closed

[2021-07-16 21:59] jfix71 commented on #5729
@mciprian13 I think we intended to allow some numerical changes, because they can improve performance, under the assumption that the model could tolerate slight changes in numerics. We have a cctx flag `enableQuantParamChanges` which is sporadically used to disable some optimizations that would change numerics here. I wonder if it would make sense to just skip certain optimizations using a flag li

[2021-07-17 10:45] jaskiratsingh2000 commented on #4647
Hey, I am beginner and super interested to contribute on this. Can you please let me know exactly that what I have to do and where have to make changes?

[2021-07-23 12:28] Lewuathe commented on #5704
@mciprian13 I could not find `stride` parameter in Slice operator of ONNX. Do you mean by that to support the negative index in `starts` and `ends`?

[2021-07-23 12:30] mciprian13 commented on #5704
@Lewuathe It's the `steps` parameter from the the Slice operator of ONNX.

[2021-07-23 13:21] mciprian13 commented on #5729
@jfix71 I was not aware of this flag. Thanks for pointing it out. I will think about using it. Thanks!

[2021-07-23 20:58] tfan-cadence opened #5760 "kl divergence generates different scales for tile node"
Tile node verify function needs the node to have the same input and output scale, but in KL divergence mode, the input scale and output scale are slightly different due to the histogram sampling difference are not perfectly proportional, for example, 1x1x10 following by a tile output 1x1x100, would expect the tile node histogram bin to be exactly 10 times than its input, but it is not a perfect 10

[2021-07-26 15:53] TruongQToan commented on #5464
I met this error too. Another issue that I met is
[code]
I am using MacOS. I will be happy to make a PR for this issue.

[2021-07-27 09:10] miloee opened #5764 "glow/utils/imagenet-process.py could not work"
I tried to use imagenet-process.py to convert imagenet datasheet to png.
The command is "python3 ../glow/utils/imagenet-process.py *.JPEG processed/". The parser does not support.

And then I used the following command: “ls *.JPEG | xargs -I{} python3 ../glow/utils/imagenet-process.py {} processed/”. The result is "AttributeError: 'Image' object has no attribute 'unsqueeze'".

At the end, I tried

[2021-08-03 15:26] wuruoyu opened #5768 "Compiling NLP model"
Hi,

I am trying to use model-compiler to compile NLP model into Ahead Of Time (AOT) compiled executable bundles. I tried with all the
NLP models in [onnx zoo](https://github.com/onnx/models) but none of the onnx models compile. More specifically, I tried to use the following command to compile [bidaf onnx](https://github.com/onnx/models/tree/master/text/machine_comprehension/bidirectional_attenti

[2021-08-04 13:35] dspmihai commented on #3499
Will this code be ever executed? I see in lowerBatchedReduceMeanNode that ReduceMean can only have one axis. @jfix71, @mciprian13 , any idea how it's better to approach this again? I am thinking of lowering ReduceMean to AvgPool in Lower.cpp, if possible. Or maybe lower to multiple ReduceMean, then find the pattern in OptimizeReduceMean (possible error-prone after future optimizations)?

[2021-08-05 03:31] vuzelac-cadence commented on #3499
@dspmihai, lowering is backend controlled. For example, we do use this optimization.

[2021-08-06 04:53] whiteking64 opened #5769 "ninja all fails when -DGLOW_WITH_BUNDLES=ON"
Using Dockerfile in `glow/utils/docker` and entering the environment, I ran `ninja all`.
The build fails when `-DGLOW_WITH_BUNDLES=ON`.
This failure seems to be originated from commit `33000908f505905fe5508ce12aa218fcacc09394` (See `git bisect` result at the end).

In the docker:
[code]

`git bisect` shell script (run.sh, work dir: `/root/work/glow`):
[code]

`git bisect` result:
[code]

Fixing th

[2021-08-06 14:58] whiteking64 commented on #5764
About the first command, the following worked the parsing (but not image processing):
[code]
(Please replace the image dir as necessary)
You need a quotation for setting `input` arg, because the character '*' is expanded by the shell.

`--normalize` mode is by default `False`.
In this case, the final type of `processed_im` is `PIL.Image`.
Since `unsqueeze` is a torch function, this cause the asser

[2021-08-11 15:39] edimetia3d opened #5780 "Is there some road map about torch_glow's JIT developing?"
Hi,

I am trying to implement a cusomt torchscript jit backend, and have got some info at pytorch forum.
https://discuss.pytorch.org/t/is-there-some-document-about-adding-a-custom-jit-backend/128247/2

Follwing advice there, I am trying to implement a jit compiler by adding a "custom post pass", like torch_glow did, and I think this solution is good enough for me now.

However, I noticed that torc

[2021-08-11 15:50] edimetia3d opened #5781 "`tryMerge` of torch_glow's cusom fuse pass might have some issue"
Hi,

I am implementing a custom torchscript jit backend like glow did, and might have found some little issue when custom fuse pass doing [tryMerge](https://github.com/pytorch/glow/blob/567582c50a2bd11dc201ec0ba32081b90c2c6ac1/torch_glow/src/GlowFuser.cpp#L131)

It seems that the fuse pass is implemented in a reverse order, but `tryMerge` tries to fuse producer before consumer.
I am wondering if

[2021-08-23 04:01] glowbucky opened #5789 "NodeSplitting SegFault"
splitNode method throws segfault. I am in “Debug” mode, and using “resnet-runtime” network as the input.

[code]

@mciprian13

[2021-08-23 11:37] mciprian13 commented on #5789
@glowbucky The problem is understandable although not obvious.
Looking in the source code comment here:
https://github.com/pytorch/glow/blob/a9a20240648180ede25e832acd6a9f2aa56859a2/include/glow/Optimizer/GraphOptimizer/NodeSplitting.h#L293-L299
The function deletes the original node after splitting it as a way to clean-up the mess. This means the node iterator gets screwed up:
[code]
You should t

[2021-08-24 05:09] #5789 closed

[2021-08-24 07:20] maekawatoshiki commented on #5769
I have exactly the same problem.

[2021-08-24 15:39] opti-mix commented on #5769
@mciprian13 Could you have a look? Your commit "Improve memory usage for activations" seems to have introduced this issue. Thanks!

[2021-08-24 17:50] mciprian13 commented on #5769
@whiteking64 @maekawatoshiki @opti-mix  The problem seems related to the Docker only. The Glow build on Ubuntu with `-DGLOW_WITH_BUNDLES=ON` runs fine on my side and also in the CI since this type of build is part of the `RELEASE_WITH_EXPENSIVE_TESTS` pipeline. You can check in the CI log:
[code]
I never used Docker so someone else should explain this kind of difference.

[2021-08-24 18:30] mciprian13 commented on #5769
@whiteking64 In the end I reproduced the problem. I`ll have a look on it.

[2021-08-24 20:17] mciprian13 commented on #5769
@whiteking64 Please check that #5796 solves the problem.

[2021-08-25 07:32] mciprian13 commented on #5789
@glowbucky Just as a confirmation did the above instructions solve the problem? Thanks!

[2021-09-08 06:02] glowbucky commented on #1296
Hey @nadavrot I would love to work on this issue. Can you please tell me where should I start, should this be designed as an graph optimization pass?

[2021-09-13 11:40] aarongreig opened #5811 "CIFAR-10 dataset no longer hosted by University of Toronto"
The link for getting the CIFAR-10 dataset in the [download datasets script](https://github.com/pytorch/glow/blob/master/utils/download_datasets_and_models.py#L86) no longer seems to be working. Checking the link with a web browser shows me this:
![image](https://user-images.githubusercontent.com/22745976/133073871-39887737-7ac2-41d1-accb-0a0f736f770f.png)

I don't know of an alternative place this

[2021-09-16 07:54] janakiramreddy3 opened #5816 "Included ImageLayout flag multiple times"
Included "extern ImageLayout inputLayout" flag twice in glow/include/glow/Base/Image.h at line 89 & 92.

[2021-09-17 08:25] nikola-suljagic opened #5818 "Potential small issue in Readme.md->"Configure and Build" section"
Hi everyone,
I am starting with Glow compiler setup, maybe there is small issue in description of executing cmake  in section "Configure and Build".
Here is steps described in main Readme.md

`mkdir build_Debug`
`cd build_Debug`
`cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug ../glow`
`ninja all`

I got path error in third command, because when I follow previous steps I got error that there isn't CMakeLi

[2021-09-23 15:37] aarongreig commented on #5811
oh nice, it's back again :tada:

[2021-09-23 15:37] #5811 closed

[2021-09-23 17:46] jack-willturner commented on #5464
Also on MacOS and also having this issue!

I get:
`error: no matching function for call to 'expectCompareTrue'`

and later:

`error: ambiguous conversion for functional-style cast from 'glow::float16' to 'ssize_t' (aka 'long')`.

Is there a fix for this? Otherwise I will look into it :)

[2021-09-23 21:01] #5764 closed

[2021-09-24 13:30] jack-willturner commented on #5464
OK I found a workaround but I imagine it's quite hacky:

First change this loop:

https://github.com/pytorch/glow/blob/master/lib/Backends/Interpreter/InterpreterNodes.cpp#L8031

to cast the result of `boxesOut.at` from `glow::bfloat16` to `double`:

[code]

I stared at the code for a little while but couldn't figure out what "x" was supposed to be, so have no idea what a sensible variable name fo

[2021-09-29 18:01] mneilly-et opened #5828 "[torch_glow] Missing ERF operator"
Although there is an ERF node the operator is missing from PyTorchModelLoader.

This causes BertForQuestionAnswering to fail with Glow reporting the following error:

[2021-09-29 18:06] mneilly-et opened #5830 "[torch_glow] loadSplit does not support negative dimensions"
loadSplit in PyTorchModelLoader does not currently support negative dimensions. [torch.split()](https://pytorch.org/docs/stable/generated/torch.split.html#torch.split) specs the dimension parameter as an integer but loadSplit currently uses unsigned int.

This causes [BertForQuestionAnswering](https://github.com/huggingface/transformers/blob/2aa3cd935d0f3bcd04ce66be6af4b760493d2ffe/src/transformer

[2021-10-02 14:23] thiagolcmelo commented on #5818
That is a bit misleading indeed, but it says that the `build_Debug` directory is expected to be outside the source directory :)

So:

[code]

[2021-10-04 14:43] nikola-suljagic commented on #5818
Clear clear, thanks :)

[2021-10-04 14:43] #5818 closed

[2021-10-14 08:50] mciprian13 opened #5839 "Glow windows build failure"
With #5838 Glow no longer builds for Windows using Visual Studio because of the following error:
[code]
@protonu Can we remove the `nodiscard` attribute?

[2021-10-15 09:29] #5839 closed, assigned to nobody

[2021-10-21 22:37] mostafaelhoushi opened #5854 "Log Message for each Pass if it Changed the Graph"
Try to add a log message for each pass to print the `changed` boolean that indicates if that pass had any effect on the graph.

[2021-11-14 09:12] RockySong commented on #5479
I downloaded boost source code from
https://boostorg.jfrog.io/artifactory/main/release/1.77.0/source/boost_1_77_0.7z
extract files, and run bootstrap.bat, after a while all is done (I installed VS 2019 first), then
 -DCMAKE_PREFIX_PATH="<others>;<your extract folder>\boost_1_77_0;"

[2021-11-16 00:21] jakubmiernik opened #5868 "Model compilation miss some weights"
A few days ago I tried to compile the model we worked on. It show up it give incorrect outputs after some investigation I realize that in in generated weights some layers are missing,

After recompilation with NXP version of glow it started working, so probably problem is somewhere in latest version or with my compiled version.

Reproduction:
1. Export model to onnx:
[code]

2. Compile:
`model-com

[2021-11-17 20:05] #5828 closed

[2021-11-17 20:06] #5830 closed

[2021-11-30 14:02] grg-ffb commented on #5464
Hi all, I ran into the same issue and got same error-messages. I also tried your fix @jack-willturner but could not build successfully.

[2021-12-01 04:02] JUNSUNGKIM99 commented on #5789
@glowbucky  Hi, i tried to execute node split option. But, i didn't know how to use this optimization option...
How you do this option on resnet?

Thanks

[2021-12-02 04:47] glowbucky commented on #5789
@JUNSUNGKIM99 Unlike other optimizations, there is no pass for nodesplitting. To use it you have to iterate through the graph and select the node you want to split and pass it to the nodesplitting api along with options. like in

[2021-12-02 06:36] JUNSUNGKIM99 commented on #5789
@glowbucky Thank you for your response. But i wonder where i implement this code you represented...
I think, in graphoptimizer.cpp??

[2021-12-20 10:18] LuisTbx opened #5892 "Conv - Relu - BatchNorm WRONG FUSION"
On the BatchNorm paper the order of the layers is: Conv + BN + ReLU. And when this order is respected, the fusion of Conv and BN can be performed without any problem. But, when the order is Conv + ReLU + BN the fusion should not be performed as it leads to numerically different results.

As part of the optimizations done in GLOW the Conv gets always fused to the BN, regardless of the ReLU in betwe

[2022-01-07 13:11] jakubmiernik commented on #5892
It same issue as in: https://github.com/pytorch/glow/issues/5868

Conv and BN seems to be fused as Relu wouldn't be there, which cause incorrect results.

Please address the issue.

[2022-01-10 06:17] jfix71 commented on #5892
Can you describe more how you think this issue is manifested in Glow optimizations, or show some Glow dot graph before/after optimizations?

AFAICT when we have Conv -> ReLU -> BN, there shouldn't be any fusion of the Conv and BN, because the ReLU blocks it. The optimization only applies when the BN input is a Conv:

https://github.com/pytorch/glow/blob/b542083614e6bd8179ac45932cb20500eed9d76f/lib

[2022-01-10 06:42] LuisTbx commented on #5892
I think it has something to do with folding and lowering.

If we apply folding first the ReLU becomes max(0,conv_2d) , so, my wild guess is that because we no longer see the ReLU layer the BN+conv_2d fusion is applied.

I believe there should be a check for operations on layer outputs before doing fusion.

Alternatively we can indicate to do not perform the lowering and folding optimisations / lay

[2022-01-10 20:28] jfix71 commented on #5868
I don't have access to the NXP version. But I tried your test using our torch_glow flow, by adding a test to `torch_glow/tests/nodes/batchnorm2d_test.py`:

[code]

And I was unable to reproduce this issue on our latest master. If you can provide a reproduction of the issue via this flow then it'd be easier to diagnose. CC: @LuisTbx

[2022-01-10 21:11] LuisTbx commented on #5868
@jfix71 thanks for having a look into this issue. I'm having a look to utils.compare_tracing_methods(), if we pass the argument fusible_ops=BN,Conv2D it should fail the same way as the test from @jakubmiernik , as the error comes from trying to use the lowered ReLU layer.

[2022-01-11 20:05] jfix71 commented on #5868
@jakubmiernik Thanks for finding/investigating this. I agree this is a bug. I have put up https://github.com/pytorch/glow/pull/5898 which should hopefully fix it -- please try this PR locally and let me know if it works for you.

[2022-01-11 23:53] jakubmiernik commented on #5868
@jfix71 Thanks for patch,

It seems like it's not enough:
When trying to compile now it's failing with:

[code]

[2022-01-12 05:33] jfix71 commented on #5868
Well, I believe most ops aren't supported in FP16 on the CPU Backend, so this makes sense to some extent. It'd be good to understand what the stack trace is for that issue though. Because generally we shouldn't see any BatchNormalization nodes at all for the CPU backend, as they should be lowered to other nodes here: https://github.com/pytorch/glow/blob/00b843b48ba5ca1fcaa711d925cbae534f397da9/lib

[2022-01-12 12:06] jakubmiernik commented on #5868
@jfix71 It's not FP16 operation as I understand. float<16> here mean float buffer with size 16.

Output I give there is with your patch (https://github.com/pytorch/glow/pull/5898) applied, so it turned off fuse conv with BN because conv have already activations modified by RelU. Do I miss something?

[2022-01-12 12:17] LuisTbx commented on #5868
Your parch deactivates the lowering of the BN if there is a ReLU. But we should not remove this optimisation.

I think the way to go would be to apply the lowering of the BN: apply the formula to the output of the tensor with the already lowered ReLU.

Curently, what happens instead is that glow tries to fuse BN with the conv despite the lowered ReLU.

[2022-01-12 17:40] jfix71 commented on #5868
Whoops. Yeah misread it.

That's correct.

The patch keeps the optimization in place but makes it only apply when the conv doesn't have a fused activation.

I think the term "lower" is overloaded generally. Let make sure we're on the same page: First the whole graph is loaded in as a series of Glow nodes. So we have Conv-Relu-BN nodes.

Next, the Conv and Relu nodes are fused into a single node. S

[2022-01-12 18:28] jakubmiernik commented on #5868
@jfix71 Thanks for explanation. I think we are on same page. The only difference is that I didn't expect BN to split on different operations, and this was a part where we were misunderstood I think.

Here is a full error output from running model-compilation on our model:
[code]
Multiple error about BN is coming from fact that I tested it on model with multiple conv-relu-BN blocks.

[2022-01-14 21:21] jfix71 commented on #5868
Unfortunately I'm not able to reproduce this issue on my end at least on our current master. I'm going to at least land the fix as is. If you can reproduce it on master please let me know and I can investigate further.

[2022-01-14 21:41] jakubmiernik commented on #5868
Hi,

On this hash: cf84c739cdd77d6d0de4e686e872b23e5c5f7f57 from your PR it's impossible now to compile model with conv-relu-BN.

Please take this model:  [test_nn.zip](https://github.com/pytorch/glow/files/7873358/test_nn.zip) (I had to zip it because of gihub rules)
It's gen from script from start of issue.

When you run something like this:
[code]
You will get error like this:
[code]

IMHO it s

[2022-01-14 23:45] jfix71 commented on #5868
@jakubmiernik Thanks -- I was able to repro and determined the issue. I will try to get a fix up soon, either in https://github.com/pytorch/glow/pull/5898 or separately.

BTW -- I may still land https://github.com/pytorch/glow/pull/5898 as is, i.e. where it causes explicit breakage for you. The current state of the codebase instead silently messes up numerics. I think it's preferable that we expli

[2022-01-15 01:04] jfix71 commented on #5868
@jakubmiernik https://github.com/pytorch/glow/pull/5901 should fix this when combined with https://github.com/pytorch/glow/pull/5898.

[2022-01-19 00:27] #5868 closed

[2022-01-19 00:27] #5892 closed

[2022-01-21 11:22] mhmdkanj opened #5903 "Generated bundle license specification"
Hi,

It appears to be a bit vague whether the files generated by the `model-compiler` are placed under this project's license or the user's own one.
The files in question refer to the header (`.h`), object (`.o`), weights (`.weights.txt`) and bin (`.bin`) files of a user-generated standalone glow-compiled static bundle.

For instance, other projects tend to allow the user's license to apply to gen

[2022-01-21 12:57] jakubmiernik commented on #5868
@jfix71 Sorry it took me so long :)

I tested it on my side and indeed now it seems to work fine.
Thank you for this fix

[2022-02-01 13:43] jakubmiernik opened #5909 "-quantization-precision=Int16 cause no quantization at all"
Hello.

Seems like there is and issue during compiling model by `model-compiler` with `-quantization-precision=Int16` option. When trying to compile with int16 precision model is fully float after compilation, all quantization is ignored.

Reproduction:
1. Export model to ONNX:
[code]

2. Profile model (prepare some random input before in nn_profile of size 128):
[code]

3. Compile model:
[code]

[2022-02-01 18:33] jfix71 commented on #5909
@jakubmiernik The CPU backend doesn't really have support for Int16 quantized types. IIRC if the backend doesn't support quantization for specific ops with that precision then it will skip quantizing the op to that precision.

[2022-02-01 19:46] jakubmiernik commented on #5909
@jfix71 Thanks for the answer.

Few questions in this topic:
1. Is there some target that has int16 nodes implemented?
2. Is quantization to int16 done? I mean whole quantization of weights process, types etc
3. Implementing int16 layers would cause this option to work?

[2022-02-08 10:29] jakubmiernik commented on #5909
@jfix71 I started digging into it. I added convolution using int16, but something seems to not work fine.

I dig some more and I'm wondering if quantization to int16 is for sure implemented. I found stuff like quantizeScaleOffset32To8 to calculate scale for outputs, but it's only for int8, not for int16.

Could you also point me to some tests of quantized layers if there are any? (I found only TES

[2022-02-25 07:28] pratham-saraf commented on #4647
hey @ugaresuyash
i would like to know regarding status of this issue
and if its still open i would like to try it.
Also can you please point me from where to start regarding this
regards

[2022-03-03 14:59] et-nivard opened #5919 "Softmax Node has useless input operand (selected)?"
Softmax Node has a second input named "selected" https://github.com/pytorch/glow/blob/master/tools/ClassGen/NodeGen.cpp#L374 which doesn't seem to be used at all. Actually, Softmax instruction doesn't have this extra input https://github.com/pytorch/glow/blob/master/tools/ClassGen/InstrGen.cpp#L300 and there is no specific lowering between them. Only in the case of gradient version it seems to hav

[2022-03-03 15:27] et-nivard opened #5920 "MaxPool is assuming same scale/offset on quantized element kind types?"
AvgPool implementation on Interpreter is correctly handling different scale/offset in the input and output results. However, MaxPool seems to be assuming same scale/offset and results in inconsistent results in case scale/offset change between input and output operands. Is this an intended behavior? Maybe some constraint coming from expected quantization schema? If this is the case, is there any p

[2022-03-03 19:14] jfix71 commented on #5919
I believe this is used when doing training. E.g. see IRGen for SoftMaxGrad

https://github.com/pytorch/glow/blob/d54671836d6a00eb86d5c117707a557d1d4945de/lib/IR/IRGen.cpp#L222-L239

[2022-03-03 19:17] jfix71 commented on #5920
Yeah, I think this was based on the expected quantization schema, where MaxPool is more like a select and only does comparisons to determine which elements to select, and doesn't do any scaling of the values. I think it's reasonable to add support for different output scale/offset if it's desired.

[2022-03-04 08:45] et-nivard commented on #5920
Thanks @jfix71, make sense.

[2022-03-04 08:45] #5920 closed

[2022-03-04 08:53] et-nivard commented on #5919
Yes, I know. But why does SoftMax Node also contain this input operand? Is it required due to some relationship or flow between SoftMax and SoftMaxGrad? If not, why not removing it? It seems like redundant code to me.

[2022-03-05 00:26] jfix71 commented on #5919
Yes, after differentiation it is also passed as an input into `SoftMaxGradNode`, and is used there. See screenshot below of an example dot, from MLTest's `classifyPlayerSport`:

<img width="674" alt="smg" src="https://user-images.githubusercontent.com/1198212/156858984-3a5356aa-82d6-47bc-8c8b-846997fd0042.png">

We include it in the `SoftMaxNode` so that when we autogenerate the `SoftMaxGradNode`

[2022-03-08 10:40] janakiramreddy3 opened #5922 "Training support in torch_glow module"
I want to train a simple model using torch_glow module using the glow CPU backend. Is there any way to provide the training graph to glow from pytorch? or do we need to provide the forward graph (trace/script) to the glow, and use glow's differentiation function to run the backward graph?

[2022-03-11 12:51] et-nivard commented on #5919
OK, got it. Thanks.

[2022-03-11 12:51] #5919 closed

[2022-03-16 14:36] et-nivard opened #5926 "FullyConnected with quantized activations and float bias failing on Interpreter"
Interpreter is reporting FullyConnected operators with quantized activations and float bias as supported: see https://github.com/pytorch/glow/blob/master/lib/Backends/Interpreter/Interpreter.cpp#L192. But when trying it's implementation I'm hitting the assert here https://github.com/pytorch/glow/blob/master/lib/Backends/Interpreter/InterpreterNodes.cpp#L315 because the implementation relies on tem